steps:
- script: |
    set -x

    DIFF_FOLDERS=$(git diff HEAD^ HEAD --name-only | xargs -n1 dirname | sort -u | tr '\n' ' ')
    echo -n "##vso[task.setvariable variable=DIFF_FOLDERS]$DIFF_FOLDERS"
  displayName: "Get diff folders"

- script: |
    set -x

    pip install PyYAML
    pip install natsort

    sudo apt-get upgrade
    sudo apt-get install -y jq

    FINAL_FEATURES=""
    echo "$(DIFF_FOLDERS)"
    IFS=' ' read -ra FEATURES_LIST <<< "$(DIFF_FOLDERS)"
    for FEATURE in "${FEATURES_LIST[@]}"
    do
      # If changes contains the common part in tests folder,the scope of PR testing is all test scripts.
      if [[ "$FEATURE" == *tests/common* ]]; then
        FINAL_FEATURES=""
        break

      # If changes only limited to specific feature, the scope of PR testing is impacted area.
      elif [[ "$FEATURE" =~ \/tests\/.+\/.+\.py$ ]]; then
        if [[ -z "$FINAL_FEATURES" ]]; then
          FINAL_FEATURES="${FEATURE#tests/}"
        else
          FINAL_FEATURES="$FINAL_FEATURES,${FEATURE#tests/}"
        fi

      # If changes related to other folders excpet tests, we also consider them as common part.
      # The scope of PR testing is all test scripts.
      else
        FINAL_FEATURES=""
        break
      fi
    done

    if [ -z "$FINAL_FEATURES" ]; then
      TEST_SCRIPTS=$(python ./.azure-pipelines/impacted_area_testing/get_test_scripts.py --features "" --location tests)
    else
      TEST_SCRIPTS=$(python ./.azure-pipelines/impacted_area_testing/get_test_scripts.py --features ${FINAL_FEATURES} --location tests)
    fi

    PR_CHECKERS=$(echo "${TEST_SCRIPTS}" | jq -c 'keys')

    echo "##vso[task.setvariable variable=PR_CHECKERS;isOutput=true]$PR_CHECKERS"
    echo "##vso[task.setvariable variable=TEST_SCRIPTS;isOutput=true]$TEST_SCRIPTS"
  name: SetVariableTask
  displayName: "Get impacted area"
