parameters:
  - name: BUILD_BRANCH
    type: string
    default: 'master'
  - name: TARGET_BRANCH
    type: string
    default: 'origin/master'
  - name: SOURCE_BRANCH
    type: string
    default: ''
  - name: IMPACT_AREA_INFO
    type: object
    default: {}

steps:
- script: |
    echo "##vso[task.setvariable variable=BUILD_BRANCH]${{ parameters.BUILD_BRANCH }}"
    sudo apt-get -o DPkg::Lock::Timeout=600 -y install jq
  displayName: "Setup environment"

- ${{ if and(ne(parameters.IMPACT_AREA_INFO, ''), ne(length(parameters.IMPACT_AREA_INFO), 0)) }}:
  - script: |
      IMPACT_AREA_INFO='${{ convertToJson(parameters.IMPACT_AREA_INFO) }}'
      echo "Input impact area info: $IMPACT_AREA_INFO"
      TEST_SCRIPTS=$(echo "$IMPACT_AREA_INFO" | jq -c '.')
      PR_CHECKERS=$(echo "${TEST_SCRIPTS}" | jq -c 'keys')
      echo "Impact area was pre-defined."
      echo "Impact area info: $IMPACT_AREA_INFO"
      echo "Pre-defined test scripts: ${TEST_SCRIPTS}"
      echo "Pre-defined PR checkers: ${PR_CHECKERS}"
      echo "##vso[task.setvariable variable=PR_CHECKERS;isOutput=true]${PR_CHECKERS}"
      echo "##vso[task.setvariable variable=TEST_SCRIPTS;isOutput=true]${TEST_SCRIPTS}"
    name: VerifyParams
    displayName: "Process pre-defined impact area"
- ${{ else }}:
  - script: |
      echo "Impact area was not pre-defined."
      TEST_SCRIPTS=""
      PR_CHECKERS=""
      echo "##vso[task.setvariable variable=PR_CHECKERS;isOutput=true]${PR_CHECKERS}"
      echo "##vso[task.setvariable variable=TEST_SCRIPTS;isOutput=true]${TEST_SCRIPTS}"
    name: VerifyParams
    displayName: "Set empty impact area variables"


- script: |
    set -e  # Exit immediately if a command exits with a non-zero status
    set -u  # Treat unset variables as an error
    set -o pipefail  # Return the exit status of the last command in the pipeline that failed

    TEST_SCRIPTS='$(VerifyParams.TEST_SCRIPTS)'
    PR_CHECKERS='$(VerifyParams.PR_CHECKERS)'
    if [[ -n "$TEST_SCRIPTS" && -n "$PR_CHECKERS" ]]; then
      echo "Impact area was pre-defined, skip get impacted area step."
      echo "##vso[task.setvariable variable=PR_CHECKERS;isOutput=true]$PR_CHECKERS"
      echo "##vso[task.setvariable variable=TEST_SCRIPTS;isOutput=true]$TEST_SCRIPTS"
      exit 0
    fi

    git fetch origin
    echo "Fetching changes from origin rc = $?"
    echo "BUILD_BRANCH (parameter): ${{ parameters.BUILD_BRANCH }}"
    echo "GIT BRANCH: `git branch`"
    if [[ "${{ parameters.BUILD_BRANCH }}" == origin/* ]]
    then
      TARGET_BRANCH="${{ parameters.BUILD_BRANCH }}"
    else
      TARGET_BRANCH="origin/${{ parameters.BUILD_BRANCH }}"
    fi
    SOURCE_BRANCH=`git rev-parse HEAD`
    echo "SOURCE_BRANCH: $SOURCE_BRANCH"
    echo "TARGET_BRANCH: $TARGET_BRANCH"
    CHANGED_FILES=$(git diff --name-only $TARGET_BRANCH | tr '\n' ' ')
    echo "Changed files:"
    echo "$CHANGED_FILES"
    if [ -z "$CHANGED_FILES" ]
    then
      echo "No changed files"
      PR_CHECKERS="[]"
      TEST_SCRIPTS="{}"
    else
      IMPACTED_TESTS=$(python ./.azure-pipelines/impacted_area_testing/detect_function_changes.py --modified_files $CHANGED_FILES --feature_branch $SOURCE_BRANCH --target_branch $TARGET_BRANCH --directory tests --no-log)
      echo "Impacted tests:"
      echo "$IMPACTED_TESTS"

      if [[ -n "$IMPACTED_TESTS" ]]; then
        IMPACTED_TEST_SCRIPTS=$(echo "$IMPACTED_TESTS" | jq -r '(.tests // []) | join(" ")')
        TEST_SCRIPTS=$(python ./.azure-pipelines/impacted_area_testing/categorize_test_scripts_by_topology.py --files $IMPACTED_TEST_SCRIPTS)
        echo "Test scripts:"
        echo "$TEST_SCRIPTS"
        PR_CHECKERS=$(echo "${TEST_SCRIPTS}" | jq -c 'keys')
        rc=$?
        echo "PR checkers:"
        echo "$PR_CHECKERS"
        if [[ $rc -ne 0 ]]; then
          echo "##vso[task.complete result=Failed;]Get valid PR checkers fails."
          exit 1
        fi
      else
        echo "No impacted tests found."
        PR_CHECKERS="[]"
        TEST_SCRIPTS="{}"
      fi
    fi
    echo "##vso[task.setvariable variable=PR_CHECKERS;isOutput=true]$PR_CHECKERS"
    echo "##vso[task.setvariable variable=TEST_SCRIPTS;isOutput=true]$TEST_SCRIPTS"

  name: SetVariableTask
  continueOnError: false
  displayName: "Get impacted area"
