{% set host = configuration[hostname] %}
{% set mgmt_ip = ansible_host %}
{% set ethernet_intf_pattern = "GigabitEthernet0/0/0/" %}
{% set port_channel_pattern = "Bundle-Ether" %}
!
hostname {{ hostname }}

username {{ cisco_login }}
 group root-lr
 group cisco-support
 secret 0 {{ cisco_password }}
!

snmp-server community strcommunity RO

interface MgmtEth0/RP0/CPU0/0
 ipv4 address {{ mgmt_ip }}/{{ mgmt_prefixlen }}
 no shutdown
!
{% if host['bp_interface'] is defined %}
interface {{ bp_ifname }}
{% if host['bp_interface']['ipv4'] is defined %}
 ip address {{ host['bp_interface']['ipv4'] }}
{% endif %}
{% if host['bp_interface']['ipv6'] is defined %}
 ipv6 address {{ host['bp_interface']['ipv6'] }}
{% endif %}
 no shutdown
!
{% endif %}
{% for name, iface in host['interfaces'].items() %}
{% if name.startswith('Ethernet') %}
interface {{ ethernet_intf_pattern }}{{ name | regex_replace('Ethernet', '') | int }}
{% elif name.startswith('Port-Channel') %}
interface {{ port_channel_pattern }}{{ name | regex_replace('Port-Channel', '') | int }}
{% else %}
interface {{ name }}
{% endif %}
{% if iface['ipv4'] is defined %}
 ipv4 address {{ iface['ipv4'] }}
{% endif %}
{% if iface['ipv6'] is defined %}
 ipv6 address {{ iface['ipv6'] }}
{% endif %}
{% if iface['lacp'] is defined %}
 bundle id {{ iface['lacp'] }} mode active
{% endif %}
{% if not name.startswith('Loopback') and not name.startswith('Port-Channel') %}
 lldp
  enable
{% endif %}
 no shutdown
!
{% endfor %}
!
ssh server v2
end
