{
    "{{ db_table_name }}": {
        "{{ peer_addr }}": {
            "admin_status": "up",
                "asn": "{{ asn }}",
                "holdtime": "10",
                "keepalive": "3",
                "local_addr": "{{ local_addr }}",
                "name": "{{ peer_name }}",
                "nhopself": "0",
                "rrclient": "0"
        }
    }
}

