[Unit]
Description=Database container
Requires=docker.service
After=docker.service

[Service]
User=acsadmin
ExecStart=/usr/bin/docker start -a database
ExecStop=/usr/bin/docker stop database

[Install]
WantedBy=multi-user.target
