##############################################################################################
### playbook to deploy the Dell R740 and R750 server
### Use this playbook to deploy the server used in testbeds
################################################################################################
# The following block creates and configures user azure
- name: Set init credential
  set_fact:
    ansible_user: "{{ init_user }}"
    ansible_password: "{{ init_password }}"
    ansible_sudo_pass: "{{ init_sudo_pass }}"

- name: Create user azure
  user:
    name: "{{ server_user }}"
    state: present
    home: "/home/{{ server_user }}"
    groups: sudo
    append: yes
    shell: /bin/bash

- name: Grant NOPASSWD to sudo group
  shell: sed -i "/^%sudo\s*ALL=(ALL:ALL)\s*ALL$/ c\%sudo ALL=(ALL:ALL) NOPASSWD:ALL" /etc/sudoers

- name: Rotate the password
  shell: "echo {{ server_user }}:{{ ansible_altpasswords[0] }} | sudo chpasswd"
  ignore_errors: true

- name: Switch to user azure
  set_fact:
    ansible_user: "{{ server_user }}"
    ansible_password: "{{ server_password }}"

- name: Set home directory mode
  file:
    path: "/home/{{ server_user }}"
    mode: "0755"

# The following block does some basic prep

- name: Update apt
  apt:
    update_cache: yes

- name: Load host_vars variable
  include_vars: "host_vars/{{ inventory_hostname | upper }}.yml"

- name: Install ifconfig
  package:
    name: net-tools
    state: present

# The following block renames mgmt interface

- set_fact:
    netplan_installer_config_path: "/etc/netplan/00-installer-config.yaml"
    persistent_net_path: "/etc/udev/rules.d/70-persistent-net.rules"
    target_mgmt_intf_name: "eno1"
    target_br_name: "br1"

- name: Verify mgmt interface up
  shell: ifconfig | grep {{ ansible_host }} -E1 | head -1 | grep -o "<[A-Z,]*UP[A-Z,]*>"

- name: Find mgmt interface name
  shell: ifconfig | grep {{ ansible_host }} -E1 | grep -o "^\w*"
  register: mgmt_intf_name

- set_fact: mgmt_intf_name="{{ mgmt_intf_name.stdout }}"

- name: Print mgmt interface name
  debug:
    msg: "mgmt interface of {{ ansible_host }} is {{ mgmt_intf_name }}"

- name: Rename mgmt interface
  when: mgmt_intf_name != target_mgmt_intf_name and mgmt_intf_name != target_br_name
  block:
    - name: Find PCI id of mgmt interface
      shell: ls -la /sys/class/net/ | grep -i "{{ mgmt_intf_name }}$" | grep -o "[^/]*/[^/]*/[^/]*$" | grep -o "^[^/]*"
      register: mgmt_intf_pci_id

    - set_fact: mgmt_intf_pci_id="{{ mgmt_intf_pci_id.stdout }}"

    - name: Print PCI id of mgmt interface
      debug:
        msg: "PCI id of mgmt interface {{ mgmt_intf_name }} is {{ mgmt_intf_pci_id }}"

    - name: Rename mgmt interface
      shell: sed -i "s/{{ mgmt_intf_name }}/{{ target_mgmt_intf_name }}/g" {{ netplan_installer_config_path }}

    - name: Add line to persistent-net.rules
      shell: echo "ACTION==\"add\", SUBSYSTEM==\"net\", KERNELS==\"{{ mgmt_intf_pci_id }}\", NAME:=\"{{ target_mgmt_intf_name }}\"" > {{ persistent_net_path }}

    - name: Reboot
      reboot:
        msg: "Reboot to apply mgmt interface name change"

    - name: Verify mgmt interface up
      shell: ifconfig | grep {{ ansible_host }} -E1 | head -1 | grep -o "<[A-Z,]*UP[A-Z,]*>"

    - name: Verify mgmt interface name changed successfully
      shell: ifconfig | grep {{ ansible_host }} -E1 | grep -o "^\w*" | grep -xF {{ target_mgmt_intf_name }}

    - name: Print mgmt interface name changed successfully
      debug:
        msg: "Mgmt interface name changed successfully from {{ mgmt_intf_name }} to {{ target_mgmt_intf_name }}"

    - set_fact: mgmt_intf_name="{{ target_mgmt_intf_name }}"

# The following block renames Mellanox interfaces

- name: Find Mellanox NIC PCI id
  shell: lspci -D | grep -i ethernet | grep -i Mellanox | grep -o "^[^ ]*"
  register: mellanox_intf_pci_id

- set_fact: mellanox_intf_pci_id="{{ mellanox_intf_pci_id.stdout.splitlines() }}"

- name: Print PCI id of Mellanox interfaces
  debug:
    msg: "PCI id of Mellanox interfaces is {{ mellanox_intf_pci_id }}"

- name: Fill out mellanox_intf_pci_id_to_name_map
  set_fact:
    mellanox_intf_pci_id_to_name_map: "{{ mellanox_intf_pci_id_to_name_map | default({}) | combine ({item: \"ens4f\" + (i | string)}) }}"
  loop: "{{ mellanox_intf_pci_id }}"
  loop_control:
    index_var: i

- name: Print PCI id of Mellanox interfaces
  debug:
    msg: "PCI id of Mellanox interfaces is {{ mellanox_intf_pci_id_to_name_map }}"

- name: Check Mellanox interfaces name
  shell: ls -la /sys/class/net/ | grep -i {{ item.key }} | grep -o "[^/]*$" | grep -xF {{ item.value }}
  register: result
  loop: "{{ mellanox_intf_pci_id_to_name_map | dict2items }}"
  ignore_errors: True

- name: Unfold result
  set_fact:
    check_pass: "{{ check_pass | default(True) and item.rc == 0 }}"
  loop: "{{ result.results }}"

- name: Rename Mellanox interface
  when: not check_pass
  block:
    - name: Add line to persistent-net.rules
      shell: echo "ACTION==\"add\", SUBSYSTEM==\"net\", KERNELS==\"{{ item.key }}\", NAME:=\"{{ item.value }}\"" >> {{ persistent_net_path }}
      loop: "{{ mellanox_intf_pci_id_to_name_map | dict2items }}"

    - name: Reboot
      reboot:
        msg: "Reboot to apply Mellanox interfaces name change"

    - name: Verify Mellanox interfaces name changed successfully
      shell: ls -la /sys/class/net/ | grep -i {{ item.key }} | grep -o "[^/]*$" | grep -xF {{ item.value }}
      loop: "{{ mellanox_intf_pci_id_to_name_map | dict2items }}"

    - name: Print Mellanox interfaces name changed successfully
      debug:
        msg: "Mellanox interfaces name changed successfully"

# The following block applies netplan testbed config

- set_fact:
    netplan_testbed_config_path: "/etc/netplan/50-testbed-config.yaml"

- name: Check if netplan_installer_config exists
  stat:
    path: "{{ netplan_installer_config_path }}"
  register: stat_result

- name: Backup initial netplan config
  shell: mv {{ netplan_installer_config_path }} {{ netplan_installer_config_path }}.bak
  when: stat_result.stat.exists

- name: Check if netplan_testbed_config exists
  stat:
    path: "{{ netplan_testbed_config_path }}"
  register: stat_result

- name: Apply new netplan config
  when: not stat_result.stat.exists
  block:
    - name: Create new netplan config
      template:
        src: 50-testbed-config.yaml
        dest: "{{ netplan_testbed_config_path }}"

    - name: Apply new netplan
      shell: netplan apply

    - name: Verify bridge up
      shell: ifconfig {{ mgmt_bridge }} | head -1 | grep -o "<[A-Z,]*UP[A-Z,]*>"

    - name: Verify bridge IP set successfully
      shell: ifconfig {{ mgmt_bridge }} | head -2 | tail -1 | grep -o "[0-9.]*" | head -1 | grep -xF {{ ansible_host }}

    - name: Verify mgmt interface up
      shell: ifconfig {{ mgmt_intf_name }} | head -1 | grep -o "<[A-Z,]*UP[A-Z,]*>"

    - name: Verify Mellanox interface up
      shell: ifconfig {{ external_port }} | head -1 | grep -o "<[A-Z,]*UP[A-Z,]*>"

    - name: Print new netplan config applied successfully
      debug:
        msg: "New netplan config applied successfully"

# The following block configures ifupdown

- set_fact:
    external_port_path: "/etc/network/interfaces.d/external_port"

- name: Install ifupdown
  package:
    name: ifupdown
    state: present

- name: Check if external_port exists
  stat:
    path: "{{ external_port_path }}"
  register: stat_result

- name: Create external_port
  template:
    src: external_port
    dest: "{{ external_port_path }}"
  when: not stat_result.stat.exists

- name: Print ifupdown config applied successfully
  debug:
    msg: "Ifupdown config applied successfully"

# The following block configures timesyncd

- set_fact:
    ntp_config_path: "/etc/systemd/timesyncd.conf"
    ntp_server: "{{ ntp_servers[0] }}"

- name: Check if NTP server config is correct
  shell: systemctl status systemd-timesyncd.service | grep Status | grep -o "[^0-9]{{ ntp_server | regex_escape }}[^0-9]"
  register: ntp_server_check_result
  ignore_errors: True

- name: Config NTP server
  when: ntp_server_check_result.rc != 0
  block:
    - name: Config NTP server
      shell: sed -i "s/#NTP=/NTP={{ ntp_server }}/g" {{ ntp_config_path }}

    - name: Restart timesyncd
      systemd:
        name: systemd-timesyncd.service
        state: restarted

    - name: Check if NTP server config is correct
      shell: systemctl status systemd-timesyncd.service | grep Status | grep -o "[^0-9]{{ ntp_server }}[^0-9]"

# The following block configures swap

- set_fact:
    fstab_path: "/etc/fstab"
    target_swap_size: "256"

- name: Find swap info
  shell: swapon --show | tail -n +2 | awk '{print $3}' | grep -o "[0-9]*G$" | tr -d G
  register: beginning_swap_info

- name: Calculate beginning swap size
  set_fact:
    beginning_swap_size: "{{ beginning_swap_info.stdout_lines | map('int') | sum }}"

- name: Print beginning swap size
  debug:
    msg: "Beginning total swap size is {{ beginning_swap_size }}"

- name: Expand swap size
  when: beginning_swap_size | int < target_swap_size | int
  block:
    - name: Find all swap files
      shell: swapon --show | grep file | awk '{print $1}'
      register: current_swap_files

    - name: Turn off swap files
      shell: swapoff -v {{ item }}
      loop: "{{ current_swap_files.stdout_lines }}"

    - name: Remove entries from fstab
      shell: sed -i "/^\{{ item | regex_escape | replace('/', '\/') }}\s/d" {{ fstab_path }}
      loop: "{{ current_swap_files.stdout_lines }}"

    - name: Remove swap files
      file:
        path: "{{ item }}"
        state: absent
      loop: "{{ current_swap_files.stdout_lines }}"

    - name: Find swap info
      shell: swapon --show | tail -n +2 | awk '{print $3}' | grep -o "[0-9]*G$" | tr -d G
      register: current_swap_info

    - name: Calculate current swap size
      set_fact:
        current_swap_size: "{{ current_swap_info.stdout_lines | map('int') | sum }}"

    - name: Calculate swap file size
      set_fact:
        swap_file_size: "{{ target_swap_size | int - current_swap_size | int }}"

    - set_fact:
        swap_file_path: "/swap.{{ swap_file_size }}g.img"

    - name: Print creating swap file
      debug:
        msg: "Creating swap file {{ swap_file_path }} of size {{ swap_file_size }}"

    - name: Create swap file
      shell: fallocate -l {{ swap_file_size }}G {{ swap_file_path }}

    - name: Change swap file permission
      file:
        path: "{{ swap_file_path }}"
        mode: "600"

    - name: Mkswap
      shell: mkswap {{ swap_file_path }}

    - name: Turn on swap file
      shell: swapon {{ swap_file_path }}

    - name: Add entry to fstab
      shell: echo "{{ swap_file_path }} none swap sw 0 0" >> {{ fstab_path }}

    - name: Find swap info
      shell: swapon --show | tail -n +2 | awk '{print $3}' | grep -o "[0-9]*G$" | tr -d G
      register: ending_swap_info

    - name: Calculate current swap size
      set_fact:
        ending_swap_size: "{{ ending_swap_info.stdout_lines | map('int') | sum }}"

    - name: Verify swap size
      fail:
        msg: "Swap size is not correctly set to {{ target_swap_size }} but {{ ending_swap_size }}"
      when: ending_swap_size != target_swap_size

    - name: Print created swap file successfully
      debug:
        msg: "Created swap file {{ swap_file_path }} of size {{ swap_file_size }} successfully"

    - name: Print ending swap size
      debug:
        msg: "Current total swap size is {{ ending_swap_size }}"

# The following block installs docker

- set_fact:
    preinstall_package_list:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    docker_package_list:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    key_ring_path: "/etc/apt/keyrings"
    docker_url: "https://download.docker.com/linux/ubuntu"
    docker_key_url: "https://download.docker.com/linux/ubuntu/gpg"
    key_file_name: "docker.gpg"
    docker_source_name: "docker.list"
    docker_source_path: "/etc/apt/sources.list.d/docker.list"

- name: Gather package facts
  package_facts:
    manager: auto

- name: Install docker
  when: packages is not superset(docker_package_list)
  block:
    - name: Install preinstall packages
      package:
        name: "{{ preinstall_package_list }}"
        state: present

    - name: Create directory
      file:
        path: /etc/apt/keyrings
        state: directory

    - name: Get docker key
      shell: curl -fsSL "{{ docker_key_url }}" | gpg --dearmor -o "{{ key_ring_path }}/{{ key_file_name }}" --no-tty

    - name: Find architecture
      shell: dpkg --print-architecture
      register: arch

    - name: Find lsb
      shell: lsb_release -cs
      register: lsb

    - name: Create docker source file
      template:
        src: "{{ docker_source_name }}"
        dest: "{{ docker_source_path }}"

    - name: Update apt
      apt:
        update_cache: yes

    - name: Install docker packages
      package:
        name: "{{ docker_package_list }}"
        state: present

    - name: Test docker ps
      shell: docker ps

- name: Add user to docker group
  shell: usermod -aG docker azure

# Miscellaneous

- set_fact:
    sysinfo_path: "/etc/update-motd.d/50-landscape-sysinfo"

- name: Check if sysinfo exists
  stat:
    path: "{{ sysinfo_path }}"
  register: stat_result

- name: Backup sysinfo
  shell: mv {{ sysinfo_path }} {{ sysinfo_path }}.bak
  when: stat_result.stat.exists

# The following block switchs to using cgroupv1

- set_fact:
    grub_path: "/etc/default/grub"

- name: Find cgroup version
  shell: docker info | grep "Cgroup Version:" | awk '{print $3}'
  register: cgroup_version

- name: Switch to using cgroupv1
  when: cgroup_version.stdout == "2"
  block:
    - name: Add kernel parameter to grub config
      shell: sed -i "s/^GRUB_CMDLINE_LINUX_DEFAULT=\"[^\"]*/& systemd.unified_cgroup_hierarchy=0/g" "{{ grub_path }}"

    - name: Update grub
      shell: update-grub

    - name: Reboot
      reboot:
        msg: "Reboot to apply grub config change"

    - name: Find cgroup version
      shell: docker info | grep "Cgroup Version:" | awk '{print $3}'
      register: new_cgroup_version
      failed_when: new_cgroup_version.stdout != "1"

    - name: Print switched to using cgroupv1 successfully
      debug:
        msg: "Switched to using cgroupv1 successfully"
