##############################################################################################
### playbook to deploy the Dell R740 and R750 server
### Use this playbook to deploy the server used in testbeds
################################################################################################

- include_tasks: setup_mgmt_access_bjw.yml
  when: "'bjw' in inventory_hostname"

- include_tasks: setup_mgmt_access.yml
  when: "'bjw' not in inventory_hostname"

- include_tasks: server_bootstrap.yml
