---

# This file contains the mapping from dualtor testbed name to mux-simulator server TCP port
# A same test server could serve multiple dualtor testbeds. Each dualtor testbed need to have its own
# instance of mux-simulator server. Different mux-simulator server instances need to listen on different
# TCP ports. This file maintains the mapping between dualtor testbeds and TCP port of its mux-simulator server.

# This information will be used during deployment of a topology. Mux-simulator server will be started for
# testbeds on TCP port specified here.

# This information will be used by tests too. Test scripts need to know the TCP port to construct URL for accessing
# the HTTP API of mux-simulator server.

mux_simulator_http_port:
    # Format requirement:
    #   <testbed_name>: <port>

    ### Examples:

    # On server1
    dualtor-testbed-1: 8080
    dualtor-testbed-2: 8082

    # On server2
    dualtor-testbed-3: 8080
    dualtor-testbed-4: 8082

    # For vs setup
    vms-kvm-dual-t0: 8080
    vms-kvm-dual-mixed: 8082

    #### Add your own port assignment after here ###

    vms20-dual-t0-4700-7: 8080

    vms21-dual-t0-7050-3: 8080
    vms21-dual-t0-7260: 8082

    vms24-dual-t0-7050-1: 8080
    vms24-dual-t0-7050-2: 8082

    vms28-dual-t0-8102: 8080
    vms28-dual-t0-7260: 8082

    vms61-dual-t0-8102: 8080

    vmsvc1-dual-t0-7050-1: 8080
    vmsvc1-dual-t0-7050-2: 8082

    # On server63
    vms63-t0-dual-4600-1: 8080

    # On server64
    vms64-dual-t0-7260-1: 8080

    vms68-dual-t0-4700-8: 8080

    # On bjw server 13
    testbed-bjw-can-dual-t0-7260-1: 8080
    
    # On bjw2 server 2
    testbed-bjw2-can-dual-t0-7260-1: 8080
    testbed-bjw2-can-dual-t0-7260-2: 8082
    testbed-bjw2-can-dual-t0-8102-1: 8084
