---
# mapping from testbed name to nic simulator gRPC binding port

nic_simulator_grpc_port:
  vms-kvm-dual-mixed: 50075
  vmsvc1-dual-t0-7050-1: 50075
  vms61-dual-t0-8102: 50075
  vms64-dual-t0-7260-1: 50075
  vms20-dual-t0-4700-7: 50075
  vms28-dual-t0-8102: 50075
  vms18-dual-t0-8101c1-01: 50075
  vms26-dual-t0-8101c1-02: 50075
  vms66-dual-t0-8101c1-03: 50075
  vms68-dual-t0-4700-8: 50075
  vms68-dual-t0-8101c1-04: 50075
  bjw-can-dual-t0-7260-1: 50075
  bjw2-can-dual-t0-7260-2: 50075
  vms21-dual-t0-7050-3: 50075

  # On server_bjw2_2
  testbed-bjw2-can-dual-t0-7050-1: 50075
  # On server_bjw2_3
  testbed-bjw2-can-dual-t0-8101c1-1: 50075
  # On server_bjw2_4
  testbed-bjw2-can-dual-t0-8101c1-2: 50075
  # On server_bjw3_2
  testbed-bjw3-can-dual-t0-7260-2: 50075

  # On server_bjw2_5
  testbed-bjw2-can-dual-t0-8101c1-3: 50075
