---
# mapping from testbed name to nic simulator gRPC binding port

nic_simulator_grpc_port:
  vms-kvm-dual-mixed: 50075
  vmsvc1-dual-t0-7050-1: 50075
  vms61-dual-t0-8102: 50075
  vms64-dual-t0-7260-1: 50075
  vms20-dual-t0-4700-7: 50075
  vms28-dual-t0-8102: 50075
  testbed-bjw-can-dual-t0-7260-1: 50075
  testbed-bjw2-can-dual-t0-7260-2: 50075
  testbed-bjw2-can-dual-t0-8102-1: 50075
