---
# mapping from testbed name to nic simulator gRPC binding port

nic_simulator_grpc_port:
  vms-kvm-dual-mixed: 50075
  vmsvc1-dual-t0-7050-1: 50075
  vms61-dual-mixed-8102: 50075
  vms64-dual-t0-7260-1: 50075
