[
    {
        "MGMT_INTERFACE": {
            "eth0|{{ mgmt_ip }}": {
                "gwaddr": "{{ gwaddr }}"
            }
        }
    },
    {
        "MGMT_PORT": {
            "eth0": {
                "admin_status": "up",
                "alias": "eth0"
            }
        }
    }
]