# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, # @Azure/sonic-fundamentals
# will be requested for review when someone opens a pull request.
#       @Azure/sonic-fundamentals

# Ansible

# Documents

# spytest
sonic-mgmt/spytest/tests/cisco @pevenkat @bhavani @rraguraj @jsanghra @akroy @savinaya @whitebox/cisco-spytest-reviewers

# test reporting

# tests

# CICD-related
infra @whitebox/sonic-operations-team

# General rules first
sonic-mgmt/ansible @pevenkat @bhavani
sonic-mgmt/tests @pevenkat @bhavani  # Catch-all for tests/

# More specific rules last (these override the general ones)
sonic-mgmt/tests/cisco @pevenkat @bhavani @rraguraj @jsanghra @akroy @savinaya @whitebox/cisco-platform-test
