# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


# Azure pipelines
.azure-pipelines/baseline_test @xwjiang-ms
.azure-pipelines/common2 @opcoder0 @wangxin
.azure-pipelines/dependency_check @yutongzhang-microsoft @wangxin
.azure-pipelines/impacted_area_testing @yutongzhang-microsoft @wangxin
.azure-pipelines/markers_check @yutongzhang-microsoft @wangxin
.azure-pipelines/recover_testbed @yutongzhang-microsoft @wangxin
.azure-pipelines/testcases_collection @yutongzhang-microsoft @wangxin
.azure-pipelines/testscripts_analysis @yutongzhang-microsoft @wangxin
.azure-pipelines/*.yml @wangxin @lerry-lee
.azure-pipelines/*.yaml @wangxin @lerry-lee
.azure-pipelines/*.py @wangxin @lerry-lee

# Github
.github/codeql/* @liushilongbuaa
.github/workflows/* @liushilongbuaa
.github/CODEOWNER @sonic-net/sonic-mgmt-maintainer
.github/* @sonic-net/sonic-mgmt-maintainer

# Hooks
.hooks/pre_commit_hooks @xwjiang-ms @wangxin

# Ansible
ansible   @wangxin @yxieca @opcoder0

# Documents
docs    @wangxin @yxieca

# sdn_tests
sdn_tests @ksravani-hcl @kishanps

# spytest
spytest @ramakristipati @lolyu @yxieca

# test reporting
test_reporting  @wangxin

# tests
tests/acl @bingwang-ms
tests/acl/test_stress_acl.py @xwjiang-ms
tests/arp
tests/auditd @maipbui
tests/autorestart @lerry-lee
tests/bgp @StormLiangMS
tests/cacl @ZhaohuiS
tests/common/mellanox_data.py @keboliu @Junchao-Mellanox
tests/common/* @wangxin @opcoder0
tests/common2 @opcoder0 @wangxin
tests/dualtor @lolyu @wsycqyz
tests/dualtor_io @lolyu @wsycqyz
tests/dualtor_mgmt @lolyu @wsycqyz
tests/lldp @ZhaohuiS
tests/pfcwd @lipxu
tests/platform_tests    @prgeor
tests/platform_tests/mellanox @keboliu @Junchao-Mellanox
tests/platform_tests/fwutil @prgeor @alexrallen
tests/platform_tests/files @prgeor @Junchao-Mellanox
tests/platform_tests/test_auto_negotiation.py @prgeor @Junchao-Mellanox
tests/platform_tests/thermal_control_test_helper.py @prgeor @Junchao-Mellanox
tests/qos @XuChen-MSFT @wsycqyz
tests/qos/test_buffer.py @stephenxs
tests/qos/test_buffer_traditional.py @stephenxs
tests/qos/files/dynamic_buffer_param.json @stephenxs
tests/qos/files/mellanox @stephenxs @keboliu
tests/qos/args @stephenxs
tests/show_techsupport @yxieca @noaOrMlnx
tests/system_health @prgeor @Junchao-Mellanox

tests/setup-container.sh @theasianpianist @wangxin
tests/* @sonic-net/sonic-mgmt-maintainer @wangxin
