# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, # @Azure/sonic-fundamentals
# will be requested for review when someone opens a pull request.
#       @Azure/sonic-fundamentals

# Ansible

# Documents

# spytest
sonic-mgmt/spytest/tests/cisco @pevenkat @bhavani @rraguraj @jsanghra

# test reporting

# tests
sonic-mgmt/tests/cisco/platform_tests    @mridul @pevenkat @bhavani @rraguraj
sonic-mgmt/tests/cisco @pevenkat @bhavani @rraguraj @anamehra @mridul @jsanghra
sonic-mgmt/tests @pevenkat @bhavani
sonic-mgmt/ansible @pevenkat @bhavani
