[program:ha_sniffer]
command=ip netns exec {{ netns }}  /usr/bin/python {{ ptf_sniffer }} {{ ptf_sniffer_args }}
process_name=ha_sniffer
stdout_logfile=/tmp/ha_sniffer.out.log
stderr_logfile=/tmp/ha_sniffer.err.log
redirect_stderr=false
autostart=false
autorestart=false
startsecs=1
numprocs=1
stopsignal=INT
stopwaitsecs=90
