{
    "VLAN_INTERFACE": {
{%- for vlan_intf in vlan_intf_list %}
        "Vlan{{ vlan_intf.vlan_id }}|{{ vlan_intf.ip }}": {}{{ "," if not loop.last else "" }}
{%- endfor %}
    },
    "INTERFACE": {
{%- for intf in intf_list %}
        "{{ intf.ifname }}|{{ intf.ip }}": {}{{ "," if not loop.last else "" }}
{%- endfor %}
    }
}
