[flake8]
per-file-ignores =
    # line too long
    tests/macsec/macsec_helper.py: E501
    tests/dash/*.py: F405
    tests/snappi_tests/dataplane/imports.py: F401
    tests/snappi_tests/dataplane/files/helper.py: F405
    tests/snappi_tests/dataplane/*.py: F405
    tests/snappi_tests/dataplane/*.py: F401

exclude =
    # Generated proto code
    tests/gnmi/protos/**/*.py
    tests/common/sai_validation/gnmi*.py
