[defaults]
inventory = ./ansible/inventory.yaml
library = ./tests/ansible/library
callback_plugins = ./tests/common/plugins/callback
action_plugins = ./tests/common/plugins/action
filter_plugins = ./tests/common/plugins/filter
lookup_plugins = ./tests/common/plugins/lookup
vars_plugins = ./tests/common/plugins/vars
connection_plugins = ./tests/common/plugins/connection
timeout = 30
host_key_checking = False
retry_files_enabled = False

