# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

# For every job:
# continueOnError: false means it's a required test job and will block merge if it fails
# continueOnError: true means it's an optional test job and will not block merge even though it fails(unless a required test job depends on its result)

# For PR test job:
# If the current branch is not master, please reference the remote template by appending @sonic-mgmt.
# For example, "- template: .azure-pipelines/run-test-elastictest-template.yml@sonic-mgmt"

pr:
   branches:
     include:
       - master
       - 202???
   paths:
     exclude:
       - .github
       - docs
       - LICENSE
       - README.md
       - SECURITY.md
       - sdn_tests/**
       - '**/*.md'
trigger: none

name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

resources:
  repositories:
    - repository: sonic-mgmt
      type: github
      name: sonic-net/sonic-mgmt
      ref: master
      endpoint: sonic-net


stages:
- template: /.azure-pipelines/common2/stages/analyze-code.yml
- stage: Pre_test
  condition: succeededOrFailed()
  jobs:
  - job: static_analysis
    displayName: "Static Analysis"
    timeoutInMinutes: 10
    continueOnError: false
    pool: sonic-ubuntu-1c
    steps:
    - template: .azure-pipelines/pre-commit-check.yml

  - job: validate_test_cases
    displayName: "Validate Test Cases"
    timeoutInMinutes: 30
    continueOnError: false
    pool: sonic-ubuntu-1c
    steps:
    - template: .azure-pipelines/pytest-collect-only.yml
      parameters:
        MGMT_BRANCH: ""

  - job: dependency_check
    displayName: "Dependency Check"
    timeoutInMinutes: 10
    pool: sonic-ubuntu-1c
    steps:
      - template: .azure-pipelines/dependency-check.yml

  - job: markers_check
    displayName: "Markers Check"
    timeoutInMinutes: 10
    pool: sonic-ubuntu-1c
    steps:
      - template: .azure-pipelines/markers-check.yml

  - job: meta_check
    displayName: "Meta check"
    timeoutInMinutes: 10
    pool: sonic-ubuntu-1c
    steps:
      - template: .azure-pipelines/meta-check.yml


- stage: Test
  dependsOn: Pre_test
  condition: and(succeeded(), in(dependencies.Pre_test.result, 'Succeeded'))
  variables:
  - group: SONiC-Elastictest
  - name: inventory
    value: veos_vtb
  - name: testbed_file
    value: vtestbed.yaml
  - name: BUILD_BRANCH
    ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      value: $(System.PullRequest.TargetBranch)
    ${{ else }}:
      value: $(Build.SourceBranchName)

  jobs:
    - template: .azure-pipelines/pr_test_template.yml

    - job: test_impacted_area
      displayName: "Test impacted area"
      timeoutInMinutes: 10
      continueOnError: false
      pool: sonic-ubuntu-1c
      steps:
        - checkout: sonic-mgmt
        - template: .azure-pipelines/impacted_area_testing/get-impacted-area.yml@sonic-mgmt
          parameters:
            BUILD_BRANCH: $(BUILD_BRANCH)
