{% for vlan in minigraph_vlan_interfaces %}
{% if vlan['addr'] | ipv4 %}
{{ vlan['subnet'] }} {% for ifname in minigraph_vlans[vlan['attachto']]['members'] %} {{ minigraph_port_indices[ifname] }} {% endfor %}
{% endif %}
{% endfor %}
