{
    "{{ db_table_name }}": {
        "{{ vrf_name }}|{{ peer_addr }}": {
            "admin_status": "up",
            "asn": "{{ asn }}",
            "local_addr": "{{ local_addr }}",
            "name": "{{ peer_name }}",
            "neighbor": "{{ peer_addr }}",
            "peer_group_name": "{{ peer_group_name }}",
            "vrf_name": "{{ vrf_name }}"
        }
    }
}
