{
    "DEVICE_NEIGHBOR_METADATA": {
        "{{ neighbor_name }}": {
            "lo_addr": "{{ neighbor_lo_addr }}",
            "mgmt_addr": "{{ neighbor_mgmt_addr }}",
            "hwsku": "{{ neighbor_hwsku }}",
            "type": "{{ neighbor_type }}"
        }
    }
}
