[defaults]
interpreter_python = auto_legacy_silent
host_key_checking = False
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
remote_tmp = /tmp/.ansible/tmp
local_tmp = /tmp/.ansible/tmp

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
