- name: Get netbase container info
  docker_container_info:
    name: net_{{ vm_set_name }}_{{ inventory_hostname }}
  register: ctninfo
  delegate_to: "{{ VM_host[0] }}"
  become: yes

- debug: msg="{{ ctninfo.container.State.Pid }}"

- name: Get front panel port in netbase container 
  shell: nsenter -t {{ ctninfo.container.State.Pid }} -n ip link show | grep -E eth[0-9]+ | wc -l
  register: fp_num
  delegate_to: "{{ VM_host[0] }}"
  become: yes

- debug: msg="{{ fp_num }}"

- name: Set EOS backplane port name
  set_fact: bp_ifname="Ethernet{{ fp_num.stdout|int - 1}}"

- name: create directory for ceos config
  become: yes
  file:
    path: "/{{ ceos_image_mount_dir }}/ceos_{{ vm_set_name }}_{{ inventory_hostname }}/"
    state: directory
  delegate_to: "{{ VM_host[0] }}"

- name: update startup-config
  become: yes
  template: src="{{ base_topo }}-{{ props.swrole }}.j2"
            dest="/{{ ceos_image_mount_dir }}/ceos_{{ vm_set_name }}_{{ inventory_hostname }}/startup-config"
  delegate_to: "{{ VM_host[0] }}"
