- snmp_facts: host={{ ansible_host }} version=v2c is_eos=true community={{ snmp_rocommunity }}
  delegate_to: localhost
  register: snmp_data
  ignore_errors: true

- name: set force_restart=yes for ceos container
  set_fact: force_restart=yes

- name: set force_restart=no for ceos container
  set_fact: force_restart=no
  when: snmp_data.ansible_facts.ansible_sysname is defined

- include_tasks: ceos_config.yml

- name: Create cEOS container
  become: yes
  docker_container:
    name: ceos_{{ vm_set_name }}_{{ inventory_hostname }}
    image: "{{ ceos_image }}"
    command: /sbin/init systemd.setenv=INTFTYPE=eth systemd.setenv=ETBA=1 systemd.setenv=SKIP_ZEROTOUCH_BARRIER_IN_SYSDBINIT=1 systemd.setenv=CEOS=1 systemd.setenv=EOS_PLATFORM=ceoslab systemd.setenv=container=docker systemd.setenv=MGMT_INTF=eth0
    pull: no
    state: started
    restart: "{{ force_restart }}"
    tty: yes
    network_mode: container:net_{{ vm_set_name }}_{{ inventory_hostname }}
    detach: True
    capabilities:
      - net_admin
    privileged: yes
    memory: 2G
    memory_swap: 2G
    env:
      CEOS=1
      container=docker
      EOS_PLATFORM=ceoslab
      SKIP_ZEROTOUCH_BARRIER_IN_SYSDBINIT=1
      ETBA=1
      INTFTYPE=eth
      MGMT_INTF=eth0
    volumes:
      - /{{ ceos_image_mount_dir }}/ceos_{{ vm_set_name }}_{{ inventory_hostname }}:/mnt/flash
  delegate_to: "{{ VM_host[0] }}"

- name: set container_reachable=False for ceos container
  set_fact: container_reachable=False

# loop four times, if all containers are reachable in any iteration, the rest loop will be skipped
- name: make sure container's mgmt-ip is reachable
  include_tasks: ceos_ensure_reachable.yml
  loop:
    - 1
    - 2
    - 3
    - 4
