{
    "ACL_TABLE": {
        "VRF_ACL_REDIRECT_V4": {
            "policy_desc": "Redirect traffic to nexthop in different vrfs",
            "type": "L3",
            "ports": ["{{ src_port }}"]
        },

        "VRF_ACL_REDIRECT_V6": {
            "policy_desc": "Redirect traffic to nexthop in different vrfs",
            "type": "L3V6",
            "ports": ["{{ src_port }}"]
        }
    },
    "ACL_RULE": {
        "VRF_ACL_REDIRECT_V4|rule1": {
            "priority": "55",
            "SRC_IP": "10.0.0.1",
            "packet_action": "redirect:{% for intf, ip in redirect_dst_ips %}{{ ip ~ "@" ~ intf }}{{ "," if not loop.last else "" }}{% endfor %}"
        },
        "VRF_ACL_REDIRECT_V6|rule1": {
            "priority": "55",
            "SRC_IPV6": "2000::1",
            "packet_action": "redirect:{% for intf, ip in redirect_dst_ipv6s %}{{ ip ~ "@" ~ intf }}{{ "," if not loop.last else "" }}{% endfor %}"
        }
    }
}