{
    "VLAN_INTERFACE": {
{% for vrf_idx in range(1, 1+vrf_count) %}
{% set vid = src_base_vid + vrf_idx %}
{% set vid2 = dst_base_vid + vrf_idx %}
{% set vlan_ip1 = ip1.next(vrf_idx -1) %}
{% set vlan_ip2 = ip2.next(vrf_idx -1) %}

{% if op_code == 'add' %}
        "Vlan{{vid}}|{{vlan_ip1}}": {},
        "Vlan{{vid2}}|{{vlan_ip2}}": {}{{ ',' if not loop.last else '' }}
{% else %}
        "Vlan{{vid}}|{{vlan_ip1}}": null,
        "Vlan{{vid2}}|{{vlan_ip2}}": null{{ ',' if not loop.last else '' }}

{% endif %}
{% endfor %}
    }
}