{% for podset in range(0, podset_number) %}
{% for tor in range(0, tor_number) %}
{% for subnet in range(0, tor_subnet_number) %}
192.168.{{ podset }}.{{ tor * 16 + subnet }}/32,{{ hostname }}
20C0:A8{{ '%02X' % podset }}:0:{{ '%02X' % (tor * 16 + subnet)}}::/64,{{ hostname }}
{% endfor %}
{% endfor %}
{% endfor %}
