Value temp_sensor (Temp_Ambient_\d+|Temp_CPU|Temp_\d|TEMP\d)
Value label (\S+)
Value value (.*)


Start
  ^Temp\s+Sensor\s+Label\s+Value
  ^(-+\s*)*$$
  ^${temp_sensor}\s+${label}\s+${value}\s*$$ -> Record
