Value BOOTREQUEST_msgs_received_by_the_relay_agent (\d+)
Value BOOTREQUEST_msgs_forwarded_by_the_relay_agent (\d+)
Value BOOTREPLY_msgs_forwarded_by_the_relay_agent (\d+)
Value DHCP_DISCOVER_msgs_received_by_the_relay_agent (\d+)
Value DHCP_OFFER_msgs_sent_by_the_relay_agent (\d+)
Value DHCP_REQUEST_msgs_received_by_the_relay_agent (\d+)
Value DHCP_ACK_msgs_sent_by_the_relay_agent (\d+)
Value DHCP_RELEASE_msgs_received_by_the_relay_agent (\d+)
Value DHCP_DECLINE_msgs_received_by_the_relay_agent (\d+)
Value DHCP_INFORM_msgs_received_by_the_relay_agent (\d+)
Value DHCP_NACK_msgs_sent_by_the_relay_agent (\d+)
Value Total_nbr_of_DHCP_pkts_drpd_by_the_relay_agent (\d+)
Value Number_of_DHCP_pkts_drpd_due_to_an_invd_opcode (\d+)
Value Number_of_DHCP_pkts_drpd_due_to_an_invd_option (\d+)
Value Errors_relaying_pkts_from_clients (\d+)
Value Errors_relaying_pkts_from_servers (\d+)
Value Packets_drpd_with_bogus_GIADDR (\d+)
Value Packets_drpd_due_to_bad_relay_info (\d+)
Value Packets_drpd_due_to_missing_relay_info (\d+)
Value Packets_drpd_due_to_invalid_hdr_length (\d+)
Value Packets_drpd_on_interface_with_no_IP (\d+)
Value Replies_drpd_on_downstream_interface (\d+)
Value Requests_drpd_on_upstream_interface (\d+)
Value DHCPv4_OFFER_pkts_received_from_server (\d+)
Value DHCPv4_ACK_pkts_received_from_server (\d+)
Value DHCPv4_NACK_pkts_received_from_server (\d+)
Value Packets_drped_on_exceeding_the_max_hop_cnt (\d+)
Value DHCPv4_OFFER_pkts_relyed_to_clnt_oth_dwnstm_intf (\d+)
Value DHCPv4_ACK_pkts_relyed_to_clnt_oth_dwnstm_intf (\d+)
Value DHCPv4_NACK_pkts_relyed_to_clnt_oth_dwnstm_intf (\d+)


Start
  ^\s*BOOTREQUEST\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${BOOTREQUEST_msgs_received_by_the_relay_agent}\s*$$
  ^\s*BOOTREQUEST\s+messages\s+forwarded\s+by\s+the\s+relay\s+agent\s*:\s*${BOOTREQUEST_msgs_forwarded_by_the_relay_agent}\s*$$
  ^\s*BOOTREPLY\s+messages\s+forwarded\s+by\s+the\s+relay\s+agent\s*:\s*${BOOTREPLY_msgs_forwarded_by_the_relay_agent}\s*$$
  ^\s*DHCP\s+DISCOVER\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCP_DISCOVER_msgs_received_by_the_relay_agent}\s*$$
  ^\s*DHCP\s+OFFER\s+messages\s+sent\s+by\s+the\s+relay\s+agent\s*:\s*${DHCP_OFFER_msgs_sent_by_the_relay_agent}\s*$$
  ^\s*DHCP\s+REQUEST\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCP_REQUEST_msgs_received_by_the_relay_agent}\s*$$
  ^\s*DHCP\s+ACK\s+messages\s+sent\s+by\s+the\s+relay\s+agent\s*:\s*${DHCP_ACK_msgs_sent_by_the_relay_agent}\s*$$
  ^\s*DHCP\s+RELEASE\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCP_RELEASE_msgs_received_by_the_relay_agent}\s*$$
  ^\s*DHCP\s+DECLINE\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCP_DECLINE_msgs_received_by_the_relay_agent}\s*$$
  ^\s*DHCP\s+INFORM\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCP_INFORM_msgs_received_by_the_relay_agent}\s*$$
  ^\s*DHCP\s+NACK\s+messages\s+sent\s+by\s+the\s+relay\s+agent\s*:\s*${DHCP_NACK_msgs_sent_by_the_relay_agent}\s*$$
  ^\s*Total\s+number\s+of\s+DHCP\s+packets\s+dropped\s+by\s+the\s+relay\s+agent\s*:\s*${Total_nbr_of_DHCP_pkts_drpd_by_the_relay_agent}\s*$$
  ^\s*Number\s+of\s+DHCP\s+packets\s+dropped\s+due\s+to\s+an\s+invalid\s+opcode\s*:\s*${Number_of_DHCP_pkts_drpd_due_to_an_invd_opcode}\s*$$
  ^\s*Number\s+of\s+DHCP\s+packets\s+dropped\s+due\s+to\s+an\s+invalid\s+option\s*:\s*${Number_of_DHCP_pkts_drpd_due_to_an_invd_option}\s*$$
  ^\s*Errors\s+relaying\s+packets\s+from\s+clients\s*:\s*${Errors_relaying_pkts_from_clients}\s*$$
  ^\s*Errors\s+relaying\s+packets\s+from\s+servers\s*:\s*${Errors_relaying_pkts_from_servers}\s*$$
  ^\s*Packets\s+dropped\s+with\s+bogus\s+GIADDR\s*:\s*${Packets_drpd_with_bogus_GIADDR}\s*$$
  ^\s*Packets\s+dropped\s+due\s+to\s+bad\s+relay\s+info\s*:\s*${Packets_drpd_due_to_bad_relay_info}\s*$$
  ^\s*Packets\s+dropped\s+due\s+to\s+missing\s+relay\s+info\s*:\s*${Packets_drpd_due_to_missing_relay_info}\s*$$
  ^\s*Packets\s+dropped\s+due\s+to\s+invalid\s+hdr\s+length\s*:\s*${Packets_drpd_due_to_invalid_hdr_length}\s*$$
  ^\s*Packets\s+dropped\s+on\s+interface\s+with\s+no\s+IP\s*:\s*${Packets_drpd_on_interface_with_no_IP}\s*$$
  ^\s*Replies\s+dropped\s+on\s+downstream\s+interface\s*:\s*${Replies_drpd_on_downstream_interface}\s*$$
  ^\s*Requests\s+dropped\s+on\s+upstream\s+interface\s*:\s*${Requests_drpd_on_upstream_interface}\s*$$
  ^\s*DHCPv4\s+OFFER\s+packets\s+received\s+from\s+server\s*:\s*${DHCPv4_OFFER_pkts_received_from_server}\s*$$
  ^\s*DHCPv4\s+ACK\s+packets\s+received\s+from\s+server\s*:\s*${DHCPv4_ACK_pkts_received_from_server}\s*$$
  ^\s*DHCPv4\s+NACK\s+packets\s+received\s+from\s+server\s*:\s*${DHCPv4_NACK_pkts_received_from_server}\s*$$
  ^\s*Packets\s+dropped\s+on\s+exceeding\s+the\s+max\s+hop\s+count\s*:\s*${Packets_drped_on_exceeding_the_max_hop_cnt}\s*$$
  ^\s*DHCPv4\s+OFFER\s+packets\s+relayed\s+to\s+client\s+on\s+other\s+downstream\s+interface\s*:\s*${DHCPv4_OFFER_pkts_relyed_to_clnt_oth_dwnstm_intf}\s*$$
  ^\s*DHCPv4\s+ACK\s+packets\s+relayed\s+to\s+client\s+on\s+other\s+downstream\s+interface\s*:\s*${DHCPv4_ACK_pkts_relyed_to_clnt_oth_dwnstm_intf}\s*$$
  ^\s*DHCPv4\s+NACK\s+packets\s+relayed\s+to\s+client\s+on\s+other\s+downstream\s+interface\s*:\s*${DHCPv4_NACK_pkts_relyed_to_clnt_oth_dwnstm_intf}\s*$$ -> Record