Value eventid (\d+)
Value buffer (\S+)
Value threshold_type (\S+)
Value port (\S+)
Value index (\d+)
Value value (\d+)
Value counter (\d+)

Start
  ^\s*${eventid}\s+${buffer}\s+${threshold_type}\s+${port}\s+${index}\s+${value}\s+${counter} -> CLICK
  ^\s*${eventid}\s+${buffer}\s+${threshold_type}\s+${port}\s+${index}\s+${value} -> KLISH


CLICK
  ^(-+\s*)*$$
  ^\s*${eventid}\s+${buffer}\s+${threshold_type}\s+${port}\s+${index}\s+${value}\s+${counter} -> Record
  ^$$


KLISH
  ^(-+\s*)*$$
  ^\s*${eventid}\s+${buffer}\s+${threshold_type}\s+${port}\s+${index}\s+${value} -> Record
  ^$$
