Value VTEP (\S+)
Value Required VRF (\S+)
Value Required VNI (\d+)
 
Start
  ^\+\-+ -> Begin
 
Begin
  ^\| VTEP\s*\|\s*VRF\s*\|\s*VNI \|\s*$$ -> Capture3Col
  ^\| VRF\s*\|\s*VNI \|\s*$$ -> Capture2Col
 
Capture3Col
  ^\| ${VTEP}\s*\|\s*${VRF}\s*\|\s*${VNI}\s*\|\s*$$ -> Record
  ^Total count -> End
 
Capture2Col
  ^\| ${VRF}\s*\|\s*${VNI}\s*\|\s*$$ -> Record
  ^Total count -> End

End
