Value VLAN (Vlan\d+)
Value REMOTE_MAC (..:..:..:..:..:..)
Value REMOTE_VTEP (([.:\dA-Fa-f]+[:.]+)+([\dA-Fa-f]+)?)
Value VNI (\d+)

Start
  ^[|\s]*${VLAN}[|\s]*${REMOTE_MAC}[|\s]*${REMOTE_VTEP}[|\s]*${VNI} -> Record Start