Value DHCPv6_SOLIC_msgs_rcvd_by_the_relay_agent (\d+)
Value DHCPv6_ADVT_msgs_sent_by_the_relay_agent (\d+)
Value DHCPv6_RQST_msgs_rcvd_by_the_relay_agent (\d+)
Value DHCPv6_REPLY_msgs_sent_by_the_relay_agent (\d+)
Value DHCPv6_CONFIRM_msgs_rcvd_by_the_relay_agent (\d+)
Value DHCPv6_RELEASE_msgs_rcvd_by_the_relay_agent (\d+)
Value DHCPv6_DECLINE_msgs_rcvd_by_the_relay_agent (\d+)
Value DHCPv6_REBIND_msgs_rcvd_by_the_relay_agent (\d+)
Value DHCPv6_RECONFIG_msgs_sent_by_the_relay_agent (\d+)
Value DHCPv6_INFO_RQST_msgs_rcvd_by_the_relay_agent (\d+)
Value DHCPv6_RELAY_REPLY_msgs_rcvd_by_the_relay_agent (\d+)
Value DHCPv6_RELAY_FWD_msgs_sent_by_the_relay_agent (\d+)
Value Total_nbr_of_DHCPv6_pkts_drpd_by_the_relay_agent (\d+)
Value Number_of_DHCPv6_pkts_drpd_due_to_an_inv_opcode (\d+)
Value Number_of_DHCPv6_pkts_drpd_due_to_an_inv_option (\d+)
Value Packets_relayed_from_server_to_client (\d+)
Value Errors_relaying_packets_from_servers (\d+)
Value Errors_relaying_packets_from_clients (\d+)
Value Packets_wrong_msg_type_drpd_on_downstrm_intf (\d+)
Value Packets_wrong_msg_type_drpd_on_upstrm_intf (\d+)
Value DHCPv6_RENEW_pkts_rcvd_from_client (\d+)
Value DHCPv6_LEASE_QUERY_pkts_rvcd_from_client (\d+)
Value DHCPv6_DHCPV4_QUERY_pkts_rvcd_from_client (\d+)
Value DHCPv6_INFORM_REQST_pkts_rcvd_from_downstream (\d+)
Value DHCPv6_LEASE_QUERY_pkts_sent_to_client (\d+)
Value DHCPv6_DHCPV4_RESPONSE_pkts_sent_to_client (\d+)
Value Packets_dropped_on_exceeding_the_max_hop_count (\d+)
Value DHCPv6_ADVT_pkts_sent_to_clt_other_dwnstm_intf (\d+)
Value DHCPv6_REPLY_pkts_sent_to_clt_other_dwnstm_intf (\d+)
Value DHCPv6_RECONF_pkts_sent_to_clt_other_dwnstm_intf (\d+)
Value DHCPv6_LEASE_QRY_pkts_sent_clt_other_dwnstm_intf (\d+)
Value DHCPv6_V4_RESP_pkts_sent_to_clt_oth_dwnstm_intf (\d+)

Start
  ^\s*DHCPv6\s+SOLICIT\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_SOLIC_msgs_rcvd_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+ADVERTISEMENT\s+messages\s+sent\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_ADVT_msgs_sent_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+REQUEST\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_RQST_msgs_rcvd_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+REPLY\s+messages\s+sent\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_REPLY_msgs_sent_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+CONFIRM\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_CONFIRM_msgs_rcvd_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+RELEASE\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_RELEASE_msgs_rcvd_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+DECLINE\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_DECLINE_msgs_rcvd_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+REBIND\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_REBIND_msgs_rcvd_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+RECONFIGURE\s+messages\s+sent\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_RECONFIG_msgs_sent_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+INFO-REQUEST\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_INFO_RQST_msgs_rcvd_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+RELAY-REPLY\s+messages\s+received\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_RELAY_REPLY_msgs_rcvd_by_the_relay_agent}\s*$$
  ^\s*DHCPv6\s+RELAY-FORWARD\s+messages\s+sent\s+by\s+the\s+relay\s+agent\s*:\s*${DHCPv6_RELAY_FWD_msgs_sent_by_the_relay_agent}\s*$$
  ^\s*Total\s+number\s+of\s+DHCPv6\s+packets\s+dropped\s+by\s+the\s+relay\s+agent\s*:\s*${Total_nbr_of_DHCPv6_pkts_drpd_by_the_relay_agent}\s*$$
  ^\s*Number\s+of\s+DHCPv6\s+packets\s+dropped\s+due\s+to\s+an\s+invalid\s+opcode\s*:\s*${Number_of_DHCPv6_pkts_drpd_due_to_an_inv_opcode}\s*$$
  ^\s*Number\s+of\s+DHCPv6\s+packets\s+dropped\s+due\s+to\s+an\s+invalid\s+option\s*:\s*${Number_of_DHCPv6_pkts_drpd_due_to_an_inv_option}\s*$$
  ^\s*Packets\s+relayed\s+from\s+server\s+to\s+client\s*:\s*${Packets_relayed_from_server_to_client}\s*$$
  ^\s*Errors\s+relaying\s+packets\s+from\s+servers\s*:\s*${Errors_relaying_packets_from_servers}\s*$$
  ^\s*Errors\s+relaying\s+packets\s+from\s+clients\s*:\s*${Errors_relaying_packets_from_clients}\s*$$
  ^\s*Packets\s+with\s+wrong\s+message\s+type\s+dropped\s+on\s+downstream\s+interface\s*:\s*${Packets_wrong_msg_type_drpd_on_downstrm_intf}\s*$$
  ^\s*Packets\s+with\s+wrong\s+message\s+type\s+dropped\s+on\s+upstream\s+interface\s*:\s*${Packets_wrong_msg_type_drpd_on_upstrm_intf}\s*$$
  ^\s*DHCPv6\s+RENEW\s+packets\s+received\s+from\s+client\s*:\s*${DHCPv6_RENEW_pkts_rcvd_from_client}\s*$$
  ^\s*DHCPv6\s+LEASE-QUERY\s+packets\s+received\s+from\s+client\s*:\s*${DHCPv6_LEASE_QUERY_pkts_sent_to_client}\s*$$
  ^\s*DHCPv6\s+DHCPV4-QUERY\s+packets\s+received\s+from\s+client\s*:\s*${DHCPv6_DHCPV4_QUERY_pkts_rvcd_from_client}\s*$$
  ^\s*DHCPv6\s+INFORM-REQUEST\s+packets\s+received\s+from\s+downstream\s*:\s*${DHCPv6_INFORM_REQST_pkts_rcvd_from_downstream}\s*$$
  ^\s*DHCPv6\s+LEASE\s+QUERY\s+packets\s+sent\s+to\s+client\s*:\s*${DHCPv6_LEASE_QUERY_pkts_sent_to_client}\s*$$
  ^\s*DHCPv6\s+DHCPV4\s+RESPONSE\s+packets\s+sent\s+to\s+client\s*:\s*${DHCPv6_DHCPV4_RESPONSE_pkts_sent_to_client}\s*$$
  ^\s*Packets\s+dropped\s+on\s+exceeding\s+the\s+max\s+hop\s+count\s*:\s*${Packets_dropped_on_exceeding_the_max_hop_count}\s*$$
  ^\s*DHCPv6\s+ADVERTISE\s+packets\s+sent\s+to\s+client\s+on\s+other\s+downstream\s+interface\s*:\s*${DHCPv6_ADVT_pkts_sent_to_clt_other_dwnstm_intf}\s*$$
  ^\s*DHCPv6\s+REPLY\s+packets\s+sent\s+to\s+client\s+on\s+other\s+downstream\s+interface\s*:\s*${DHCPv6_REPLY_pkts_sent_to_clt_other_dwnstm_intf}\s*$$
  ^\s*DHCPv6\s+RECONFIGURE\s+packets\s+sent\s+to\s+client\s+on\s+other\s+downstream\s+interface\s*:\s*${DHCPv6_RECONF_pkts_sent_to_clt_other_dwnstm_intf}\s*$$
  ^\s*DHCPv6\s+LEASE\s+QUERY\s+packets\s+sent\s+to\s+client\s+on\s+other\s+downstream\s+interface\s*:\s*${DHCPv6_LEASE_QRY_pkts_sent_clt_other_dwnstm_intf}\s*$$
  ^\s*DHCPv6\s+DHCPV4\s+RESPONSE\s+packets\s+sent\s+to\s+client\s+on\s+other\s+downstream\s+interface\s*:\s*${DHCPv6_V4_RESP_pkts_sent_to_clt_oth_dwnstm_intf}\s*$$ -> Record