Value Sensor ([ 0-9_a-zA-Z]*)
Value Temperature ([-0-9/.]+)
Value High_TH ([-0-9/.]+)
Value Low_TH ([-0-9/.]+)
Value Critical_High_TH ([-0-9/.]+)
Value Critical_Low_TH ([-0-9/.]+)
Value Warning (\S+)
Value TimeStamp (\d+\s+\d\d:\d\d:\d\d)


Start
  ^\s*${Sensor}\s+${Temperature}\s+${High_TH}\s+${Low_TH}\s+${Critical_High_TH}\s+${Critical_Low_TH}\s+${Warning}\s+${TimeStamp} -> Record

