Value Filldown INTERFACE (\S+)
Value Filldown IPADDR ([\d\.\/]+|[\:\w\/\%]+)
Value VRF (\S+)
Value Filldown STATUS (\S+)
Value Filldown Neighbor (\S+)
Value Filldown NeighborIP (\S+)
Value Flags (U|A)

Start
  ^\s*Interface\s+IPv(4|6) address/mask\s+Master\s+Admin/Oper\s+Flags\s*$$ -> NOBGPINFO
  ^\s*Interface\s+IPv(4|6) address/mask\s+Master\s+Admin/Oper\s*$$ -> NOBGPINFO
  ^\s*Interface\s+IP\s*address/mask\s+Master\s+Admin/Oper\s+Flags\s*$$ -> NOBGPINFO
  ^\s*Interface\s+IP\s*address/mask\s+VRF\s+Admin/Oper\s+Flags\s*$$ -> NOBGPINFO
  ^\s*Interface\s+IPv(4|6)\s+address/mask\s+Master\s+Admin/Oper\s+BGP\s+Neighbor\s+Neighbor\s+IP\s+Flags\s*$$ -> BGPINFO
  ^\s*Interface\s+IPv(4|6)\s+address/mask\s+Master\s+Admin/Oper\s+BGP\s+Neighbor\s+Neighbor\s+IP\s*$$ -> BGPINFO
  ^\s*Interface\s+Master\s+IPv(4|6)\s+address/mask\s+Admin/Oper\s+BGP\s+Neighbor\s+Neighbor\s+IP\s*$$ -> BGPINFO
  ^(-+\s*)*$$

NOBGPINFO
  ^\s*${INTERFACE}\s+${IPADDR}\s+${VRF}\s+${STATUS}\s+${Flags}\s*$$ -> Record
  ^\s*${INTERFACE}\s+${IPADDR}\s+${STATUS}\s+${Flags}\s*$$ -> Record
  ^\s*${INTERFACE}\s+${IPADDR}\s+${VRF}\s+${STATUS}\s*$$ -> Record
  ^\s*${INTERFACE}\s+${IPADDR}\s+\s+${STATUS}\s*$$ -> Record
  ^\s*${INTERFACE}\s+${IPADDR}\s*$$ -> Record
  ^\s*${IPADDR}\s*$$ -> Record
  ^$$

BGPINFO
  ^\s*${INTERFACE}\s+${VRF}\s+${IPADDR}\s+${STATUS}\s+${Neighbor}\s+${NeighborIP}\s*$$ -> Record
  ^\s*${INTERFACE}\s+${IPADDR}\s+${VRF}\s+${STATUS}\s+${Neighbor}\s+${NeighborIP}\s+${Flags}\s*$$ -> Record
  ^\s*${INTERFACE}\s+${IPADDR}\s+${STATUS}\s+${Neighbor}\s+${NeighborIP}\s*$$ -> Record
  ^\s*${INTERFACE}\s+${IPADDR}\s+${STATUS}\s+${Neighbor}\s+${NeighborIP}\s+${Flags}\s*$$ -> Record
  ^\s*${INTERFACE}\s+${IPADDR}\s+${VRF}\s+${STATUS}\s+${Neighbor}\s+${NeighborIP}\s*$$ -> Record
  ^\s*${INTERFACE}\s+${IPADDR}\s+\s+${STATUS}\s+${Neighbor}\s+${NeighborIP}\s*$$ -> Record
  ^\s*${IPADDR}\s*$$ -> Record
  ^$$

EOF
