Value interface (\w+)
Value status ([\S\s\S]+)
Value ApplicationAdvertisement ([\w\/]+)
Value Connector ([\w\s]+)
Value Encoding (\w+)
Value ExtendedIdentifier ([\w\d\s\,\(\)\.]+)
Value Compliance ([\w\+\d\s]+)
Value Identifier ([\w\d\s]+)
Value Length (\w+)
Value BitRate (\w+)
Value SpecificationCompliance (\w+)
Value VendorDate ([\d\-]+)
Value VendorName ([\w\-]+)
Value VendorOUI ([\d\-\S]+)
Value VendorPN ([\s\-\S]+)
Value VendorRev ([\d\s\w]+)
Value VendorSN ([\s\-\w]+)

Start
  ^${interface}\:\s+SFP\s+EEPROM\s+${status}  
  ^\s*Application\s+Advertisement\:\s+${ApplicationAdvertisement}  
  ^\s*Connector\:\s+${Connector}  
  ^\s*Encoding\:\s+${Encoding}  
  ^\s*Extended\s+Identifier\:\s+${ExtendedIdentifier}  
  ^\s*Extended\s+RateSelect\s+Compliance\:\s+${Compliance}  
  ^\s*Identifier\:\s+${Identifier}  
  ^\s*Length\s+Cable\s+Assembly\(m\)\:\s+${Length}  
  ^\s*Nominal\s+Bit\s+Rate\(100Mbs\)\:\s+${BitRate}  
  ^\s*Specification\s+compliance\:\s+${SpecificationCompliance}  
  ^\s*Vendor\s+Date\s+Code\(YYYY\-MM\-DD\s+Lot\)\:\s+${VendorDate}  
  ^\s*Vendor\sName\:\s+${VendorName}  
  ^\s*Vendor\s+OUI\:\s+${VendorOUI}  
  ^\s*Vendor\s+PN\:\s+${VendorPN}  
  ^\s*Vendor\s+Rev\:\s+${VendorRev}  
  ^\s*Vendor\s+SN\:\s+${VendorSN}  
  ^\s*$$ -> Record
  
