Value Login (\S+\s*\(\S+\)|\S+|\S+\s*\S+)
Value Failthrough (\S+\s*\(\S+\)|\S+)
Value Fallback (\S+\s*\(\S+\)|\S+)
Value authorization_login (\w+)
Value nss_passwd (\w+)
Value nss_shadow (\w+)
Value nss_group (\w+)
Value nss_sudoers (\w+)
Value nss_netgroup (\w+)


Start
  ^\s*AAA\s+authentication\s+login\s+${Login}\s*$$
  ^\s*AAA\s+authentication\s+failthrough\s+${Failthrough}\s*$$
  ^\s*AAA\s+authentication\s+fallback\s+${Fallback}\s*$$
  ^\s*AAA\s+authorization\s+login\s+${authorization_login}\s*$$
  ^\s*AAA\s+nss\s+passwd\s*${nss_passwd}\s*$$
  ^\s*AAA\s+nss\s+shadow\s*${nss_shadow}\s*$$
  ^\s*AAA\s+nss\s+group\s*${nss_group}\s*$$
  ^\s*AAA\s+nss\s+sudoers\s*${nss_sudoers}\s*$$
  ^\s*AAA\s+nss\s+netgroup\s*${nss_netgroup}\s*$$
  ^\s*failthrough\s+:\s*${Failthrough}\s*$$
  ^\s*login-method\s+:\s*${Login}\s*$$
  ^\s*login\s+:\s*${authorization_login}\s*$$
  ^\s*group-method\s+:\s*${nss_group}\s*$$
  ^\s*netgroup-method\s+:\s*${nss_netgroup}\s*$$
  ^\s*passwd-method\s+:\s*${nss_passwd}\s*$$
  ^\s*shadow-method\s+:\s*${nss_shadow}\s*$$
  ^\s*sudoers-method\s+:\s*${nss_sudoers}\s*$$
  ^$$
