Value global_src_intf (\w+)
Value global_timeout (\d+)
Value global_auth_type (\w+)
Value global_passkey (\w+)
Value host (\S+)
Value auth_type (\w+)
Value passkey (\w+)
Value port (\d+)
Value priority (\d+)
Value timeout (\d+)
Value vrf (\w+)

Start
  ^\s*source-interface\s+:\s+${global_src_intf}\s*$$ -> Record
  ^\s*timeout\s+:\s+${global_timeout}\s*$$ -> Record
  ^\s*auth-type\s+:\s+${global_auth_type}\s*$$ -> Record
  ^\s*key\s+:\s+${global_passkey}\s*$$ -> Record
  ^\s*${host}\s+${auth_type}\s+${passkey}\s+${port}\s+${priority}\s+${timeout}\s+${vrf}\s*$$ -> Record
  ^\s*${host}\s+${auth_type}\s+${port}\s+${priority}\s+${timeout}\s+${vrf}\s*$$ -> Record
  ^\s*${host}\s+${passkey}\s+${port}\s+${priority}\s+${timeout}\s+${vrf}\s*$$ -> Record
  ^\s*${host}\s+${port}\s+${priority}\s+${timeout}\s+${vrf}\s*$$ -> Record

EOF
