Value pid (\d+)
Value user (\S+)
Value pr (\d+)
Value ni (\d+)
Value virt (\d+)
Value res (\d+)
Value shr (\d+)
Value cpu (\d+\.\d+)
Value mem (\d+\.\d+)
Value time (\d+\:\d+\.\d+)
Value command (\S+)

Start
  ^\s*${pid}\s*${user}\s*${pr}\s*${ni}\s*${virt}\s*${res}\S*\s*${shr}\s*S\s*${cpu}\s*${mem}\s*${time}\s*${command}\s* -> Record
  ^.+: -> Continue.Record

