Value Spanning_tree_mode (\S+)
Value VLAN (\d+)
Value STP_instance (\d+)
Value Bridge_Identifier (\S+)
Value Bridge_MaxAge (\d+)
Value Bridge_HelloTime (\d+)
Value Bridge_FwdDly (\d+)
Value Bridge_HoldTime (\d+)
Value LastTopology_Change_sec (\d+)
Value Topology_Change_cnt (\d+)
Value RootBridge_Identifier (\S+)
Value RootPath_Cost (\d+)
Value DesignatedBridge_Identifier (\S+)
Value RootPort (\S+)
Value RootBridge_MaxAge (\d+)
Value RootBridge_HelloTime (\d+)
Value RootBridge_FwdDly (\d+)
Value Iface (\S+)
Value PortPriority (\d+)
Value PortPathCost (\d+)
Value PortFast (\S+)
Value PortUplinkFast (\S+)
Value PortState (\S+)
Value DesignatedPortCost (\d+)
Value DesignatedRoot (\S+)
Value DesignatedBridge (\S+)

Start
  ^Spanning-tree Mode: ${Spanning_tree_mode}
  ^VLAN ${VLAN} - STP instance ${STP_instance}
  ^[-]+
  ^STP Bridge Parameters:
  ^Bridge\s+Bridge\s+Bridge\s+Bridge\s+Hold\s+LastTopology\s+Topology
  ^Identifier\s+MaxAge\s+Hello\s+FwdDly\s+Time\s+Change\s+Change
  ^hex\s+sec\s+sec\s+sec\s+sec\s+sec\s+cnt
  ^${Bridge_Identifier}\s+${Bridge_MaxAge}\s+${Bridge_HelloTime}\s+${Bridge_FwdDly}\s+${Bridge_HoldTime}\s+${LastTopology_Change_sec}\s+${Topology_Change_cnt}
  ^RootBridge\s+RootPath\s+DesignatedBridge\s+RootPort\s+Max\s+Hel\s+Fwd
  ^Identifier\s+Cost\s+Identifier\s+Age\s+lo\s+Dly
  ^hex\s+hex
  ^${RootBridge_Identifier}\s+${RootPath_Cost}\s+${DesignatedBridge_Identifier}\s+${RootPort}\s+${RootBridge_MaxAge}\s+${RootBridge_HelloTime}\s+${RootBridge_FwdDly}
  ^STP Port Parameters:
  ^Port\s+Prio\s+Path\s+Port\s+Uplink\s+State\s+Designated\s+Designated\s+Designated
  ^Name\s+rity\s+Cost\s+Fast\s+Fast\s+Cost\s+Root\s+Bridge
  ^${Iface}\s+${PortPriority}\s+${PortPathCost}\s+${PortFast}\s+${PortUplinkFast}\s+${PortState}\s+${DesignatedPortCost}\s+${DesignatedRoot}\s+${DesignatedBridge} -> Record
