Value ResourceName (\S+)
Value UsedCount (\d+)
Value AvailableCount (\d+)

Start
  ^\s*Resource Name\s+Used Count\s+Available Count\s*$$
  ^(-+\s*)*$$
  ^\s*${ResourceName}\s+${UsedCount}\s+${AvailableCount}\s*$$ -> Record
  ^$$
