Value Name ([a-zA-Z]+)
Value total (\d+)
Value used (\d+)
Value free (\d+)
Value shared (\d+)
Value buff_cache (\d+)
Value available (\d+) 

Start
  ^${Name}:\s+${total}\s+${used}\s+${free}\s+${shared}\s+${buff_cache}\s+${available} -> Record
  ^${Name}:\s+${total}\s+${used}\s+${free} -> Record

