Value port (\S+)
Value mc0 (\d+)
Value mc1 (\d+)
Value mc2 (\d+)
Value mc3 (\d+)
Value mc4 (\d+)
Value mc5 (\d+)
Value mc6 (\d+)
Value mc7 (\d+)

Start
  ^\s*${port}\s+${mc0}\s+${mc1}\s+${mc2}\s+${mc3}\s+${mc4}\s+${mc5}\s+${mc6}\s+${mc7}\s*$$ -> Record

