Value TotalPhysicalMemory (\d+)
Value UsedPhysicalMemory (\d+)
Value FreePhysicalMemory (\d+)
Value SharedPhysicalMemory (\d+)
Value BufferedPhysicalMemory (\d+)
Value AvailablePhysicalMemory (\d+)
Value TotalSwapMemory (\d+)
Value UsedSwapMemory (\d+)
Value FreeSwapMemory (\d+)


Start
  ^Mem:\s*${TotalPhysicalMemory}\s*${UsedPhysicalMemory}\s*${FreePhysicalMemory}\s*${SharedPhysicalMemory}\s*${BufferedPhysicalMemory}\s*${AvailablePhysicalMemory}\s*
  ^Swap:\s*${TotalSwapMemory}\s*${UsedSwapMemory}\s*${FreeSwapMemory}
