Value Filldown count (\d+)
Value ADDRESS (\S+)
Value INTERFACE (\S+)
Value VRF (\S+)
Value State (\S+)

Start
  ^sudo: unable to resolve host.*$$
  ^Total\s+number\s+of\s+BFD\s+sessions:\s+${count}
  ^Peer Addr\s+Interface\s+Vrf\s+State\s+Type\s+Local Addr\s.*$$
  ^(-+\s*)\s.*$$ 
  ^${ADDRESS}\s+${INTERFACE}\s+${VRF}\s+${State}\s.*$$ -> Record

EOF

