Value interface (\S+)
Value description (\S+)
Value admin (\w+)
Value oper (\w+)
Value speed (\d+)
Value mtu (\d+)
Value altname (\S+)

Start
  ^\s*${interface}\s*${description}\s*${admin}\s*${oper}\s*${speed}\s*${mtu}\s*$$ -> Record
  ^\s*${interface}\s*${description}\s*${admin}\s*${oper}\s*${speed}\s*${mtu}\s*${altname}\s*$$ -> Record
