Value VTEP (\S+)
Value Required VLAN (\S+)
Value Required VNI (\d+)
 
Start
  ^\+\-+ -> Begin
 
Begin
  ^\| VTEP\s*\|\s*VLAN\s*\|\s*VNI \|\s*$$ -> Capture3Col
  ^\| VLAN\s*\|\s*VNI \|\s*$$ -> Capture2Col
  
Capture3Col
  ^\| ${VTEP}\s*\|\s*${VLAN}\s*\|\s*${VNI}\s*\|\s*$$ -> Record
  ^Total count -> End
  
Capture2Col
  ^\| ${VLAN}\s*\|\s*${VNI}\s*\|\s*$$ -> Record
  ^Total count -> End

End
