Value IP_ADDRESS (\S+)
Value INTERFACE (\S+)
Value NEXTHOPID (\S+)
Value NEXTHOPIP (\S+)
Value vni_label (\d+)
Value attr_type (\S+)
Value mac_address (..:..:..:..:..:..)

Start
  ^\s*\"ASIC_STATE:SAI_OBJECT_TYPE_ROUTE_ENTRY:\{\\\"dest\\\":\\\"${IP_ADDRESS}\\\",\\\"sw\s*
  ^\s*\"ASIC_STATE:SAI_OBJECT_TYPE_NEIGHBOR_ENTRY:\{\\\"ip\\\":\\\"${IP_ADDRESS}\\\",\\\"rif\s*
  ^\s+\"SAI_ROUTE_ENTRY_ATTR_NEXT_HOP_ID\":\s*\"oid:${NEXTHOPID}\"
  ^\s+"SAI_NEXT_HOP_ATTR_IP":\s*"${NEXTHOPIP}",
  ^\s+"SAI_NEXT_HOP_ATTR_TUNNEL_VNI":\s*"${vni_label}",$$ -> Record
  ^\s+"SAI_NEXT_HOP_GROUP_ATTR_TYPE":\s*"${attr_type}"$$ -> Record
  ^\s*\"ASIC_STATE:SAI_OBJECT_TYPE_NEXT_HOP_GROUP:oid:${NEXTHOPID}\":\s*
  ^\s+\"SAI_NEIGHBOR_ENTRY_ATTR_DST_MAC_ADDRESS":\s*"${mac_address}"$$ -> Record
