Value Current (\S+)
Value Next (\S+)
Value Available (\S+)

Start
  ^Current:\s+${Current} 
  ^Next:\s+${Next} 
  ^Available:\s+${Available} -> Record
  ^Available: -> ARec

ARec
  ^\s*${Available}
  ^.+:-> Continue.Record