# Install Platform Modules for Dell
- name: Confirm Platform Modules for Dell are installed
  become: true
  include: platform-dell.yml
  when: sonic_hwsku == "Force10-S6000" or sonic_hwsku == "ACS-S6000"

# Install Platform Modules for Mellanox
- name: Confirm Platform Modules for Mellanox are installed
  become: true
  include: platform-mlnx.yml
  when: sonic_hwsku == "ACS-MSN2700"
