trigger: none
pr: none
name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
resources:
  repositories:
  - repository: https://mssonic@dev.azure.com/mssonic/internal/_git/sonic-metadata
    type: git
    name: sonic-metadata
    ref: master
variables:
  - group: SONIC_IMAGE_URLS
  - group: SAITHRIFT_URLS

parameters:
- name: TESTBED_NAME
  type: string
  displayName: "Testbed Name"

- name: POOL
  type: string
  default: nightly
  displayName: "Agent pool name"
  values:
    - nightly
    - nightly-svc
    - nightly-bjw
    - nightly-tk5

- name: UPGRADE_TYPE
  type: string
  displayName: "Type of upgrade"
  default: warm
  values:
  - warm
  - fast
  - cold
  - warm,fast
  - warm,fast,cold

- name: VM_TYPE
  type: string
  displayName: "VM type of neighbor devices"
  default: ceos
  values:
    - vsonic
    - ceos

- name: SKIP_POSTUPGRADE_ACTIONS
  default: false
  type: boolean
  displayName: "Skip post upgrade actions"

- name: METADATA_UPGRADE_PATH
  default: true
  type: boolean

- name: SKIP_REBOOT_CASES
  default: "test_cancelled_upgrade_path test_warm_upgrade_sad_path test_double_upgrade_path"
  type: string
  displayName: "Cases to skip running"
  values:
  - test_upgrade_path
  - test_warm_upgrade_sad_path
  - test_cancelled_upgrade_path
  - test_cancelled_upgrade_path test_upgrade_path
  - test_cancelled_upgrade_path test_upgrade_path test_double_upgrade_path
  - test_cancelled_upgrade_path test_warm_upgrade_sad_path test_upgrade_path
  - test_cancelled_upgrade_path test_warm_upgrade_sad_path test_double_upgrade_path
  - " "

- name: SELECT_SAD_CASES
  default: "sad,multi_sad,sad_bgp,sad_lag_member,sad_lag,sad_vlan_port,sad_inboot"
  type: string

- name: TEST_TCAM_HOLE
  default: false
  type: boolean

- name: SKIP_LOCKING_TESTBED
  displayName: "Skip locking testbed (Please reserve the testbed manually)"
  type: boolean
  default: false

- name: FROM_IMAGE_LIST
  type: string
  displayName: "All base image numbers (space separated)"
- name: FROM_IMAGE_URL
  displayName: "Base image location"
  type: string
  values:
  - $(IMAGE_BRCM_201811)
  - $(IMAGE_BRCM_201911)
  - $(IMAGE_BRCM_202012)
  - $(IMAGE_BRCM_202012_SLIM)
  - $(IMAGE_BRCM_202205)
  - $(IMAGE_BRCM_202305)
  - $(IMAGE_BRCM_202305_SLIM)
  - $(IMAGE_BRCM_202311)
  - $(IMAGE_BRCM_INTERNAL)
  - $(IMAGE_BRCM_PUBLIC)
  - $(IMAGE_BRCM_ABOOT_201811)
  - $(IMAGE_BRCM_ABOOT_201911)
  - $(IMAGE_BRCM_ABOOT_202012)
  - $(IMAGE_BRCM_ABOOT_202012_SLIM)
  - $(IMAGE_BRCM_ABOOT_202106)
  - $(IMAGE_BRCM_ABOOT_202205)
  - $(IMAGE_BRCM_ABOOT_202205_SLIM)
  - $(IMAGE_BRCM_ABOOT_202305)
  - $(IMAGE_BRCM_ABOOT_202305_SLIM)
  - $(IMAGE_BRCM_ABOOT_202311)
  - $(IMAGE_BRCM_ABOOT_202311_SLIM)
  - $(IMAGE_BRCM_ABOOT_INTERNAL)
  - $(IMAGE_BRCM_ABOOT_PUBLIC)
  - $(IMAGE_CISCO_202012)
  - $(IMAGE_CISCO_202205)
  - $(IMAGE_CISCO_202305)
  - $(IMAGE_CISCO_ABOOT_202012)
  - $(IMAGE_CISCO_ABOOT_202205)
  - $(IMAGE_MLNX_201811)
  - $(IMAGE_MLNX_201911)
  - $(IMAGE_MLNX_202012)
  - $(IMAGE_MLNX_202205)
  - $(IMAGE_MLNX_202305)
  - $(IMAGE_MLNX_202311)
  - $(IMAGE_MLNX_INTERNAL)
  - $(IMAGE_MLNX_PUBLIC)
  - $(IMAGE_MARVELL_202012)
  - $(IMAGE_MARVELL_202205)
  - $(IMAGE_MARVELL_202305)
  - $(IMAGE_MARVELL_202311)
  - $(IMAGE_MARVELL_PUBLIC)
  - $(BJW_IMAGE_MLNX_201911)
  - $(BJW_IMAGE_BRCM_ABOOT_202305)
  - $(BJW_IMAGE_BRCM_ABOOT_202311)
  - $(BJW_IMAGE_MARVELL_202305)
  - $(BJW_IMAGE_MARVELL_202311)
  - custom

- name: TO_IMAGE_LIST
  type: string
  displayName: "All target image numbers (space separated)"
- name: TO_IMAGE_URL
  displayName: "Target image location"
  type: string
  values:
  - $(IMAGE_BRCM_201811)
  - $(IMAGE_BRCM_201911)
  - $(IMAGE_BRCM_202012)
  - $(IMAGE_BRCM_202012_SLIM)
  - $(IMAGE_BRCM_202205)
  - $(IMAGE_BRCM_202305)
  - $(IMAGE_BRCM_202305_SLIM)
  - $(IMAGE_BRCM_202311)
  - $(IMAGE_BRCM_INTERNAL)
  - $(IMAGE_BRCM_PUBLIC)
  - $(IMAGE_BRCM_ABOOT_201811)
  - $(IMAGE_BRCM_ABOOT_201911)
  - $(IMAGE_BRCM_ABOOT_202012)
  - $(IMAGE_BRCM_ABOOT_202012_SLIM)
  - $(IMAGE_BRCM_ABOOT_202106)
  - $(IMAGE_BRCM_ABOOT_202205)
  - $(IMAGE_BRCM_ABOOT_202205_SLIM)
  - $(IMAGE_BRCM_ABOOT_202305)
  - $(IMAGE_BRCM_ABOOT_202305_SLIM)
  - $(IMAGE_BRCM_ABOOT_202311)
  - $(IMAGE_BRCM_ABOOT_202311_SLIM)
  - $(IMAGE_BRCM_ABOOT_INTERNAL)
  - $(IMAGE_BRCM_ABOOT_PUBLIC)
  - $(IMAGE_CISCO_202012)
  - $(IMAGE_CISCO_202205)
  - $(IMAGE_CISCO_202305)
  - $(IMAGE_CISCO_202311)
  - $(IMAGE_CISCO_202405)
  - $(BJW_IMAGE_CISCO_202305)
  - $(BJW_IMAGE_CISCO_202311)
  - $(IMAGE_CISCO_ABOOT_202012)
  - $(IMAGE_CISCO_ABOOT_202205)
  - $(IMAGE_MLNX_201811)
  - $(IMAGE_MLNX_201911)
  - $(IMAGE_MLNX_202012)
  - $(IMAGE_MLNX_202205)
  - $(IMAGE_MLNX_202305)
  - $(IMAGE_MLNX_202311)
  - $(IMAGE_MLNX_INTERNAL)
  - $(IMAGE_MLNX_PUBLIC)
  - $(IMAGE_MARVELL_202012)
  - $(IMAGE_MARVELL_202205)
  - $(IMAGE_MARVELL_202305)
  - $(IMAGE_MARVELL_202311)
  - $(IMAGE_MARVELL_PUBLIC)
  - $(BJW_IMAGE_MLNX_202205)
  - $(BJW_IMAGE_BRCM_ABOOT_202305)
  - $(BJW_IMAGE_BRCM_ABOOT_202311)
  - $(BJW_IMAGE_MARVELL_202305)
  - $(BJW_IMAGE_MARVELL_202311)
  - custom

- name: VSONIC_NEIGHBOR_IMAGE_URL
  displayName: "SONiC image URL (used only for vsonic neighbors)"
  type: string
  default: https://sonic-build.azurewebsites.net/api/sonic/artifacts?branchName=master&platform=vs&target=target%2Fsonic-vs.img.gz

- name: ITERATIONS
  type: string
  default: "1"
  values:
  - "1"
  - "10"
  - "16"
  - "18"
  - "20"
  - "22"
  - "100"
  - "500"

- name: SKIP_TEST_RESULTS_UPLOADING
  displayName: "Upload timing data report to Kusto"
  type: boolean
  default: false

stages:
- stage: SONiCMetadataPreTest
  jobs:
  - job:
    pool: nightly
    displayName: "SONiC Metadata Unit Test"
    timeoutInMinutes: 100
    steps:
    - checkout: self
    - checkout: https://mssonic@dev.azure.com/mssonic/internal/_git/sonic-metadata
    - template: step_metadata_unit_test.yml

  - job:
    pool: nightly
    displayName: "SONiC Metadata Linter Test"
    timeoutInMinutes: 100
    steps:
    - checkout: self
    - checkout: https://mssonic@dev.azure.com/mssonic/internal/_git/sonic-metadata
    - template: step_metadata_linter.yml

- template: metadata_upgrade_template.yml
  parameters:
    TESTBED_NAME: ${{ parameters.TESTBED_NAME }}
    POOL: ${{ parameters.POOL }}
    UPGRADE_TYPE: ${{ parameters.UPGRADE_TYPE }}
    VM_TYPE: ${{ parameters.VM_TYPE }}
    SKIP_POSTUPGRADE_ACTIONS: ${{ parameters.SKIP_POSTUPGRADE_ACTIONS }}
    FROM_IMAGE_LIST: ${{ parameters.FROM_IMAGE_LIST }}
    FROM_IMAGE_URL: ${{ parameters.FROM_IMAGE_URL }}
    TO_IMAGE_LIST: ${{ parameters.TO_IMAGE_LIST }}
    TO_IMAGE_URL: ${{ parameters.TO_IMAGE_URL }}
    VSONIC_NEIGHBOR_IMAGE_URL: ${{ parameters.VSONIC_NEIGHBOR_IMAGE_URL }}
    SKIP_REBOOT_CASES: ${{ parameters.SKIP_REBOOT_CASES }}
    SELECT_SAD_CASES: ${{ parameters.SELECT_SAD_CASES }}
    ITERATIONS : ${{ parameters.ITERATIONS }}
    SKIP_TEST_RESULTS_UPLOADING: ${{ parameters.SKIP_TEST_RESULTS_UPLOADING }}
    SKIP_LOCKING_TESTBED: ${{ parameters.SKIP_LOCKING_TESTBED }}
