steps:
- script: |
    # set -x
    cd sonic-metadata
    cd scripts/tests
    pytest test_cleanup_firmware.py
    pytest eos_to_sonic_test.py
    pytest test_rvtysh.py
  displayName: Unit test SONiC metadata scripts
