parameters:
- name: TESTBED_NAME
  type: string
- name: UPGRADE_TYPE
  type: string
  default: warm
- name: ENABLE_CPA
  type: boolean
  default: true
  displayName: "ENABLE_CPA"
- name: VM_TYPE
  type: string
  displayName: "VM type of neighbor devices"
  default: ceos
- name: UPGRADE_TEST_TYPE
  type: string
  displayName: "The type of upgrade test to run. Either A->B or multi-hop"
  default: "A->B"
  values:
  - A->B
  - multi-hop
- name: FROM_IMAGE_LIST
  type: string
- name: FROM_IMAGE_URL
  type: string
  default: ""
- name: TO_IMAGE_LIST
  type: string
- name: TO_IMAGE_URL
  type: string
  default: ""
- name: MULTI_HOP_BASE_UPGRADE_PATH
  type: string
  displayName: "The name of the base upgrade path for the multi-hop upgrade test"
  default: ""
- name: MULTI_HOP_ADDITIONAL_UPGRADE_HOP_LOCATIONS
  type: string
  displayName: "The locations of the additional upgrade hops for the multi-hop upgrade test"
  default: ""
- name: MULTI_HOP_ADDITIONAL_UPGRADE_HOP_IMAGE_NUMBERS
  type: string
  displayName: "The image numbers of the additional upgrade hops for the multi-hop upgrade test"
  default: ""
- name: SKIP_POSTUPGRADE_ACTIONS
  default: true
  type: boolean
  displayName: "Skip post upgrade actions"
- name: RUN_ASIC_DB_ASIC_SAI_CONSISTENCY_CHECKER
  default: true
  type: boolean
  displayName: "Run ASIC DB and ASIC SAI consistency checker after upgrade"
- name: METADATA_UPGRADE_PATH
  default: true
  type: boolean
- name: RUN_REBOOT_CASE
  default: "test_upgrade_path"
  type: string
- name: SELECT_SAD_CASES
  default: "sad,multi_sad,sad_bgp,sad_lag_member,sad_lag,sad_vlan_port,sad_inboot"
  type: string
- name: TEST_TCAM_HOLE
  default: false
  type: boolean
- name: ITERATIONS
  type: object
  default: [1]
- name: SKIP_TEST_RESULTS_UPLOADING
  displayName: "Upload timing data report to Kusto"
  type: boolean
  default: true
- name: POOL
  type: string
  default: nightly
  displayName: "Agent pool name"
  values:
    - nightly
    - nightly-svc
    - nightly-bjw
    - nightly-tk5

steps:
- ${{ each iter in parameters.ITERATIONS }}:
  - script: |
      set -x
      cd sonic-mgmt-int
      BASE_PATH=`pwd`
      echo " Continue running test: $(CONTINUE)" # outputs secondValue
      rm -rf $(Build.ArtifactStagingDirectory)/*
      if $(CONTINUE); then
        iteration=${{ iter }}
        echo "================ iteration ${iteration} started==================="
        username=$(id -un)
        function get_image_type()
        {
          IMAGE_URL=$1
          arrURL=(${IMAGE_URL//./ })
          IMAGE_TYPE=${arrURL[-1]}
          echo "$IMAGE_TYPE"
        }
        function get_image_url()
        {
          IMAGE_URL=$1
          IMAGE_TYPE=$2

          if [[ $IMAGE_URL == "custom" ]]; then
              echo "$IMAGE_URL"
              return
          fi
          arrURL=(${IMAGE_URL//.$IMAGE_TYPE/ })
          IMAGE_URL_PREFIX=${arrURL[0]}

          if [[ $IMAGE_URL == *"201811"* ]]; then
              IMAGE_SUFFIX=20181130
          elif [[ $IMAGE_URL == *"201911"* ]]; then
              IMAGE_SUFFIX=20191130
          elif [[ $IMAGE_URL == *"202012"* ]]; then
              IMAGE_SUFFIX=20201231
          elif [[ $IMAGE_URL == *"202205-chassis"* ]]; then
              IMAGE_SUFFIX=20220532
          elif [[ $IMAGE_URL == *"202205"* ]]; then
              IMAGE_SUFFIX=20220531
          elif [[ $IMAGE_URL == *"202305"* ]]; then
              IMAGE_SUFFIX=20230531
          elif [[ $IMAGE_URL == *"202311"* ]]; then
              IMAGE_SUFFIX=20231110
          elif [[ $IMAGE_URL == *"202405-chassis"* ]]; then
              IMAGE_SUFFIX=20240532
          elif [[ $IMAGE_URL == *"202405"* ]]; then
              IMAGE_SUFFIX=20240510
          elif [[ $IMAGE_URL == *"202411"* ]]; then
              IMAGE_SUFFIX=20241110
          elif [[ $IMAGE_URL == *"202412"* ]]; then
              IMAGE_SUFFIX=20241211
          elif [[ $IMAGE_URL == *"202505"* ]]; then
              IMAGE_SUFFIX=20250510
          fi
          echo "$IMAGE_URL_PREFIX-$IMAGE_SUFFIX"
        }
        IMAGE_TYPE=`get_image_type ${{ parameters.FROM_IMAGE_URL }}`
        FROM_IMAGE_URL=`get_image_url ${{ parameters.FROM_IMAGE_URL }} $IMAGE_TYPE`
        TO_IMAGE_URL=`get_image_url ${{ parameters.TO_IMAGE_URL }} $IMAGE_TYPE`
        cd tests

        if [[ ${{ parameters.SKIP_POSTUPGRADE_ACTIONS }} == True ]]; then
            skip_postupgrade_actions_option=--skip_postupgrade_actions
        fi

        if [[ ${{ parameters.METADATA_UPGRADE_PATH }} == True ]]; then
            metadata_process_option=--metadata_process
        fi
        if [[ ${{ parameters.ENABLE_CPA }} == True ]]; then
            cpa_option=--enable_cpa
        fi

        select_sad_cases="${{ parameters.SELECT_SAD_CASES }}"

        if [[ ${{ parameters.TEST_TCAM_HOLE }} == True ]]; then
            tcam_hole_option=--tcam_hole
        fi

        if [[ ${{ parameters.VM_TYPE }} == "ceos" ]]; then
            if [[ "${{ parameters.TESTBED_NAME }}" == *"7060"* || "${{ parameters.TESTBED_NAME }}" == *"2700"* ]]; then
                ceos_lacp_multiplier_option="--ceos_neighbor_lacp_multiplier=5"
            elif [[ "${{ parameters.TESTBED_NAME }}" == *"7050"* ]]; then
                dut_without_ssd_found=false
                for dut in $(DUT_LIST); do
                    echo "Checking ${dut} for slow disk..."
                    if ! (cd ../ansible && ansible -i $(INVENTORY_NAME) "${dut}" -m debug -a "var=model") | grep -e '"model":.*SSD"'; then
                        dut_without_ssd_found=true
                        echo "DUT ${dut} is 7050 testbed without SSD"
                    else
                        echo "DUT ${dut} is 7050 testbed with SSD"
                    fi
                done
                if [[ "$dut_without_ssd_found" == true ]]; then
                    echo "7050 test device in testbed without SSD found, setting ceos_lacp_multiplier_option for extra time"
                    ceos_lacp_multiplier_option="--ceos_neighbor_lacp_multiplier=5"
                else
                    echo "All DUTs are 7050 testbed with SSD, leaving ceos_lacp_multiplier_option as default"
                fi
            fi
        fi

        if [[ ${{ parameters.RUN_ASIC_DB_ASIC_SAI_CONSISTENCY_CHECKER }} == True ]]; then
            CONSISTENCY_CHECKER_ARGS="--enable_consistency_checker"
            CONSISTENCY_CHECKER_ARGS+=" --consistency_checker_libsairedis_url_template=http://10.201.148.43/pipelines/Networking-acs-buildimage-Official/broadcom/consistency-checker-{sonic_version}/latest/target/debs/bullseye/libsairedis_1.0.0_amd64.deb"
            CONSISTENCY_CHECKER_ARGS+=" --consistency_checker_python3_pysairedis_url_template=http://10.201.148.43/pipelines/Networking-acs-buildimage-Official/broadcom/consistency-checker-{sonic_version}/latest/target/debs/bullseye/python3-pysairedis_1.0.0_amd64.deb"
        fi

        FROM_IMAGE_LIST="${{ parameters.FROM_IMAGE_LIST }}"
        TO_IMAGE_LIST="${{ parameters.TO_IMAGE_LIST }}"
        UPGRADE_TYPE="${{ parameters.UPGRADE_TYPE }}"
        UPGRADE_TEST_TYPE="${{ parameters.UPGRADE_TEST_TYPE }}"
        TEST_PASS="PASS"
        if [[ x"$UPGRADE_TEST_TYPE" = x"A->B" ]]; then
            echo "******************* A->B Upgrade Test *******************"
            for from_image in $FROM_IMAGE_LIST; do
              echo =================== Upgrading from $from_image =====================
              for to_image in $TO_IMAGE_LIST; do
                echo ======== Upgrading to $to_image ========
                from_url=$FROM_IMAGE_URL.$from_image.$IMAGE_TYPE
                to_url=$TO_IMAGE_URL.$to_image.$IMAGE_TYPE
                if [[ $FROM_IMAGE_URL == "custom" ]]; then
                  from_url=$from_image
                else
                  if [[ $from_image == *"latest"* ]]; then
                    from_url=${{ parameters.FROM_IMAGE_URL }}
                  elif [[ $from_image == *"prev"* ]]; then
                    from_url=${{ parameters.FROM_IMAGE_URL }}.PREV.1
                  fi
                fi
                if [[ $TO_IMAGE_URL == "custom" ]]; then
                  to_url=$to_image
                else
                  if [[ $to_image == *"latest"* ]]; then
                    to_url=${{ parameters.TO_IMAGE_URL }}
                  fi
                fi

                # Since we have 20241211 and 20241210 images, we need to check the image number
                if [[ $from_url == *"20241211"* ]]; then
                  # Extract the numeric part of from_image
                  if [[ $from_image =~ ([0-9]+) ]]; then
                    image_number=${BASH_REMATCH[0]}
                    # If image number is less than 10, replace 20241211 with 20241210
                    if [ $image_number -lt 10 ]; then
                      from_url=${from_url/20241211/20241210}
                      echo "Modified From URL to $from_url due to image number < 10"
                    fi
                  fi
                fi

                if [[ $to_url == *"20241211"* ]]; then
                  # Extract the numeric part of to_image
                  if [[ $to_image =~ ([0-9]+) ]]; then
                    image_number=${BASH_REMATCH[0]}
                    # If image number is less than 10, replace 20241211 with 20241210
                    if [ $image_number -lt 10 ]; then
                      to_url=${to_url/20241211/20241210}
                      echo "Modified To URL to $to_url due to image number < 10"
                    fi
                  fi
                fi

                echo From URL is $from_url
                echo To URL is $to_url

                EXTRA_PARAMS="--showlocals --assert plain -rav $cpa_option --upgrade_type=$UPGRADE_TYPE --skip_sanity --base_image_list=$from_url --target_image_list=$to_url --sad_case_list=$select_sad_cases $skip_postupgrade_actions_option $metadata_process_option $tcam_hole_option $ceos_lacp_multiplier_option $CONSISTENCY_CHECKER_ARGS"

                if [[ "${{ parameters.VM_TYPE }}" == "vsonic" ]]; then
                    EXTRA_PARAMS="$EXTRA_PARAMS --neighbor_type=sonic"
                fi

                ./run_tests.sh -n ${{ parameters.TESTBED_NAME }} \
                  -i $BASE_PATH/ansible/$INVENTORY_NAME,$BASE_PATH/ansible/veos \
                  -m individual \
                  -l INFO \
                  -e "$EXTRA_PARAMS" \
                  -u \
                  -c "metadata-scripts/test_metadata_upgrade_path.py::${{ parameters.RUN_REBOOT_CASE }}"

                if [ $? -ne 0 ]; then
                    TEST_PASS="FAIL"
                    # fail and stop all the remaining batches if pytest fails
                    echo "##vso[task.setvariable variable=CONTINUE]false"
                    echo "##vso[task.setvariable variable=SKIP_COLLECT_SHOW_TECHSUPPORT]false"
                fi
              done
            done
        elif [[ x"$UPGRADE_TEST_TYPE" = x"multi-hop" ]]; then
            echo "******************* Multi-hop Upgrade Test *******************"

            # Resolve multi-hop upgrade paths
            if [[ x"${{ parameters.POOL }}" == x"nightly-bjw" ]]; then
                assemble_upgrade_path_extra_params="--bjw-lab"
            fi
            if [[ "${{ parameters.MULTI_HOP_BASE_UPGRADE_PATH }}" =~ [^[:space:]] ]]; then
                assemble_upgrade_path_extra_params="$assemble_upgrade_path_extra_params --base-upgrade-path ${{ parameters.MULTI_HOP_BASE_UPGRADE_PATH }}"
            fi
            if [[ -n "${{ parameters.MULTI_HOP_ADDITIONAL_UPGRADE_HOP_LOCATIONS }}" ]]; then
                assemble_upgrade_path_extra_params="$assemble_upgrade_path_extra_params --additional-upgrade-hop-locations ${{ parameters.MULTI_HOP_ADDITIONAL_UPGRADE_HOP_LOCATIONS }}"
            fi
            if [[ -n x"${{ parameters.MULTI_HOP_ADDITIONAL_UPGRADE_HOP_IMAGE_NUMBERS }}" ]]; then
                assemble_upgrade_path_extra_params="$assemble_upgrade_path_extra_params --additional-upgrade-hop-numbers ${{ parameters.MULTI_HOP_ADDITIONAL_UPGRADE_HOP_IMAGE_NUMBERS }}"
            fi

            ./metadata-scripts/assemble-multihop-upgrade-path.py $assemble_upgrade_path_extra_params
            if [ $? -ne 0 ]; then
                TEST_PASS="FAIL"
                # fail and stop all the remaining batches if resolving the upgrade path fails
                echo "Failed to resolve upgrade path"
                echo "##vso[task.setvariable variable=CONTINUE]false"
                echo "##vso[task.setvariable variable=SKIP_COLLECT_SHOW_TECHSUPPORT]false"
                exit 1
            fi
            hop_upgrade_image_urls=$(cat /tmp/upgrade-path-image-urls.csv)
            popd

            EXTRA_PARAMS="--showlocals --assert plain -rav $cpa_option --upgrade_type=warm --skip_sanity --multi_hop_upgrade_path=$hop_upgrade_image_urls --sad_case_list=$select_sad_cases $skip_postupgrade_actions_option $metadata_process_option $tcam_hole_option $ceos_lacp_multiplier_option $CONSISTENCY_CHECKER_ARGS"

            if [[ "${{ parameters.VM_TYPE }}" == "vsonic" ]]; then
                EXTRA_PARAMS="$EXTRA_PARAMS --neighbor_type=sonic"
            fi

            ./run_tests.sh -n ${{ parameters.TESTBED_NAME }} \
              -i $BASE_PATH/ansible/$INVENTORY_NAME,$BASE_PATH/ansible/veos \
              -m individual \
              -l INFO \
              -e "$EXTRA_PARAMS" \
              -u \
              -c "metadata-scripts/test_multi_hop_upgrade_path.py::${{ parameters.RUN_REBOOT_CASE }}"

            if [ $? -ne 0 ]; then
                TEST_PASS="FAIL"
                # fail and stop all the remaining batches if pytest fails
                echo "##vso[task.setvariable variable=CONTINUE]false"
                echo "##vso[task.setvariable variable=SKIP_COLLECT_SHOW_TECHSUPPORT]false"
            fi
        else
            echo "No upgrade path type specified"
            exit 3
        fi

        mkdir -p logs/continuous_warm_reboot/ || true
        cp -r logs $(Build.ArtifactStagingDirectory)/
        rm -rf logs
        sudo chown -R $username.$username $(Build.ArtifactStagingDirectory)
        echo "================ iteration ${iteration} completed==================="
      else
        echo "Test execution failure caused skipping of remaining tests"
        echo "##vso[task.setvariable variable=COLLECT_ARTIFACT]false"
        exit 2
      fi
      if [ "$TEST_PASS" = FAIL ]; then
          exit 1
      fi
    env:
      INVENTORY_NAME: $(INVENTORY_NAME)
      CONTINUE: $(CONTINUE)
      COLLECT_ARTIFACT: $(COLLECT_ARTIFACT)
      SKIP_COLLECT_SHOW_TECHSUPPORT: $(SKIP_COLLECT_SHOW_TECHSUPPORT)

    displayName: UpgradeSonic
    continueOnError: true

  - task: Bash@3
    displayName: Collect show techsupport results
    inputs:
      targetType: 'inline'
      script: |
        set -x

        cd sonic-mgmt-int/ansible
        mkdir show_tech_results
        ./testbed-cli.sh -t testbed.yaml collect-show-tech ${{ parameters.TESTBED_NAME }} $(INVENTORY_NAME) password.txt -e "output_path=show_tech_results" || exit 0

        cp -r show_tech_results $(Build.ArtifactStagingDirectory)/logs

    condition: eq(variables['SKIP_COLLECT_SHOW_TECHSUPPORT'], 'false')

  - task: Bash@3
    displayName: Cleanup show techsupport Results
    inputs:
      targetType: 'inline'
      script: |
        set -x
        rm -fr ./sonic-mgmt-int/ansible/show_tech_results
        echo "##vso[task.setvariable variable=SKIP_COLLECT_SHOW_TECHSUPPORT]true"
    condition: eq(variables['SKIP_COLLECT_SHOW_TECHSUPPORT'], 'false')

  - publish: $(Build.ArtifactStagingDirectory)/logs
    artifact: ${{ parameters.TESTBED_NAME}}.${{ parameters.RUN_REBOOT_CASE }}.log@${{ iter }}
    displayName: "Archive upgrade per-iteration logs"
    continueOnError: false
    condition: eq(variables['COLLECT_ARTIFACT'], 'true')

  - task: AzureCLI@2
    displayName: Upload Upgrade path reboot timing data
    inputs:
      azureSubscription: "SONiC-Automation"
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        pwd

        accessToken=$(az account get-access-token --resource https://api.kusto.windows.net --query accessToken -o tsv)
        export ACCESS_TOKEN=$accessToken

        set -x

        cd ./sonic-mgmt-int/test_reporting

        python3 junit_xml_parser.py -d $(Build.ArtifactStagingDirectory)/logs -o tr.json

        # temporary workaround to allow reboot timing data upload
        # After recent test change, the file names get DUT name in them
        # A more permanent fix is needed in report_uploader.py to accept file names with DUT name
        reboot_path=$(Build.ArtifactStagingDirectory)/logs/platform_tests
        reboot_results=`find $reboot_path -type f -regex '.*test.*_\(reboot\|upgrade_path\).*_\(summary\|report\).json'`

        for reboot_result in $reboot_results; do
            result_target=`echo $reboot_result | sed "s/\[.*\]//g"`
            mv $reboot_result $result_target || true
        done

        report_upload_files="$(find $reboot_path -type f -regex '.*test.*_\(reboot\|sad.*\|upgrade_path\)_\(summary\|report\).json')"
        python3 report_uploader.py -c "test_result" -e "$(Build.DefinitionName)#$(Build.BuildId):${{ iter }}" --json tr.json $report_upload_files SonicTestData
    condition: and(eq(variables['COLLECT_ARTIFACT'], 'true'), ${{ parameters.SKIP_TEST_RESULTS_UPLOADING }})
    env:
      TEST_REPORT_INGEST_KUSTO_CLUSTER: $(TEST_REPORT_INGEST_KUSTO_CLUSTER)
      TEST_REPORT_INGEST_KUSTO_CLUSTER_BACKUP: $(TEST_REPORT_INGEST_KUSTO_CLUSTER_BACKUP)
