# List of packages required by pylint.
# Everytime a new third-party package is used in a file under
# tests/common2 add the package to the list here.
#
# NOTE some packages are pre-added to ensure much of the move to
# common2 is covered. Versions don't matter this is for pylint to not complain

# Testing framework
pytest

# Network libraries
requests
netaddr
ipaddress  # Note: built-in for Python 3.3+, but kept for compatibility
scapy
paramiko
pysnmp

# Data processing and templating
jinja2
yaml
PyYAML
json  # Note: built-in, but keeping for clarity

# Text processing and parsing
textfsm
tabulate
six

# System and process management
click
pexpect
natsort
docker
kubernetes

# Data manipulation
jsonpatch

# Allure reporting
allure-commons

# Type checking support
types-PyYAML
types-six
types-paramiko
types-requests

# Redis for SONiC database interactions
redis

# Additional utility libraries
ansible
