name: $(Build.DefinitionName)_${{ parameters.TEST_PLAN_ID }}_$(SourceBranchName)_$(Build.BuildId)_$(Date:yyyyMMdd)$(Rev:.r)

trigger: none
pr: none

pool: nightly

parameters:
  - name: TEST_PLAN_ID
    type: string
    default: ""
    displayName: "Elastictest test plan id"

  - name: CONTAINER
    type: string
    default: "nightlytest"
    values:
      - nightlytest
      - prtest
    displayName: "Storage account container, 'nightlytest' for nightly test, 'prtest' for pr test"

variables:
  - group: SONiC-Elastictest

steps:
  - script: |
      set -ex
      pip install azure-identity azure-storage-blob
    displayName: 'Install package'

  - task: AzureCLI@2
    inputs:
      azureSubscription: "SONiC-Automation"
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        pwd
        python ./.azure-pipelines/elastictest/utils/package_download_test_plan_artifacts.py --container "${{ parameters.CONTAINER }}" --testplan-id "${{ parameters.TEST_PLAN_ID }}" --local-directory artifacts
    displayName: 'Downloaded artifacts'


  - script: |
      ls -R artifacts/${{ parameters.TEST_PLAN_ID }}
    displayName: 'Review downloaded artifacts'

  - publish: artifacts/${{ parameters.TEST_PLAN_ID }}
    artifact: Elastictest.test_plan.${{ parameters.TEST_PLAN_ID }}.artifacts
    displayName: "Archive artifacts"
