{% if (pfc_asym  is defined) and (pfc_asym == True) %}
docker exec syncd /bin/bash -c "{% if pfc_storm_defer_time is defined %} sleep {{pfc_storm_defer_time}} &&{% endif %} python /root/{{pfc_gen_file}} -p {{pfc_queue_index}} -n {{pfc_frames_number}} -i {{pfc_fanout_interface}} -l {{pfc_fanout_label_port}}" > /dev/null 2>&1 &
{% else %}
docker exec syncd /bin/bash -c "{% if pfc_storm_defer_time is defined %} sleep {{pfc_storm_defer_time}} &&{% endif %} python /root/{{pfc_gen_file}} -p {{(1).__lshift__(pfc_queue_index)}} -n {{pfc_frames_number}} -s {{send_pfc_frame_interval}} -i {{pfc_fanout_interface}} -l {{pfc_fanout_label_port}} -r {{ansible_eth0_ipv4_addr}}" > /dev/null 2>&1 &
{% endif %}
