[
        {
                "DASH_ROUTE_TABLE:001111110001:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet1"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110002:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet2"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110003:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet3"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110004:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet4"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110005:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet5"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110006:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet6"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110007:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet7"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110008:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet8"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110009:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet9"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111000a:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet10"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111000b:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet11"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111000c:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet12"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111000d:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet13"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111000e:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet14"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111000f:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet15"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110010:192.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet16"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110011:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet17"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110012:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet18"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110013:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet19"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110014:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet20"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110015:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet21"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110016:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet22"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110017:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet23"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110018:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet24"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110019:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet25"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111001a:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet26"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111001b:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet27"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111001c:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet28"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111001d:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet29"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111001e:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet30"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:00111111001f:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet31"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:001111110020:194.0.0.0/8" : {
                        "action_type":"vnet",
                        "vnet":"Vnet32"
                },
                "OP": "{{ op }}"
        }
]
