[
    {
            "DASH_ROUTING_TYPE_TABLE:vnet": {
                "action_name": "action1",
                "action_type": "maprouting"
            },
        "OP": "{{ op }}"
    },
    {
            "DASH_ROUTING_TYPE_TABLE:vnet_direct": {
                "action_name": "action1",
                "action_type": "maprouting"
            },
        "OP": "{{ op }}"
    },
    {
            "DASH_ROUTING_TYPE_TABLE:vnet_encap": {
                "action_name": "action1",
                "action_type": "staticencap",
                "encap_type": "vxlan"
            },
        "OP": "{{ op }}"
    },
    {
            "DASH_VNET_TABLE:Vnet1" : {
                    "vni":"2001",
                    "guid":"0000a1a1-0000-0000-fb00-007500000002"
            },
            "OP": "{{ op }}"
    },
    {
            "DASH_VNET_TABLE:Vnet2" : {
                    "vni":"2002",
                    "guid":"0000a1a1-0000-0000-fb00-007500000003"
            },
            "OP": "{{ op }}"
    },
    {
            "DASH_VNET_TABLE:Vnet3" : {
                    "vni":"2003",
                    "guid":"0000a1a1-0000-0000-fb00-007500000004"
            },
            "OP": "{{ op }}"
    },
    {
            "DASH_VNET_TABLE:Vnet4" : {
                    "vni":"2004",
                    "guid":"0000a1a1-0000-0000-fb00-007500000005"
            },
            "OP": "{{ op }}"
    },
    {
            "DASH_VNET_TABLE:Vnet5" : {
                    "vni":"2005",
                    "guid":"0000a1a1-0000-0000-fb00-007500000006"
            },
            "OP": "{{ op }}"
    },
    {
            "DASH_VNET_TABLE:Vnet6" : {
                    "vni":"2006",
                    "guid":"0000a1a1-0000-0000-fb00-007500000007"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet7" : {
                    "vni":"2007",
                    "guid":"0000a1a1-0000-0000-fb00-007500000008"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet8" : {
                    "vni":"2008",
                    "guid":"0000a1a1-0000-0000-fb00-007500000008"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet9" : {
                    "vni":"2009",
                    "guid":"0000a1a1-0000-0000-fb00-007500000009"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet10" : {
                    "vni":"2010",
                    "guid":"0000a1a1-0000-0000-fb00-00750000000a"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet11" : {
                    "vni":"2011",
                    "guid":"0000a1a1-0000-0000-fb00-00750000000b"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet12" : {
                    "vni":"2012",
                    "guid":"0000a1a1-0000-0000-fb00-00750000000c"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet13" : {
                    "vni":"2013",
                    "guid":"0000a1a1-0000-0000-fb00-00750000000d"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet14" : {
                    "vni":"2014",
                    "guid":"0000a1a1-0000-0000-fb00-00750000000e"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet15" : {
                    "vni":"2015",
                    "guid":"0000a1a1-0000-0000-fb00-00750000000f"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet16" : {
                    "vni":"2016",
                    "guid":"0000a1a1-0000-0000-fb00-007500000010"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet17" : {
                    "vni":"2017",
                    "guid":"0000a1a1-0000-0000-fb00-007500000011"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet18" : {
                    "vni":"2018",
                    "guid":"0000a1a1-0000-0000-fb00-007500000012"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet19" : {
                    "vni":"2019",
                    "guid":"0000a1a1-0000-0000-fb00-007500000013"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet20" : {
                    "vni":"2020",
                    "guid":"0000a1a1-0000-0000-fb00-007500000014"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet21" : {
                    "vni":"2021",
                    "guid":"0000a1a1-0000-0000-fb00-007500000015"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet22" : {
                    "vni":"2022",
                    "guid":"0000a1a1-0000-0000-fb00-007500000016"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet23" : {
                    "vni":"2023",
                    "guid":"0000a1a1-0000-0000-fb00-007500000017"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet24" : {
                    "vni":"2024",
                    "guid":"0000a1a1-0000-0000-fb00-007500000018"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet25" : {
                    "vni":"2025",
                    "guid":"0000a1a1-0000-0000-fb00-007500000019"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet26" : {
                    "vni":"2026",
                    "guid":"0000a1a1-0000-0000-fb00-00750000001a"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet27" : {
                    "vni":"2027",
                    "guid":"0000a1a1-0000-0000-fb00-00750000001b"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet28" : {
                    "vni":"2028",
                    "guid":"0000a1a1-0000-0000-fb00-00750000001c"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet29" : {
                    "vni":"2029",
                    "guid":"0000a1a1-0000-0000-fb00-00750000001d"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet30" : {
                    "vni":"2030",
                    "guid":"0000a1a1-0000-0000-fb00-00750000001e"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet31" : {
                    "vni":"2031",
                    "guid":"0000a1a1-0000-0000-fb00-00750000001f"
            },
            "OP": "{{ op }}"
    },
	{
            "DASH_VNET_TABLE:Vnet32" : {
                    "vni":"2032",
                    "guid":"0000a1a1-0000-0000-fb00-007500000020"
            },
            "OP": "{{ op }}"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110001": {
            "guid": "group_001111110001-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110002": {
            "guid": "group_001111110002-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110003": {
            "guid": "group_001111110003-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110004": {
            "guid": "group_001111110004-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110005": {
            "guid": "group_001111110005-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110006": {
            "guid": "group_001111110006-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110007": {
            "guid": "group_001111110007-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110008": {
            "guid": "group_001111110008-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110009": {
            "guid": "group_001111110009-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111000a": {
            "guid": "group_00111111000a-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111000b": {
            "guid": "group_00111111000b-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111000c": {
            "guid": "group_00111111000c-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111000d": {
            "guid": "group_00111111000d-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111000e": {
            "guid": "group_00111111000e-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111000f": {
            "guid": "group_00111111000f-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110010": {
            "guid": "group_001111110010-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110011": {
            "guid": "group_001111110011-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110012": {
            "guid": "group_001111110012-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110013": {
            "guid": "group_001111110013-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110014": {
            "guid": "group_001111110014-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110015": {
            "guid": "group_001111110015-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110016": {
            "guid": "group_001111110016-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110017": {
            "guid": "group_001111110017-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110018": {
            "guid": "group_001111110018-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110019": {
            "guid": "group_001111110019-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111001a": {
            "guid": "group_00111111001a-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111001b": {
            "guid": "group_00111111001b-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111001c": {
            "guid": "group_00111111001c-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111001d": {
            "guid": "group_00111111001d-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111001e": {
            "guid": "group_00111111001e-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:00111111001f": {
            "guid": "group_00111111001f-test",
            "version": "1"
        },
        "OP": "SET"
    },
    {
        "DASH_ROUTE_GROUP_TABLE:001111110020": {
            "guid": "group_001111110020-test",
            "version": "1"
        },
        "OP": "SET"
    }
]
