[
    {
        "DASH_ROUTE_GROUP_TABLE:group_id_3": {
            "guid":"group_id_3-test",
            "version":"1"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_ROUTE_TABLE:group_id_3:10.1.0.0/24": {
            "routing_type":"vnet",
            "vnet":"Vnet1"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_ROUTE_TABLE:group_id_3:10.2.0.0/24": {
            "routing_type":"vnet",
            "vnet":"Vnet1"
        },
        "OP": "{{ op }}"
    }
]
