[
    {
        "DASH_ENI_TABLE:F4939FEFC47E": {
            "eni_id": "497f23d7-f0ac-4c99-a98f-59b470e8c7bd",
            "mac_address": "F4:93:9F:EF:C4:7E",
            "underlay_ip": "2.2.1.2",
            "admin_state": "enabled",
            "vnet": "Vnet1",
            "pl_underlay_sip": "55.1.2.3",
            "pl_sip_encoding": "::cf0b:64:ff71:0:0/::ffff:ffff:ffff:0:0"
        },
        "OP": "{{ op }}"
    }
]
