[
[
    {
        "DASH_APPLIANCE_TABLE:1": {
            "sip": "3.2.1.0",
            "vm_vni": "600"
        },
        "OP": "{{ op }}"
    }
],
[
    {
        "DASH_ROUTING_TYPE_TABLE:vnet": {
            "action_name": "action1",
            "action_type": "maprouting"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_ROUTING_TYPE_TABLE:vnet_direct": {
            "action_name": "action1",
            "action_type": "maprouting"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_ROUTING_TYPE_TABLE:vnet_encap": {
            "action_name": "action1",
            "action_type": "staticencap",
            "encap_type": "vxlan"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_ROUTING_TYPE_TABLE:privatelink": [
            {
                "action_name": "action1",
                "action_type": "4_to_6"
            },
            {
                "action_name": "action2",
                "action_type": "staticencap",
                "encap_type": "nvgre",
                "vni":"100"
            }
        ],
        "OP": "{{ op }}"
    }
],
[
    {
        "DASH_VNET_TABLE:Vnet1": {
            "vni": "3023",
            "guid": "559c6ce8-26ab-4193-b946-ccc6e8f930b2"
        },
        "OP": "{{ op }}"
    }
],
[
    {
        "DASH_ENI_TABLE:F4939FEFC47E": {
            "eni_id": "497f23d7-f0ac-4c99-a98f-59b470e8c7bd",
            "mac_address": "F4:93:9F:EF:C4:7E",
            "underlay_ip": "2.2.1.2",
            "admin_state": "enabled",
            "vnet": "Vnet1",
            "pl_underlay_sip": "55.1.2.3",
            "pl_sip_encoding": "::cf0b:64:ff71:0:0/::ffff:ffff:ffff:0:0"
        },
        "OP": "{{ op }}"
    }
],
[
    {
        "DASH_ROUTE_GROUP_TABLE:group_id_3": {
            "guid":"group_id_3-test",
            "version":"1"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_ROUTE_TABLE:group_id_3:10.1.0.0/24": {
            "routing_type":"vnet",
            "vnet":"Vnet1"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_ROUTE_TABLE:group_id_3:10.2.0.0/24": {
            "routing_type":"vnet",
            "vnet":"Vnet1"
        },
        "OP": "{{ op }}"
    }
],
[
    {
        "DASH_VNET_MAPPING_TABLE:Vnet1:10.1.0.8": {
            "routing_type":"privatelink",
            "mac_address":"F9:22:83:79:22:A2",
            "underlay_ip":"50.1.2.3",
            "overlay_sip_prefix":"fd41:108:20:abc:abc::0/ffff:ffff:ffff:ffff:ffff:ffff::",
            "overlay_dip_prefix":"2603:10e1:100:2::3401:203/ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_VNET_MAPPING_TABLE:Vnet1:10.2.0.6": {
            "routing_type":"privatelink",
            "mac_address":"F9:22:83:99:22:A2",
            "underlay_ip":"50.2.2.6",
            "overlay_sip_prefix":"ccc4:ac57:2546::/ffff:ffff:ffff::",
            "overlay_dip_prefix":"3332:0f1c:2878:c130:d6a0:a997:aa33:c63d/ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_VNET_MAPPING_TABLE:Vnet1:10.2.0.9": {
            "routing_type":"privatelink",
            "mac_address":"F9:22:83:99:22:A2",
            "underlay_ip":"50.2.2.6",
            "overlay_sip_prefix":"35ea:8ec2:e511::/ffff:ffff:ffff::",
            "overlay_dip_prefix":"f409:6491:d18e:d3ff:ad7a:3b6e:0702:a92a/ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff"
        },
        "OP": "{{ op }}"
    }
],
[
    {
        "DASH_ENI_ROUTE_TABLE:F4939FEFC47E": {
            "group_id":"group_id_3"
        },
        "OP": "{{ op }}"
    }
]
]
