[
    {
        "DASH_VNET_MAPPING_TABLE:Vnet1:10.1.0.8": {
            "routing_type":"privatelink",
            "mac_address":"F9:22:83:79:22:A2",
            "underlay_ip":"50.1.2.3",
            "overlay_sip_prefix":"fd41:108:20:abc:abc::0/ffff:ffff:ffff:ffff:ffff:ffff::",
            "overlay_dip_prefix":"2603:10e1:100:2::3401:203/ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_VNET_MAPPING_TABLE:Vnet1:10.2.0.6": {
            "routing_type":"privatelink",
            "mac_address":"F9:22:83:99:22:A2",
            "underlay_ip":"50.2.2.6",
            "overlay_sip_prefix":"ccc4:ac57:2546::/ffff:ffff:ffff::",
            "overlay_dip_prefix":"3332:0f1c:2878:c130:d6a0:a997:aa33:c63d/ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_VNET_MAPPING_TABLE:Vnet1:10.2.0.9": {
            "routing_type":"privatelink",
            "mac_address":"F9:22:83:99:22:A2",
            "underlay_ip":"50.2.2.6",
            "overlay_sip_prefix":"35ea:8ec2:e511::/ffff:ffff:ffff::",
            "overlay_dip_prefix":"f409:6491:d18e:d3ff:ad7a:3b6e:0702:a92a/ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff"
        },
        "OP": "{{ op }}"
    }
]
