[
        {
                "DASH_VNET_MAPPING_TABLE:vnet1:10.1.1.1" : {
                        "routing_type":"vnet_encap",
                        {% if dpu_index == num_dpus - 1 %}
                        "underlay_ip":"100.1.2.3",
                        {% else %}
                        "underlay_ip":"3.2.1.{{ dpu_index+1 }}",
                        {% endif %}
                        "mac_address":"F9:22:83:99:22:A2",
                        "use_dst_vni":"true"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_QOS_TABLE:qos100" : {
                        "qos_id":"100",
                        "bw":"4000000000",
                        "cps":"10000000",
                        "flows":"50000000"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ENI_ROUTE_TABLE:F4939FEFC47E": {
                    "group_id":"group_id_1"
                },
               "OP": "{{ op }}"
        }
]
