[
        {
                "DASH_ENI_TABLE:001111110001" : {
                        "eni_id":"0000a1a1-0000-0000-fb00-007000000002",
                        "mac_address":"00:11:11:11:00:01",
                        "underlay_ip":"19.19.211.1",
                        "admin_state":"enabled",
                        "vnet":"Vnet1"
                },
                "OP": "SET"
        },
        {
                "DASH_ROUTE_GROUP_TABLE:group_id_1": {
                       "guid":"group_id_1-test",
                       "version":"1"
                },
                "OP": "SET"
        }
]
