[
    {
            "DASH_APPLIANCE_TABLE:123" : {
                "sip":"3.2.1.0",
                "vm_vni":"600"
            },
        "OP": "{{ op }}"
    },
    {
            "DASH_ROUTING_TYPE_TABLE:vnet": {
                "action_name": "action1",
                "action_type": "maprouting"
            },
        "OP": "{{ op }}"
    },
    {
            "DASH_ROUTING_TYPE_TABLE:vnet_direct": {
                "action_name": "action1",
                "action_type": "maprouting"
            },
        "OP": "{{ op }}"
    },
    {
            "DASH_ROUTING_TYPE_TABLE:vnet_encap": {
                "action_name": "action1",
                "action_type": "staticencap",
                "encap_type": "vxlan"
            },
        "OP": "{{ op }}"
    },
    {
            "DASH_VNET_TABLE:Vnet1" : {
                "vni":"2001",
                "guid":"0000a1a1-0000-0000-fb00-007500000002"
            },
            "OP": "{{ op }}"
    }
]
