#jinja2: trim_blocks: True,lstrip_blocks: True
{#
 For normal functional test, no need to pass the below configurations.
   num_vnet - Default 8.
   num_routes - (including peer & local routes)
           value 24 - if ipv6_vxlan_test == true
           value 12 - if ipv6_vxlan_test == false
   num_endpoints - Default 8

 For Scale test, below configurations are to be passed.
   num_vnet - Mandatory for scale test.
   num_routes - Optional. Default 16000 for scale test.
   num_endpoints - Optional. Default 4000 for scale test.
 Ex: ansible playbook extra vars: -e "num_vnet=51 num_routes=550 num_endpoints=200"

 Ethernet IP - 10.10.10.1/24
 Vlan IP - A.B.10.1/24; starts 30.1.10.1/24 (A,B derived from vlan id starting 3001)
 Route Pfx - A.B.C.D/32; starts 100.1.1.1/32
             (A,B derived from 100+vnet_id; C,D derived from number of routes per vnet)
 Route endpoint - A.B.C.D; starts from 200.1.1.1 (C,D derived from number of endpoints)
 
#}
{% set vnet_v6_base = 4 %}
{% set vlan_id_base = 3001 %}
{% set vlan_rif_base = 2000 %}

{# A single vnet batch contains 8 Vnets #}
{% set num_vnet_batch = 8 %}
num_vnet_batch: {{ num_vnet_batch }}

{# A single vnet batch has total 18 routes and 8 endpoints including peers if ipv6_vxlan_test == true.
   There will be only 9 routes and 4 endpoints if ipv6_vxlan_test == false #} 
{% if ipv6_vxlan_test == true %}
  {% set num_routes_batch = 18 %}
  {% set num_endpoints_batch = 8 %}
{% else %}
  {% set num_routes_batch = 9 %}
  {% set num_endpoints_batch = 4 %}
{% endif %}

{#  Normal testing - 8 Vnets #}
{% if num_vnet is undefined or not num_vnet %}
  {% set num_vnet = 1 %}
  {% set num_routes_iterations = 1 %}
  {% set num_endpoints = 4000 %}
{% endif %}
{% set num_vnet = num_vnet|int %}

{# Convert num_vnet to a divisible of 8 since one batch has 8 vnets #}
{% set num_vnet = ((num_vnet//num_vnet_batch)|int)*num_vnet_batch %}

{% if num_vnet <= 8 %}
  {% set num_vnet = 8 %}
  {% set num_routes_iterations = 1 %}
  {% set num_endpoints = 4000 %}
{% else %}
  {# Scale testing - Determine the number of routes per each Vnet batch (8 Vnets) #}
  {% if num_routes is undefined or not num_routes %}
    {% set num_routes = 16000 %}
  {% endif %}
  {% if num_endpoints is undefined or not num_endpoints %}
    {% set num_endpoints = 4000 %}
  {% endif %}
  {% set num_routes = num_routes|int %}
  {% set num_endpoints = num_endpoints|int %}
  {% set num_routes_iterations = ((num_routes/num_routes_batch)/(num_vnet/num_vnet_batch))|round|int %}
  {% if num_routes_iterations == 0 %} {% set num_routes_iterations = 1 %} {% endif %}
{% endif %}
{% set topo_vlan = minigraph_vlans.keys()[0] %}

{% set num_routes_iterations = 1 %}
{# Max RIFs support currently is 128 #}
{% if num_vnet > 128 %}
  {% set max_rif = 128 %}
{% else %}
  {% set max_rif = num_vnet %}
{% endif %}

{% if num_intf_per_vnet is undefined or not num_intf_per_vnet %}
    {% set num_addl_intf = 0%}
{% else %}
    {% set num_addl_intf = (num_intf_per_vnet|int) - 1 %}
{% endif %}

{# Vlan Configurations 
 Vlan IP - A.B.10.1/24; starts 30.1.10.1/24 (A,B derived from vlan id)
#}
vlan_intf_list:
{% set ports = minigraph_vlans[topo_vlan].members[1:] %}
{% for vlan in range (vlan_id_base, vlan_id_base + num_vnet) %}
  {% set vlan_str = (vlan-1)|string %}
  {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int)+1 %}
  - vlan_id: '{{ (vlan|int) }}'
    ifname: 'Vlan{{ vlan }}'
    ip: '{{ ip_a }}.{{ ip_b }}.10.1/24'
    port: '{{ ports[loop.index0%(ports|length)] }}'
{% endfor %}
{% for vlan in range(vlan_rif_base, num_addl_intf * num_vnet + vlan_rif_base) %}
  {% set vlan_str = (vlan)|string %}
  {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int) %}
  - vlan_id: '{{ (vlan|int) }}'
    ifname: 'Vlan{{ vlan }}'
    ip: '{{ ip_a }}.{{ ip_b }}.10.1/24'
    port: '{{ ports[loop.index0 // num_addl_intf % (ports|length) ] }}'
{% endfor %}

{# Interface Configuration #}
intf_list:
{% set index = 10 %}
  - ifname: {{ minigraph_vlans[topo_vlan].members[0] }}
    ip: '{{ index }}.{{ index }}.10.1/24'

{# Vnet Configurations #}
vnet_id_list:
{% for vnet in range (1, 1 + num_vnet) %}
  - Vnet{{ vnet }}
{% endfor %}

{% if ipv6_vxlan_test == true %}
vnet_v6_base: {{ vnet_v6_base }}
{% endif %}

{# Vnet - Peer Configurations #}
vnet_peer_list:
{% for vnet_batch in range (1, 1 + max_rif)|batch(4) %}
  - Vnet{{ vnet_batch[2] }}: Vnet{{ vnet_batch[3] }}
  - Vnet{{ vnet_batch[3] }}: Vnet{{ vnet_batch[2] }}
{% endfor %}
{% if num_vnet > max_rif %}
  {% set peering_vnets = num_vnet - max_rif %}
  {% for vnet_id in range (max_rif + 1, num_vnet + 1) %}
    {% set peer_vnet = (loop.index0 % max_rif) + 1 %}
  - Vnet{{ vnet_id }}: Vnet{{ peer_vnet }}
  - Vnet{{ peer_vnet }}: Vnet{{ vnet_id }}
  {% endfor %}
{% endif %}

{# Vnet - Interface Configurations #}
vnet_intf_list:
{% for vlan in range (vlan_id_base, vlan_id_base + max_rif) %}
  - ifname: Vlan{{ vlan }}
    vnet: Vnet{{ loop.index }}
{% endfor %}
{% for vlan in range(vlan_rif_base, num_addl_intf * num_vnet + vlan_rif_base) %}
  - ifname: Vlan{{ vlan }}
    vnet: Vnet{{ loop.index0 // num_addl_intf + 1 }}
{% endfor %}

{# Vnet - Neighbor Configurations #}
vnet_nbr_list:
{% for vlan_batch in range (vlan_id_base, vlan_id_base + num_vnet)|batch(4) %}
  {% for vlan in vlan_batch %}
    {% set vlan_str = (vlan-1)|string %}
    {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int)+1 %}
  - ifname: Vlan{{ vlan }}
    ip: '{{ ip_a }}.{{ ip_b }}.10.101'
    {% if (loop.index0 == 0) or (loop.index0 == 1) %}
  - ifname: Vlan{{ vlan }}
    ip: '{{ ip_a }}.{{ ip_b }}.10.102'
    {% endif %}
  {% endfor %}
{% endfor %}
{% for vlan in range(vlan_rif_base, num_addl_intf * num_vnet + vlan_rif_base) %}
  {% set vlan_str = vlan|string %}
  {% set ip_a, ip_b = vlan_str[:2]|int, vlan_str[2:]|int %}
  - ifname: Vlan{{ vlan }}
    ip: '{{ ip_a }}.{{ ip_b }}.10.101'
{% endfor  %}
  - ifname: {{ minigraph_vlans[topo_vlan].members[0] }}
    ip: '10.10.10.102'

vnet_nbr_list:
{% for vlan_batch in range (vlan_id_base, vlan_id_base + num_vnet)|batch(4) %}
  {% for vlan in vlan_batch %}
    {% set vlan_str = (vlan-1)|string %}
    {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int)+1 %}
  - ifname: Vlan{{ vlan }}
    ip: 'FDDD::{{ ip_a }}:{{ ip_b }}:10:101'
    {% if (loop.index0 == 0) or (loop.index0 == 1) %}
  - ifname: Vlan{{ vlan }}
    ip: 'FDDD::{{ ip_a }}:{{ ip_b }}:10:102'
    {% endif %}
  {% endfor %}
{% endfor %}
{% for vlan in range(vlan_rif_base, num_addl_intf * num_vnet + vlan_rif_base) %}
  {% set vlan_str = vlan|string %}
  {% set ip_a, ip_b = vlan_str[:2]|int, vlan_str[2:]|int %}
  - ifname: Vlan{{ vlan }}
    ip: 'FDDD::{{ ip_a }}:{{ ip_b }}:10:101'
{% endfor  %}

vlan_intf_list:
{% set ports = minigraph_vlans[topo_vlan].members[1:] %}
{% for vlan in range (vlan_id_base, vlan_id_base + num_vnet) %}
  {% set vlan_str = (vlan-1)|string %}
  {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int)+1 %}
  - vlan_id: '{{ (vlan|int) }}'
    ifname: 'Vlan{{ vlan }}'
    ip: 'FDDD::{{ ip_a }}:{{ ip_b }}:10:1/120'
    port: '{{ ports[loop.index0%(ports|length)] }}'
{% endfor %}
{% for vlan in range(vlan_rif_base, num_addl_intf * num_vnet + vlan_rif_base) %}
  {% set vlan_str = (vlan)|string %}
  {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int) %}
  - vlan_id: '{{ (vlan|int) }}'
    ifname: 'Vlan{{ vlan }}'
    ip: 'FDDD::{{ ip_a }}:{{ ip_b }}:10:1/120'
    port: '{{ ports[loop.index0 // num_addl_intf % (ports|length) ] }}'
{% endfor %}



{# Vnet - Subnet tunnel route Configurations #}
vnet_subnet_routes:
{% for vlan_batch in range (vlan_id_base, vlan_id_base + max_rif)|batch(4) %}
  - Vnet{{ vlan_batch[0]-vlan_id_base+1 }}_route_list:
    {% set vlan_str = (vlan_batch[0]-1)|string %}
    {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int)+1 %}
      - pfx: '{{ ip_a }}.{{ ip_b }}.10.201/32'
        end: '200.1.{{ ip_a }}.{{ ip_b }}'
  - Vnet{{ vlan_batch[1]-vlan_id_base+1 }}_route_list:
    {% set vlan_str = (vlan_batch[1]-1)|string %}
    {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int)+1 %}
      - pfx: '{{ ip_a }}.{{ ip_b }}.10.202/32'
        end: '200.1.{{ ip_a }}.{{ ip_b }}'
        #vni: '12345'
        #mac: '00:00:00:00:a1:b2'
{% endfor %}

{# Vnet - Routes
 Route Pfx - A.B.C.D/32; starts 100.1.1.1/32
            (A,B derived from 100+vnet_id; C,D derived from number of routes per vnet)
 Route endpoint - A.B.C.D; starts from 200.1.1.1 (C,D derived from number of endpoints)
#}
{% set endpoints_iters = (num_endpoints//(num_routes_iterations*num_endpoints_batch))|int %}
{% if (num_endpoints%(num_routes_iterations*num_endpoints_batch))|int > 0 %}
  {% set endpoints_iters = endpoints_iters + 1 %}
{% endif %}

{# ##################################
# All next-hops. Currently we support upto 1020 next hops
# Create a list of random nexthops.
#}
{%- set list_of_all_endpoints_v4 = [] %}
{%- for end_index in range(0, total_number_of_endpoints) %}
  {%- set part_a, part_b = ((end_index//255)|int)+1, ((end_index % 255)|int)+1 %}
  {%- set _ = list_of_all_endpoints_v4.append((range(200, 220)|random|string +  "." + part_a|string + "." + part_b|string + "." + range(0, 255)|random|string)) %}
{% endfor %}

{%- set total_number_of_nexthops_v4 = total_number_of_nexthops %}
{%- set number_of_v4_destinations = number_of_destinations %}
{%- set number_of_v6_destinations = 0 %}
{%- if ipv6_in_ipv4 == true %}
  {%- set total_number_of_nexthops_v4 = (total_number_of_nexthops / 2)|int %}
  {%- set number_of_v4_destinations = (number_of_destinations/2)|int %}
  {%- set number_of_v6_destinations = (number_of_destinations/2)|int %}
{% endif %}
vnet_route_list_ecmp:
  - Vnet1_route_list_ecmp:
{%- set count_total_number_of_nexthops = [] %}
{%- for destination in range(number_of_v4_destinations) %}
  {%- set ip_r_a, ip_r_b = ((destination//100)|int)+100, ((destination%100)|int)+1  %}
    {%- for idx in range (0, num_routes_iterations*2, 2) -%}
      {%- set idx_a, idx_b = ((idx//100)|int)+1, ((idx%100)|int)+1  -%}
      {%- set endpoints_list = [] -%}
      {%- for ecmp_nh in range(0, ecmp_nhs_per_destination) %}
        {%- set index_endpoints = count_total_number_of_nexthops|length % total_number_of_endpoints %}
        {%- if count_total_number_of_nexthops|length < total_number_of_nexthops_v4 %}
          {%- set _ = endpoints_list.append( list_of_all_endpoints_v4[index_endpoints] ) %}
        {%- endif %}
        {%- set _ = count_total_number_of_nexthops.append(1) %}
      {%- endfor %}
      {%- if endpoints_list|length != 0 %}
      - pfx: '{{ ip_r_a }}.{{ ip_r_b }}.{{ idx_a }}.{{ idx_b }}/32'
        end: '{{ endpoints_list|join(',') }}'
      {%- endif %}
    {%- endfor %}
{%- endfor %}
{%- if ipv6_in_ipv4 == true %}
{%- for destination in range(number_of_v6_destinations) %}
  {%- set ip_r_a, ip_r_b = ((destination//100)|int)+100, ((destination%100)|int)+1  %}
    {%- for idx in range (0, num_routes_iterations*2, 2) -%}
      {%- set idx_a, idx_b = ((idx//100)|int)+1, ((idx%100)|int)+1  -%}
      {%- set endpoints_list = [] -%}
      {%- for ecmp_nh in range(0, ecmp_nhs_per_destination) %}
        {%- set index_endpoints = count_total_number_of_nexthops|length % total_number_of_endpoints %}
        {%- if count_total_number_of_nexthops|length < total_number_of_nexthops %}
          {%- set _ = endpoints_list.append( list_of_all_endpoints_v4[index_endpoints] ) %}
        {%- endif %}
        {%- set _ = count_total_number_of_nexthops.append(1) %}
      {%- endfor %}
      {%- if endpoints_list|length != 0 %}
      - pfx: 'FDDD::{{ ip_r_a }}:{{ ip_r_b }}:{{ idx_a }}:{{ idx_b }}/128'
        end: '{{ endpoints_list|join(',') }}'
      {%- endif %}
    {%- endfor %}
{%- endfor %}
{%- endif %}
