[
{%- set list_of_entries = [] %}
{%- for vnet in vnet_id_list %}
  {%- for routes in vnet_route_list_ecmp %}
    {%- set outloop = loop %}
    {%- set route_list = vnet + '_route_list_ecmp' %}
    {%- if routes.keys()[0] == route_list %}
      {%- for key,entries in routes.items() %}
        {%- for route in entries %}
          {%- set my_vni = "" %}
          {%- if route.vni is defined %}
            {%- set my_vni =  route.vni %}
          {%- endif %}

          {%- set my_mac = "" %}
          {%- if route.mac is defined %}
            {%- set my_mac = route.mac %}
          {%- endif %}
    
    {%- set _ = list_of_entries.append(
        '\n  {'
        '\n     "VNET_ROUTE_TUNNEL_TABLE:' + vnet + ":" + route.pfx + '" : {'
        '\n       "vni" : "' +  my_vni + '",'
        '\n       "mac_address": "' + my_mac + '",'
        '\n       "endpoint": "' + route.end + '"'
        '\n     },'
        '\n     "OP": "' + op + '"'
        '\n  }'
    )
    %}
        {%- endfor %}
      {%- endfor %}
    {%- endif %}
  {%- endfor %}
{%- endfor %}
{{ list_of_entries|join(",") }}
]
