#jinja2: trim_blocks: True,lstrip_blocks: True
{#
 For normal functional test, no need to pass the below configurations.
   num_vnet - Default 2.
   num_routes - (including peer & local routes)
   num_endpoints - Default 8

 For Scale test, below configurations are to be passed.
   num_vnet - Mandatory for scale test.
   num_routes - Optional. Default 16000 for scale test.
   num_endpoints - Optional. Default 4000 for scale test.
 Ex: ansible playbook extra vars: -e "num_vnet=51 num_routes=550 num_endpoints=200"

 Ethernet IP - 10.10.10.1/24
 Vlan IP - A.B.10.1/24; starts 30.1.10.1/24 (A,B derived from vlan id starting 3001)
 Route Pfx - A.B.C.D/32; starts 100.1.1.1/32
             (A,B derived from 100+vnet_id; C,D derived from number of routes per vnet)
 Route endpoint - A.B.C.D; starts from 200.1.1.1 (C,D derived from number of endpoints)
 
#}
{% set vnet_v6_base = 4 %}
{% set vlan_id_base = 3001 %}
{% set vlan_rif_base = 2000 %}

{# A single vnet batch contains 1 Vnets #}
{% set num_vnet_batch = 2 %}
num_vnet_batch: {{ num_vnet_batch }}

{% set num_routes_batch = 9 %}
{% set num_endpoints_batch = 4 %}

{#  Normal testing - 1 Vnets #}
{% if num_vnet is undefined or not num_vnet %}
  {% set num_vnet = 1 %}
  {% set num_routes_iterations = 1 %}
  {% set num_endpoints = 4000 %}
{% endif %}
{% set num_vnet = num_vnet|int %}

{% set topo_vlan = minigraph_vlans.keys()[0] %}

{% set num_routes_iterations = 1 %}
{# Max RIFs support currently is 128 #}
{% if num_vnet > 128 %}
  {% set max_rif = 128 %}
{% else %}
  {% set max_rif = num_vnet %}
{% endif %}

{# Vlan Configurations 
 Vlan IP - A.B.10.1/24; starts 30.1.10.1/24 (A,B derived from vlan id)
#}
vlan_intf_list:
{% set ports = minigraph_vlans[topo_vlan].members[1:] %}
{% for vlan in range (vlan_id_base, vlan_id_base + 2 * num_vnet) %}
  {% set vlan_str = (vlan-1)|string %}
  {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int)+1 %}
  - vlan_id: '{{ (vlan|int) }}'
    ifname: 'Vlan{{ vlan }}'
    ip: '{{ ip_a }}.{{ ip_b }}.10.1/24'
    port: '{{ ports[loop.index0%(ports|length)] }}'
  - vlan_id: '{{ (vlan|int) }}'
    ifname: 'Vlan{{ vlan }}'
    ip: 'FDDD::{{ ip_a }}:{{ ip_b }}:10:1/120'
    port: '{{ ports[loop.index0%(ports|length)] }}'
{% endfor %}

{# Interface Configuration #}
intf_list:
{% set index = 10 %}
  - ifname: {{ minigraph_vlans[topo_vlan].members[0] }}
    ip: '{{ index }}.{{ index }}.10.1/24'

{# Vnet Configurations #}
vnet_id_list:
{% for vnet in range (1, 2*num_vnet+1) %}
  {# RRaghav:This is the current MS usecase, where all vni are same #}
  - Vnet{{ vnet }}: 10000

{% endfor %}

vnet_v6_base: {{ vnet_v6_base }}

{# Vnet - Interface Configurations #}
vnet_intf_list:
{% for vlan in range (vlan_id_base, vlan_id_base + 2 * max_rif) %}
  - ifname: Vlan{{ vlan }}
    vnet: Vnet{{ loop.index }}
    {# RRaghav:This is the current MS usecase, where all vni are same #}
    vni: 10000
{% endfor %}

{# Vnet - Neighbor Configurations #}
vnet_nbr_list:
{% for vlan in range (vlan_id_base, vlan_id_base + 2 * num_vnet) %}
{% set vlan_str = vlan|string %}
{% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int)+1 %}
  - ifname: Vlan{{ vlan }}
    ip: '{{ ip_a }}.{{ ip_b }}.10.101'
    family: "IPv4"
  - ifname: Vlan{{ vlan }}
    ip: 'FDDD::{{ ip_a }}:{{ ip_b }}:10:101'
    family: "IPv6"
{% endfor %}
  - ifname: {{ minigraph_vlans[topo_vlan].members[0] }}
    ip: '10.10.10.102'

{# Vnet - Routes
 Route Pfx - A.B.C.D/32; starts 100.1.1.1/32
            (A,B derived from 100+vnet_id; C,D derived from number of routes per vnet)
 Route endpoint - A.B.C.D; starts from 200.1.1.1 (C,D derived from number of endpoints)
#}
{% set endpoints_iters = (num_endpoints//(num_routes_iterations*num_endpoints_batch))|int %}
{% if (num_endpoints%(num_routes_iterations*num_endpoints_batch))|int > 0 %}
  {% set endpoints_iters = endpoints_iters + 1 %}
{% endif %}

{# ##################################
# All next-hops. Currently we support upto 1020 next hops
# Create a list of random nexthops.
#}
{%- set list_of_all_endpoints_v4 = [] %}
{%- for end_index in range(0, total_number_of_endpoints) %}
  {%- set part_a, part_b = ((end_index//255)|int)+1, ((end_index % 255)|int)+1 %}
  {%- set _ = list_of_all_endpoints_v4.append((range(200, 220)|random|string +  "." + part_a|string + "." + part_b|string + "." + range(0, 255)|random|string)) %}
{% endfor %}

{%- set list_of_all_endpoints_v6 = [] %}
{%- for end_index in range(0, total_number_of_endpoints) %}
  {%- set part_a, part_b = ((end_index//255)|int)+1, ((end_index % 255)|int)+1 %}
  {%- set _ = list_of_all_endpoints_v6.append( ('%0x' % (range(10, 65535)|random))|string +  "::" + part_a|string + ":" + part_b|string + ":" + range(0, 255)|random|string) %}
{% endfor %}

{# ##################### V4 in V4 ################################### #}
vnet_route_list_ecmp:
{%- if ipv6_in_ipv4 == true or ipv4_in_ipv4 == true %}
  - Vnet1_route_list_ecmp:
{%-endif %}
  {%- if ipv4_in_ipv4 == true %}
  {%- set count_number_of_nexthops = [] %}
  {%- for destination in range(number_of_destinations) %}
    {%- set ip_r_a, ip_r_b = ((destination//256)|int)+100, ((destination%256)|int)+1  %}
      {%- for idx in range (0, num_routes_iterations*2, 2) -%}
        {%- set idx_a, idx_b = ((idx//256)|int)+1, ((idx%256)|int)+1  -%}
        {%- set endpoints_list = [] -%}
        {%- for ecmp_nh in range(0, ecmp_nhs_per_destination) %}
          {%- set index_endpoints = count_number_of_nexthops|length % total_number_of_endpoints %}
          {%- if count_number_of_nexthops|length < total_number_of_nexthops %}
            {%- set _ = endpoints_list.append( list_of_all_endpoints_v4[index_endpoints] ) %}
          {%- endif %}
          {%- set _ = count_number_of_nexthops.append(1) %}
        {%- endfor %}
        {%- if endpoints_list|length != 0 %}
      - pfx: '{{ ip_r_a }}.{{ ip_r_b }}.{{ idx_a }}.{{ idx_b }}/32'
        end: '{{ endpoints_list|join(',') }}'
        {%- endif %}
      {%- endfor %}
  {%- endfor %}
{%- endif %}

{# ##################### V6 in V4 ################################### #}
{%- if ipv6_in_ipv4 == true %}
  {%- set count_number_of_nexthops = [] %}
  {%- for destination in range(number_of_destinations) %}
    {%- set ip_r_a, ip_r_b = ((destination//256)|int)+100, ((destination%256)|int)+1  %}
      {%- for idx in range (0, num_routes_iterations*2, 2) -%}
        {%- set idx_a, idx_b = ((idx//256)|int)+1, ((idx%256)|int)+1  -%}
        {%- set endpoints_list = [] -%}
        {%- for ecmp_nh in range(0, ecmp_nhs_per_destination) %}
          {%- set index_endpoints = count_number_of_nexthops|length % total_number_of_endpoints %}
          {%- if count_number_of_nexthops|length < total_number_of_nexthops %}
            {%- set _ = endpoints_list.append( list_of_all_endpoints_v4[index_endpoints] ) %}
          {%- endif %}
          {%- set _ = count_number_of_nexthops.append(1) %}
        {%- endfor %}
        {%- if endpoints_list|length != 0 %}
      - pfx: 'F444::{{ ip_r_a }}:{{ ip_r_b }}:{{ idx_a }}:{{ idx_b }}/128'
        end: '{{ endpoints_list|join(',') }}'
        {%- endif %}
      {%- endfor %}
  {%- endfor %}
{%- endif %}

{# ##################### V4 in V6 ################################### #}
{%- if ipv6_in_ipv6 == true or ipv4_in_ipv6 == true %}
  - Vnet2_route_list_ecmp:
{%-endif %}
{%- if ipv4_in_ipv6 == true %}
  {%- set count_number_of_nexthops = [] %}
  {%- for destination in range(number_of_destinations) %}
    {%- set ip_r_a, ip_r_b = ((destination//256)|int)+150, ((destination%256)|int)+1  %}
      {%- for idx in range (0, num_routes_iterations*2, 2) -%}
        {%- set idx_a, idx_b = ((idx//256)|int)+1, ((idx%256)|int)+1  -%}
        {%- set endpoints_list = [] -%}
        {%- for ecmp_nh in range(0, ecmp_nhs_per_destination) %}
          {%- set index_endpoints = count_number_of_nexthops|length % total_number_of_endpoints %}
          {%- if count_number_of_nexthops|length < total_number_of_nexthops %}
            {%- set _ = endpoints_list.append( list_of_all_endpoints_v6[index_endpoints] ) %}
          {%- endif %}
          {%- set _ = count_number_of_nexthops.append(1) %}
        {%- endfor %}
        {%- if endpoints_list|length != 0 %}
      - pfx: '{{ ip_r_a }}.{{ ip_r_b }}.{{ idx_a }}.{{ idx_b }}/32'
        end: '{{ endpoints_list|join(',') }}'
        {%- endif %}
      {%- endfor %}
  {%- endfor %}
{%- endif %}

{# ##################### V6 in V6 ################################### #}
{%- if ipv6_in_ipv6 == true %}
  {%- set count_number_of_nexthops = [] %}
  {%- for destination in range(number_of_destinations) %}
    {%- set ip_r_a, ip_r_b = ((destination//256)|int)+100, ((destination%256)|int)+1  %}
      {%- for idx in range (0, num_routes_iterations*2, 2) -%}
        {%- set idx_a, idx_b = ((idx//256)|int)+1, ((idx%256)|int)+1  -%}
        {%- set endpoints_list = [] -%}
        {%- for ecmp_nh in range(0, ecmp_nhs_per_destination) %}
          {%- set index_endpoints = count_number_of_nexthops|length % total_number_of_endpoints %}
          {%- if count_number_of_nexthops|length < total_number_of_nexthops %}
            {%- set _ = endpoints_list.append( list_of_all_endpoints_v6[index_endpoints] ) %}
          {%- endif %}
          {%- set _ = count_number_of_nexthops.append(1) %}
        {%- endfor %}
        {%- if endpoints_list|length != 0 %}
      - pfx: 'F666::{{ ip_r_a }}:{{ ip_r_b }}:{{ idx_a }}:{{ idx_b }}/128'
        end: '{{ endpoints_list|join(',') }}'
        {%- endif %}
      {%- endfor %}
  {%- endfor %}
{%- endif %}

vnet_peer_list:

vnet_local_routes:
{%- set vlan = 3001 %}
  - Vnet1_route_list:
    {% set vlan_str = (vlan-1)|string %}
    {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int)+1 %}
      - pfx: '50.1.1.0/24'
        nh: '{{ ip_a }}.{{ ip_b }}.10.101'
        ifname: 'Vlan3001'
      - pfx: '50.2.2.0/24'
        nh: '{{ ip_a }}.{{ ip_b }}.10.102'
        ifname: 'Vlan3001'
  - Vnet2_route_list:
{%- set vlan = 3002 %}
    {% set vlan_str = (vlan-1)|string %}
    {% set ip_a, ip_b = vlan_str[:2]|int, (vlan_str[2:]|int)+1 %}
      - pfx: '60.1.1.0/24'
        nh: '{{ ip_a }}.{{ ip_b }}.10.101'
        ifname: 'Vlan3002'
