!
config
{% if deploy_leaf %}
vlan {{ dev_vlans | list | join(',') }}
{% endif %}
{% for i in range(1,65) %}
{% set intf =  'Ethernet' + i|string  %}
{% if intf in root_conn %}
{% set peer_dev = root_conn[intf]['peerdevice'] %}
{% set peer_port = root_conn[intf]['peerport'] %}
{% if peer_dev in lab_devices and 'Fanout' not in lab_devices[peer_dev]['Type'] and not deploy_leaf %}
 interface {{ intf }}
  switchport
  switchport trunk allowed vlan remove {{ dev_vlans | list | join(',') }}
{% if peer_dev == server and peer_port == server_port %}
  switchport mode trunk
  switchport trunk allowed vlan add {{ dev_vlans | list | join(',') }}
  no shutdown
{% endif %}
{% endif %}
{% if peer_dev in lab_devices and 'Fanout' in lab_devices[peer_dev]['Type']  and deploy_leaf %}
 interface {{ intf }}
  switchport
  switchport trunk allowed vlan remove {{ dev_vlans | list | join(',') }}
{% if peer_dev == leaf_name %}
  description {{ peer_dev }}-{{ peer_port }}
  switchport mode trunk
  switchport trunk allowed vlan add {{ dev_vlans | list | join(',') }}
  no shutdown
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
!
copy running-config startup-config
end
