config t

docker no shutdown
ping -c 5 8.8.8.8
docker label storm
docker load pfc_storm.tgz
docker start pfc_storm latest args init label storm privileged network sdk
docker start pfc_storm latest args now label storm privileged network sdk
