config
no vlan 101-4094
{% for vlanid in device_vlan_list %}
  vlan {{ vlanid }}
  no spanning-tree vlan {{ vlanid }}
{% endfor %}
{% for i in range(1,65) %}
{% set intf =  'Ethernet1/' + i|string  %}
  default interface {{ intf }}
{% endfor %}
{% for i in range(1,65) %}
{% set intf =  'Ethernet1/' + i|string  %}
 interface {{ intf }}
{% if intf in device_port_vlans and device_port_vlans[intf]['mode'] != "Trunk" %}
   description {{ device_conn[intf]['peerdevice'] }}-{{ device_conn[intf]['peerport'] }}
   switchport
   speed 40000
   no negotiate auto
   switchport access vlan {{ device_port_vlans[intf]['vlanids'] }}
   no shutdown
{% elif intf in device_port_vlans and device_port_vlans[intf]['mode'] == 'Trunk' %}
   description {{ device_conn[intf]['peerdevice'] }}-{{ device_conn[intf]['peerport'] }}
   switchport
   speed 40000
   no negotiate auto
   switchport mode trunk
   switchport trunk allowed vlan {{ device_port_vlans[intf]['vlanids'] }}
   no shutdown
{% else %}
   shutdown
{% endif %}
!
{% endfor %}
copy running-config startup-config
!
end


