{
    "DEVICE_METADATA": {
        "localhost": {
            "default_pfcwd_status": "disable",
            "hwsku": "{{ fanout_hwsku }}",
            "hostname": "{{ inventory_hostname }}"
        }
    },

    "VLAN": {
    {% for vlanid in device_vlan_list[inventory_hostname] | unique %}
        "Vlan{{ vlanid }}": {
            "vlanid": "{{ vlanid }}"
        }{% if not loop.last %},{% endif %}
    {% endfor %}
    },

    {% set ns = {'firstPrinted': False} %}
    "VLAN_MEMBER": {
    {% for port_name in device_port_vlans[inventory_hostname] %}
    {% if device_port_vlans[inventory_hostname][port_name]['mode'].lower() == 'access' %}
    {% if ns.firstPrinted %},{% endif %}
        "Vlan{{ device_port_vlans[inventory_hostname][port_name]['vlanids'] }}|{{ fanout_port_config[port_name]['name'] }}": {
            "tagging_mode" : "untagged"
        }
    {% if ns.update({'firstPrinted': True}) %} {% endif %}
    {% elif device_port_vlans[inventory_hostname][port_name]['mode'].lower() == 'trunk' %}
    {% for vlanid in device_port_vlans[inventory_hostname][port_name]['vlanlist'] %}
    {% if ns.firstPrinted %},{% endif %}
        "Vlan{{ vlanid }}|{{ fanout_port_config[port_name]['name'] }}": {
            "tagging_mode" : "tagged"
        }
    {% if ns.update({'firstPrinted': True}) %} {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    },

    "MGMT_INTERFACE": {
        "eth0|{{ device_info[inventory_hostname]["ManagementIp"] }}": {
            "gwaddr": "{{ device_info[inventory_hostname]["ManagementGw"] }}"
        }
    }
}
