{

"DEVICE_METADATA": {
    "localhost": {
        "hwsku": "{{ device_info["HwSku"] }}",
        "hostname": "{{ inventory_hostname }}"
    }
},

"PORT": {
{% for alias in device_conn %}
    "{{ alias }}": {
{% if device_conn[alias]['speed'] == "100000" %}
        "fec" : "rs",
{% endif %}
        "speed" : "{{ device_conn[alias]['speed'] }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
},

"VLAN": {
{% for vlanid in device_vlan_list | unique %}
    "Vlan{{ vlanid }}": {
        "vlanid": "{{ vlanid }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
},

{% set ns = {'firstPrinted': False} %}
"VLAN_MEMBER": {
{% for alias in device_port_vlans %}
{% if device_port_vlans[alias]['mode'] == 'Access' %}
{% if ns.firstPrinted %},{% endif %}
    "Vlan{{ device_port_vlans[alias]['vlanids'] }}|{{ alias }}": {
        "tagging_mode" : "untagged"
    }
{% if ns.update({'firstPrinted': True}) %} {% endif %}
{% elif device_port_vlans[alias]['mode'] == 'Trunk' %}
  {% for vlanid in device_port_vlans[alias]['vlanlist'] %}
{% if ns.firstPrinted %},{% endif %}
    "Vlan{{ vlanid }}|{{ alias }}": {
        "tagging_mode" : "tagged"
    }
{% if ns.update({'firstPrinted': True}) %} {% endif %}
  {% endfor %}
{% endif %}
{% endfor %}
},

"MGMT_INTERFACE": {
    "eth0|{{ device_info["ManagementIp"] }}": {
        "gwaddr": "{{ device_info["ManagementGw"] }}"
    }
}

}
