trigger: none
pr: none

name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

resources:
  repositories:
  - repository: https://mssonic@dev.azure.com/mssonic/internal/_git/sonic-metadata
    type: git
    name: sonic-metadata
    ref: master

#schedules:
#  - cron: "0 0,12 * * *"
#    displayName: Nightly Scheduler
#    branches:
#      include:
#        - internal
#    always: true

variables:
  - group: SONIC_IMAGE_URLS
  - group: SAITHRIFT_URLS

parameters:
- name: TESTBED_NAME
  type: string
  default: vms24-t0-7260-2
  displayName: "Testbed Name"

- name: POOL
  type: string
  default: nightly
  displayName: "Agent pool name"
  values:
    - nightly
    - nightly-svc
    - nightly-bjw
    - nightly-tk5

- name: UPGRADE_TYPE
  type: string
  displayName: "Type of upgrade"
  default: warm
  values:
  - warm
  - fast
  - cold
  - warm,fast
  - warm,fast,cold

- name: VM_TYPE
  type: string
  displayName: "VM type of neighbor devices"
  default: ceos
  values:
    - vsonic
    - ceos

- name: FROM_IMAGE_LIST
  type: string
  default: 25
  displayName: "All base image numbers (space separated)"

- name: FROM_IMAGE_URL
  displayName: "Base image location"
  type: string
  default: $(IMAGE_BRCM_ABOOT_202405)
  values:
  - $(IMAGE_BRCM_ABOOT_201811)
  - $(IMAGE_BRCM_ABOOT_201911)
  - $(IMAGE_BRCM_ABOOT_202012)
  - $(IMAGE_BRCM_ABOOT_202012_SLIM)
  - $(IMAGE_BRCM_ABOOT_202106)
  - $(IMAGE_BRCM_ABOOT_202205)
  - $(IMAGE_BRCM_ABOOT_202205_SLIM)
  - $(IMAGE_BRCM_ABOOT_202305)
  - $(IMAGE_BRCM_ABOOT_202305_SLIM)
  - $(IMAGE_BRCM_ABOOT_202311)
  - $(IMAGE_BRCM_ABOOT_202311_SLIM)
  - $(IMAGE_BRCM_ABOOT_202405)
  - $(IMAGE_BRCM_ABOOT_202405_SLIM)
  - $(IMAGE_BRCM_ABOOT_202411)
  - $(IMAGE_BRCM_ABOOT_202411_SLIM)
  - $(IMAGE_BRCM_ABOOT_INTERNAL)
  - $(IMAGE_BRCM_ABOOT_PUBLIC)
  - custom

- name: TO_IMAGE_LIST
  type: string
  default: latest
  displayName: "All target image numbers (space separated)"

- name: TO_IMAGE_URL
  displayName: "Target image location"
  type: string
  default: $(IMAGE_BRCM_ABOOT_202411)
  values:
  - $(IMAGE_BRCM_ABOOT_201811)
  - $(IMAGE_BRCM_ABOOT_201911)
  - $(IMAGE_BRCM_ABOOT_202012)
  - $(IMAGE_BRCM_ABOOT_202012_SLIM)
  - $(IMAGE_BRCM_ABOOT_202106)
  - $(IMAGE_BRCM_ABOOT_202205)
  - $(IMAGE_BRCM_ABOOT_202205_SLIM)
  - $(IMAGE_BRCM_ABOOT_202305)
  - $(IMAGE_BRCM_ABOOT_202305_SLIM)
  - $(IMAGE_BRCM_ABOOT_202311)
  - $(IMAGE_BRCM_ABOOT_202311_SLIM)
  - $(IMAGE_BRCM_ABOOT_202405)
  - $(IMAGE_BRCM_ABOOT_202405_SLIM)
  - $(IMAGE_BRCM_ABOOT_202411)
  - $(IMAGE_BRCM_ABOOT_202411_SLIM)
  - $(IMAGE_BRCM_ABOOT_INTERNAL)
  - $(IMAGE_BRCM_ABOOT_PUBLIC)
  - custom

- name: VSONIC_NEIGHBOR_IMAGE_URL
  displayName: "SONiC image URL (used only for vsonic neighbors)"
  type: string
  default: https://sonic-build.azurewebsites.net/api/sonic/artifacts?branchName=master&platform=vs&target=target%2Fsonic-vs.img.gz

- name: RUN_REBOOT_CASE
  default: "test_upgrade_path"
  type: string
  displayName: "Case to run"
  values:
  - test_upgrade_path
  - test_warm_upgrade_sad_path
  - test_cancelled_upgrade_path
  - test_double_upgrade_path

- name: SELECT_SAD_CASES
  default: "sad,multi_sad,sad_bgp,sad_lag_member,sad_lag,sad_vlan_port,sad_inboot"
  type: string
  displayName: "SAD cases to run (only applies for test_warm_upgrade_sad_path)"

- name: ITERATIONS
  type: string
  default: "22"
  values:
  - "1"
  - "10"
  - "18"
  - "20"
  - "22"
  - "27"
  - "100"
  - "500"

- name: RUN_DOUBLE_UPGRADE
  type: boolean
  default: true
  displayName: "Run Double Upgrade Test (A -> B -> B)"


- name: RUN_MULTI_HOP_UPGRADE
  type: boolean
  default: true
  displayName: "Run Multi-Hop Upgrade Test"

- name: MULTI_HOP_ADDITIONAL_UPGRADE_HOP_LOCATIONS
  type: string
  displayName: "Additional Upgrade Hop Locations - (comma separated values zipped with image numbers e.g. IMAGE_BRCM_ABOOT_202405,IMAGE_BRCM_ABOOT_202411)"
  default: IMAGE_BRCM_ABOOT_202505

- name: MULTI_HOP_ADDITIONAL_UPGRADE_HOP_IMAGE_NUMBERS
  type: string
  displayName: "Additional Upgrade Hop Image Numbers - (comma separated values zipped with image locations e.g. 23,latest)"
  default: "latest"

- name: MULTI_HOP_BASE_UPGRADE_PATH
  type: string
  default: SONiC-Arista-7260CX364-ToRRouter
  displayName: "Multi-hop base upgrade path"
  values:
  - SONiC-Arista-7260CX364-ToRRouter
  - " "


- name: SKIP_LOCKING_TESTBED
  displayName: "Skip locking testbed (Please reserve the testbed manually)"
  type: boolean
  default: false

stages:
  - template: ../metadata_upgrade_template.yml
    parameters:
      UPGRADE_TEST_TYPE: A->B
      TESTBED_NAME: ${{ parameters.TESTBED_NAME }}
      POOL: ${{ parameters.POOL }}
      UPGRADE_TYPE: ${{ parameters.UPGRADE_TYPE }}
      VM_TYPE: ${{ parameters.VM_TYPE }}
      FROM_IMAGE_LIST: ${{ parameters.FROM_IMAGE_LIST }}
      FROM_IMAGE_URL: ${{ parameters.FROM_IMAGE_URL }}
      TO_IMAGE_LIST: ${{ parameters.TO_IMAGE_LIST }}
      TO_IMAGE_URL: ${{ parameters.TO_IMAGE_URL }}
      VSONIC_NEIGHBOR_IMAGE_URL: ${{ parameters.VSONIC_NEIGHBOR_IMAGE_URL }}
      RUN_REBOOT_CASE: ${{ parameters.RUN_REBOOT_CASE }}
      SELECT_SAD_CASES: ${{ parameters.SELECT_SAD_CASES }}
      ITERATIONS: ${{ parameters.ITERATIONS }}
      SKIP_LOCKING_TESTBED: ${{ parameters.SKIP_LOCKING_TESTBED }}
      RUN_DOUBLE_UPGRADE: ${{ parameters.RUN_DOUBLE_UPGRADE }}
      RUN_MULTI_HOP_UPGRADE: ${{ parameters.RUN_MULTI_HOP_UPGRADE }}
      MULTI_HOP_ADDITIONAL_UPGRADE_HOP_LOCATIONS: ${{ parameters.MULTI_HOP_ADDITIONAL_UPGRADE_HOP_LOCATIONS }}
      MULTI_HOP_ADDITIONAL_UPGRADE_HOP_IMAGE_NUMBERS: ${{ parameters.MULTI_HOP_ADDITIONAL_UPGRADE_HOP_IMAGE_NUMBERS }}
      MULTI_HOP_BASE_UPGRADE_PATH: ${{ parameters.MULTI_HOP_BASE_UPGRADE_PATH }}
