[Unit]
Description=BGP container
Requires=database.service
After=database.service

[Service]
User=acsadmin
ExecStart=/usr/bin/docker start -a bgp
ExecStop=/usr/bin/docker stop bgp

[Install]
WantedBy=multi-user.target
