[Unit]
Description=orchagent container
Requires=database.service
After=database.service

[Service]
User={{ sonicadmin_user }}
ExecStart=/usr/bin/docker start -a orchagent
ExecStop=/usr/bin/docker stop orchagent
ExecStopPost=/usr/bin/docker stop syncd

[Install]
WantedBy=multi-user.target
