{
    "PFC_WD": {
        "{{ pfc_wd_interface_list }}": {
            "action": "{{ pfc_wd_action }}",
            "detection_time": "{{ pfc_wd_detection_time }}",
            "restoration_time": "{{ pfc_wd_restoration_time }}"
        }
    }
}
