topology:
  host_interfaces:
   - 0
   - 1
   - 2
   - 3
   - 4
   - 5
   - 6
   - 7
   - 8
   - 9
   - 10
   - 11
   - 12
   - 13
   - 14
   - 15
   - 16
   - 17
   - 18
   - 19
   - 20
   - 21
   - 22
   - 23
   - 24
   - 25
   - 26
   - 27
   - 28
   - 29
   - 30
   - 31

  VMs: {}
  DUT:
    vlan_configs:
      default_vlan_config: one_vlan_a
      one_vlan_a: {}

configuration_properties:
  common:
    dut_asn: 0
    dut_type: ToRRouter

configuration: {}
