# Created by Henry-Nicolas Tourneur(henry.nicolas@tourneur.be)
# See man(5) tac_plus.conf for more details

# Define where to log accounting data, this is the default.

accounting file = /var/log/tac_plus.acct

# This is the key that clients have to use to access Tacacs+

key = {{ tacacs_passkey }}

group = netadmin {
    default service = permit
    service = exec {
        priv-lvl = 15
    }
}

user = {{ tacacs_rw_user }} {
    login = des {{ tacacs_rw_user_passwd }}
    member = netadmin
}

{% if duthost_admin_user is defined %}
user = {{ duthost_admin_user }} {
    login = des {{ duthost_admin_passwd }}
    member = netadmin
}
{% endif %}


{% if duthost_ssh_user is defined %}
user = {{ duthost_ssh_user }} {
    login = des {{ duthost_ssh_passwd }}
    member = netadmin
}
{% endif %}

group = netuser {
    default service = permit
    service = exec {
        priv-lvl = 1
    }
}

user = {{ tacacs_ro_user }} {
    login = des {{ tacacs_ro_user_passwd }}
    member = netuser
}

user = {{ tacacs_jit_user }} {
    login = des {{ tacacs_jit_user_passwd }}
    member = {{ tacacs_jit_user_membership }}
}

user = {{ tacacs_authorization_user }} {
    login = des {{ tacacs_authorization_user_passwd }}
    member = netuser
    cmd = /usr/bin/cat {
        deny .*
    }
    # disable following command for UT test_bypass_authorization
    cmd = /usr/local/bin/config {
        deny   tacacs
        permit .*
    }
    cmd = /usr/bin/python {
        deny .*
    }
    cmd = /usr/bin/find {
        deny   -exec
        permit .*
    }
    cmd = /lib/arch-linux-abi/ld-linux-arch.so {
        deny .*
    }
    cmd = /usr/bin/dash {
        deny .*
    }
}
