- name: Create VMs network
  become: yes
  vm_topology:
    cmd:          'create'
    vm_names:     "{{ VM_hosts }}"
    fp_mtu:       "{{ fp_mtu_size }}"
    max_fp_num:   "{{ max_fp_num }}"

- name: Check if cEOS image exists or not
  docker_image_info:
    name:
      - "{{ ceos_image_orig }}"
  become: yes
  register: ceos_stat

- include_vars: vars/azure_storage.yml

- name: Download cEOS image
  become: yes
  get_url:
    url: "{{ vm_images_url }}/{{ ceos_image_filename }}?{{ ceosimage_saskey }}"
    dest: "{{ root_path }}/images/{{ ceos_image_filename }}"
    timeout: 1800
  when: ceos_stat.images | length == 0

- name: Import cEOS image
  become: yes
  shell: "docker import {{ root_path }}/images/{{ ceos_image_filename }} {{ ceos_image_orig }}"
  when: ceos_stat.images | length == 0

- name: create directory for build ceos image
  become: yes
  file:
    path: "/tmp/ceosimage"
    state: directory

- name: copy the ceos image template
  become: yes
  template: src=ceos_dockerfile.j2 dest=/tmp/ceosimage/Dockerfile mode=0644

- name: Build the ceos image with increase inotify limit
  become: yes
  docker_image:
    name: "{{ ceos_image }}"
    build:
      path: "/tmp/ceosimage"
      pull: no
    source: build

- include_tasks: add_ceos.yml
  with_items: "{{ VM_targets }}"
