
- name: Get absolute path of {{ root_path }}
  command: "realpath {{ root_path }}"
  register: real_root_path

- name: Set variable abs_root_path
  set_fact:
    abs_root_path: "{{ real_root_path.stdout }}"
    mux_simulator_port: "{{ mux_simulator_http_port[testbed_name] }}"

- name: Start mux simulator
  block:

  - name: Install flask
    pip: name=flask version=1.1.2 state=forcereinstall executable={{ pip_executable }}
    become: yes
    environment: "{{ proxy_env | default({}) }}"

  - name: Copy the mux simulator to test server
    copy:
      src: mux_simulator.py
      dest: "{{ abs_root_path }}"
      mode: 0755

  - name: Generate mux-simulator systemd service file
    template:
      src: mux-simulator.service.j2
      dest: /etc/systemd/system/mux-simulator-{{ mux_simulator_port }}.service
    become: yes

  - name: Start the mux-simulator service for testbed {{ testbed_name }}
    systemd:
      name: mux-simulator-{{ mux_simulator_port }}
      state: started
      daemon_reload: yes
    become: yes

  when: mux_simulator_action == "start"

- name: Stop mux simulator
  block:

  - name: Stop the mux-simulator service for testbed {{ testbed_name }}
    systemd:
      name: mux-simulator-{{ mux_simulator_port }}
      state: stopped
    become: yes
    ignore_errors: yes

  when: mux_simulator_action == "stop"
