# This role creates a set of VM with veos or SONiC or cisco or Ubuntu for Kubernetes master
# Input parameters for the role:
# - action: 'start', 'stop' or 'renumber' for creating, removing, or renumbering vm set respectively
# - id: sequence number for vm set on the host.
# - external_port: interface which will be used as parent for vlan interface creation
# - vlan_base: first vlan id for the VMs
# - VMs: a dictionary which contains hostnames of VMs as a key and a dictionary with parameters (num, memory, mgmt_ip) for every VM.
# - topology: a dictionary which contains hostnames of VMs as a key and vlans value which define a topology (numbers of connected ports for every VM)
# - mgmt_bridge: linux bridge which is used for management interface connections

# Variables used by the role are mostly defined in files under ansible/group_vars/vm_host directory.
# Supported neighbor types are: veos, sonic, cisco, ubuntu, k8s
# For each of the supported neighbor types, there is a file in ansible/group_vars/vm_host directory which defines the
# the variables for the neighbor type. The neighbor VM image files usually can be manually prepared or automatically
# downloaded from the URLs defined in the variables. Please update the URLs to the actual URLs of the image files in
# your environment.

# Need latest ubuntu 4.10 kernel to fix a openvswitch bug
# https://bugs.launchpad.net/ubuntu/+source/kernel-package/+bug/1685742
- name: Pick package_installation from env
  set_fact:
    package_installation: "{{ lookup('env', 'PACKAGE_INSTALLATION') | default(omit) }}"

- name: Set the default variable package_installation
  set_fact:
    package_installation: true
  when: package_installation is not defined or package_installation == ''

- name: Initialize async flag
  set_fact:
    enable_async: "{{ enable_async | default(false) | bool }}"

- name: get host distribution
  shell: grep ^NAME /etc/os-release | awk -F '=' '{print $2}' | tr -d '"'
  register: host_distribution
  changed_when: False

- name: get host distribution version
  shell: grep ^VERSION_ID /etc/os-release | awk -F '=' '{print $2}' | tr -d '"'
  register: host_distribution_version
  changed_when: False

- name: get host kernel version
  shell: uname -r
  register: host_kernel
  changed_when: False

- name: Check if kernel upgrade needed
  set_fact:
    kernel_upgrade_needed: true
  when:
    - host_distribution.stdout == "Ubuntu"
    - host_distribution_version.stdout == "17.04"
    - host_kernel.stdout.find('4.10.0') != -1
    - "{{ host_kernel.stdout | regex_replace('4.10.0-([0-9]+)-.*', '\\1') | int < 25 }}"

- block:
    - debug: msg="{{ host_kernel.stdout }}"

    - name: Upgrade kernel package
      apt: pkg={{ item }} state=latest
      become: yes
      with_items:
        - linux-image-generic
        - linux-image-extra-virtual

    - name: Prompt for rebooting
      fail:
        msg: "Kernel upgraded, need to reboot!"
  when:
    - kernel_upgrade_needed is defined
    - package_installation|bool

- block:
    - name: Install necessary packages
      apt:
        update_cache: yes
        cache_valid_time: 86400
        pkg:
          - ifupdown
          - openvswitch-switch
          - net-tools
          - bridge-utils
          - util-linux
          - iproute2
          - vlan
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
          - libvirt-clients
      register: apt_res
      retries: 2
      delay: 30
      until: apt_res is success
      become: yes

    - name: Install necessary packages
      register: apt_res
      retries: 2
      delay: 30
      until: apt_res is success
      apt:
        pkg:
        - python
        - libvirt-bin
        - python-libvirt
        - python-pip
      become: yes
      when: host_distribution_version.stdout == "18.04"

    - name: Install necessary packages
      register: apt_res
      retries: 2
      delay: 30
      until: apt_res is success
      apt:
        pkg:
        - python3-libvirt
        - python3-pip
        - libvirt-daemon-system
        - qemu-system-x86
      become: yes
      when: host_distribution_version.stdout >= "20.04"
  when: package_installation|bool

- name: Get default pip_executable
  set_fact:
    pip_executable: pip
  when: pip_executable is not defined and host_distribution_version.stdout < "20.04"

- name: Get default pip_executable
  set_fact:
    pip_executable: pip3
  when: pip_executable is not defined and (host_distribution_version.stdout >= "20.04")

- include_tasks: docker.yml
  when: package_installation|bool

- name: Install requests package
  pip: name=requests version=2.32.3 state=present executable={{ pip_executable }}
  become: yes
  environment: "{{ proxy_env | default({}) }}"
  when: pip_executable=="pip3" and host_distribution_version.stdout < "24.04"

- name: Install requests package
  pip: name=requests version=2.32.3 state=present virtualenv=/tmp/sonic-mgmt-virtualenv virtualenv_site_packages=true virtualenv_command="python3 -m venv"
  become: yes
  environment: "{{ proxy_env | default({}) }}"
  when: host_distribution_version.stdout >= "24.04"

- name: Ensure {{ ansible_user }} in docker,sudo group
  user:
    name: "{{ ansible_user }}"
    append: yes
    groups: docker,sudo
  become: yes

- name: Ensure {{ ansible_user }} in libvirt group
  user:
    name: "{{ ansible_user }}"
    append: yes
    groups: libvirt
  become: yes
  when: host_distribution_version.stdout >= "20.04"

- name: Set kernel.pty.max to 8192
  become: true
  sysctl:
    name: kernel.pty.max
    value: 8192
    state: present
    sysctl_set: true
    reload: true
    sysctl_file: /etc/sysctl.d/99-pty.conf

- name: Update libvirt qemu configuration
  block:
  - name: Set user to root in qemu.conf
    lineinfile:
      path: /etc/libvirt/qemu.conf
      regexp: '^#?user\s*=.*'
      line: 'user = "root"'
      state: present
      backrefs: yes
    become: yes
  - name: Set group to root in qemu.conf
    lineinfile:
      path: /etc/libvirt/qemu.conf
      regexp: '^#?group\s*=.*'
      line: 'group = "root"'
      state: present
      backrefs: yes
    become: yes
  - name: Restart libvirtd to apply qemu.conf changes
    service:
      name: libvirtd
      state: restarted
    become: yes
  when: host_distribution_version.stdout >= "24.04"

- name: Install br_netfilter kernel module
  become: yes
  modprobe: name=br_netfilter state=present

- name: Set sysctl bridge parameters for testbed
  sysctl:
    name: "{{ item }}"
    value: "0"
    sysctl_set: yes
  become: yes
  with_items:
   - net.bridge.bridge-nf-call-arptables
   - net.bridge.bridge-nf-call-ip6tables
   - net.bridge.bridge-nf-call-iptables

- name: Set sysctl RCVBUF max parameter for testbed
  sysctl:
    name: "net.core.rmem_max"
    value: "509430500"
    sysctl_set: yes
  become: yes

- name: Set sysctl RCVBUF default parameter for testbed
  sysctl:
    name: "net.core.rmem_default"
    value: "31457280"
    sysctl_set: yes
  become: yes

- name: Increase IPv6 route cache size
  sysctl:
    name: "net.ipv6.route.max_size"
    value: "16384"
    sysctl_set: yes
  become: yes

- name: Increase neighbor gc_thresh1
  sysctl:
    sysctl_set: yes
    name: "{{ item }}"
    value: "8192"
  become: yes
  with_items:
    - net.ipv4.neigh.default.gc_thresh1
    - net.ipv6.neigh.default.gc_thresh1

- name: Increase neighbor gc_thresh2
  sysctl:
    sysctl_set: yes
    name: "{{ item }}"
    value: "16384"
  become: yes
  with_items:
    - net.ipv4.neigh.default.gc_thresh2
    - net.ipv6.neigh.default.gc_thresh2

- name: Increase neighbor gc_thresh3
  sysctl:
    sysctl_set: yes
    name: "{{ item }}"
    value: "32768"
  become: yes
  with_items:
    - net.ipv4.neigh.default.gc_thresh3
    - net.ipv6.neigh.default.gc_thresh3

- name: increase kernel pid max
  sysctl:
    name: "kernel.pid_max"
    value: "4194304"
    sysctl_set: yes
  become: yes

- name: Setup external front port
  include_tasks: external_port.yml
  when: external_port is defined

- name: Setup internal management network
  include_tasks: internal_mgmt_network.yml
  when: internal_mgmt_network is defined and internal_mgmt_network == True

- block:
    - getent:
        database: passwd
        key: "{{ ansible_user }}"
        split: ":"
    - set_fact:
        home_path: "{{ getent_passwd[ansible_user][4] }}"
      when: home_path is not defined

    # root_path is supposed to be absolute path.
    - set_fact:
        root_path: "{{ home_path + '/' + root_path }}"
      when: "not root_path.startswith('/')"

    - debug: msg="home_path = {{ home_path }} root_path = {{ root_path }}"

- name: Require veos or SONiC or cisco VMs by default
  set_fact:
    vm_required: true

- name: veos or SONiC or cisco VMs not needed when setting up Kubernetes master
  set_fact:
    vm_required: false
  when:
    - k8s is defined

- name: VMs not needed in case of Keysight API Server
  set_fact:
    vm_required: false
  when:
    - ptf_imagename is defined
    - ptf_imagename == "docker-keysight-api-server"

- name: VMs not needed in case of Keysight IxANVL
  set_fact:
    veos_vm_required: false
  when:
    - ptf_imagename is defined
    - ptf_imagename == "docker-ptf-anvl"

- name: Retrieve a list of the defined VMs
  virt: command=list_vms
        uri=qemu:///system
  register: vm_list_defined
  become: true

- name: Retrieve a list of the running VMs
  virt: command=list_vms
        uri=qemu:///system
        state=running
  register: vm_list_running
  become: true

- name: Set vm_state_string according to ansible version
  set_fact:
    vm_state_string: "{{ 'paused' if ansible_version.full is version_compare('2.13', '>=') else 'pause' }}"

- name: Print ansible version and vm_state_string
  debug:
    msg: "ansible version is {{ ansible_version.full }} and vm_state_string is {{ vm_state_string }}"

- name: Retrieve a list of the paused VMs with status={{ vm_state_string }}
  virt: command=list_vms
        uri=qemu:///system
        state={{ vm_state_string }}
  register: vm_list_paused
  become: true

- name: Require VMs as CEOS by default
  set_fact:
    vm_type: "ceos"
  when: vm_type is not defined

- name: Check VM type
  fail:
    msg: "Cannot support this VM type {{ vm_type }}"
  when: vm_type not in supported_vm_types

- block:
    - name: Ensure {{ root_path }} exists
      file: path={{ root_path }} state=directory

    - name: Install cleanup script
      template: src=cleanup.sh.j2
                dest={{ root_path }}/cleanup.sh

    - name: Copy vm_resumer.py to the {{ root_path }}
      become: true
      copy:
        src: roles/vm_set/files/vm_resumer.py
        dest: "{{ root_path }}"
        mode: 0755

    - name: Find current server group
      set_fact: current_server={{ group_names | extract_by_prefix('server_') }}

    - name: Extract VM names from the inventory
      set_fact: VM_hosts={{ groups[current_server] | filter_by_prefix('VM') | sort}}

    - name: Limit VM
      set_fact: VM_hosts="{{ VM_hosts | first_n_elements(VM_num) }}"
      when: VM_num is defined and VM_num|int > 0

    - name: Generate vm list of target VMs
      set_fact: VM_targets={{ VM_hosts | filter_vm_targets(topology['VMs'], VM_base, dut_interfaces | default("")) | sort }}
      when: topology['VMs'] is defined

    - name: Set fallback default value for VM_targets
      set_fact: VM_targets={{ [] }}
      when: VM_targets is not defined

    - name: Set vm configuration properties when configuration is defined
      set_fact: vm_properties="{{ configuration | expand_properties(configuration_properties) }}"
      when: configuration is defined

    - name: Set vm configuration properties when configuration is not defined
      set_fact: vm_properties={}
      when: configuration is not defined

    - name: Stop VMs
      include_tasks: stop.yml
      when: action == 'stop'

    - name: Start VMs
      include_tasks: start.yml
      when: action == 'start'

    - name: Connect VMs
      include_tasks: connect_vms.yml
      when: action == 'connect_vms'

    - name: Disconnect VMs
      include_tasks: disconnect_vms.yml
      when: action == 'disconnect_vms'

    - name: Renumber topology
      include_tasks: renumber_topo.yml
      when: action == 'renumber_topo'

  when: vm_required is defined and vm_required == True

- name: Generate DPU list of target DPUs
  set_fact: dpu_targets={{ VM_hosts | filter_vm_targets(topology['DPUs'], VM_base) | sort }}
  when: topology['DPUs'] is defined and hostvars[duts_name]['type'] == 'kvm'

- name: Set fallback default value for dpu_targets
  set_fact: dpu_targets={{ [] }}
  when: dpu_targets is not defined

- name: Add topology
  include_tasks: add_topo.yml
  when: action == 'add_topo'

- name: Remove topology
  include_tasks: remove_topo.yml
  when: action == 'remove_topo'

- name: Stop Kubernetes VMs
  include_tasks: stop_k8s.yml
  when: action == 'stop_k8s'

- name: Start Kubernetes VMs
  include_tasks: start_k8s.yml
  when: action == 'start_k8s'

- name: Manage the dut state
  include_tasks: manage_duts.yml
  loop: "{{ duts_name.split(',') }}"
  loop_control:
    loop_var: dut_name
  when: duts_name is defined

- name: Use virtualenv for all Python scripts on Ubuntu 24.04 and newer
  set_fact:
    ansible_python_interpreter: "/tmp/sonic-mgmt-virtualenv/bin/python"
  when: host_distribution_version.stdout >= "24.04"
