- name: set "PTF" container type, by default
  set_fact:
    container_type: "PTF"

- name: set "API-SERVER" container type if Keysight Api Server is used
  set_fact:
    container_type: "API-SERVER"
  when: ptf_imagename is defined and ptf_imagename == "docker-keysight-api-server"

- name: set "IxANVL-CONF-TESTER" container type if Keysight IxANVL is used
  set_fact:
    container_type: "IxANVL-CONF-TESTER"
  when: ptf_imagename is defined and ptf_imagename == "docker-ptf-anvl"

- name: set batch_mode for lt2 topo
  set_fact:
    batch_mode: True
  when: "'lt2' in topo"

- block:

  - name: Stop mux simulator
    include_tasks: control_mux_simulator.yml
    vars:
      mux_simulator_action: stop
    when: "'dualtor' in topo"

  - name: Stop nic simulator
    include_tasks: control_nic_simulator.yml
    vars:
      nic_simulator_action: stop
    when: topology.host_interfaces_active_active is defined and topology.host_interfaces_active_active|length > 0

  - name: Stop PTF portchannel service
    include_tasks: ptf_portchannel.yml
    vars:
      ptf_portchannel_action: stop

  - name: Get duts ports
    include_tasks: get_dut_port.yml
    loop: "{{ duts_name.split(',') }}"
    loop_control:
      loop_var: dut_name

  - name: Unbind topology {{ topo }} to VMs. base vm = {{ VM_base }}
    include_tasks: unbind_vm.yml
    loop: "{{ VM_hosts | flatten(levels=1) }}"
    loop_control:
      loop_var: current_vm_name

  - name: Wait for unbind tasks to complete
    become: yes
    async_status:
      jid: "{{ async_unbind_job_results[current_vm_name] }}"
    loop: "{{ VM_hosts | flatten(levels=1) }}"
    loop_control:
      loop_var: current_vm_name
    register: async_unbind_topology_poll_results
    until: async_unbind_topology_poll_results.finished
    retries: 30
    delay: 60

  - name: Unbind topology {{ topo }} to DPU VMs. base vm = {{ VM_base }}
    vm_topology:
      cmd: "unbind"
      vm_set_name: "{{ vm_set_name }}"
      topo: "{{ topology }}"
      vm_names: "{{ VM_hosts }}"
      vm_base: "{{ VM_base }}"
      vm_type: "vsonic"
      duts_fp_ports: "{{ duts_fp_ports }}"
      duts_mgmt_port: "{{ duts_mgmt_port }}"
      duts_name: "{{ duts_name.split(',') }}"
      max_fp_num: "{{ max_fp_num }}"
      batch_mode: "{{ batch_mode if batch_mode is defined else omit }}"
      is_dpu: true
    become: yes
    when: dpu_targets is defined and dpu_targets | length > 0

  - include_tasks: remove_ceos_list.yml
    when: vm_type is defined and vm_type == "ceos"

  - name: Remove duts ports
    include_tasks: remove_dut_port.yml
    when: external_port is defined
    loop: "{{ duts_name.split(',') }}"
    loop_control:
      loop_var: dut_name

  - name: Stop ptf container ptf_{{ vm_set_name }}
    docker_container:
      name: ptf_{{ vm_set_name }}
      state: stopped
    become: yes
    ignore_errors: yes

  - name: Remove ptf docker container ptf_{{ vm_set_name }}
    docker_container:
      name: "ptf_{{ vm_set_name }}"
      state: absent
    become: yes

  when: container_type == "PTF"


- block:
  - name: Remove Keysight API Server container
    docker_container:
      name: apiserver
      state: absent
    become: yes
    when:
      - remove_keysight_api_server == "1"

  - debug:
      msg: "[ INFO ] keysight_api_server container has been removed since remove_keysight_api_server is provided in the remove_topo arguments."
    when:
      - remove_keysight_api_server == "1"

  - debug:
      msg: "[ WARNING ] keysight_api_server container has not been removed since remove_keysight_api_server is not provided in the remove_topo arguments."
    when:
      - remove_keysight_api_server == "0"

  when:
    - container_type == "API-SERVER"

- block:
  - name: Get dut ports
    include_tasks: get_dut_port.yml
    loop: "{{ duts_name.split(',') }}"
    loop_control:
      loop_var: dut_name

  - name: Unbind topology {{ topo }} for Keysight IxANVL.
    vm_topology:
      cmd: "unbind"
      vm_names: ""
      vm_set_name: "{{ vm_set_name }}"
      topo: "{{ topology }}"
      duts_fp_ports: "{{ duts_fp_ports }}"
      duts_midplane_ports: "{{ duts_midplane_ports }}"
      duts_inband_ports: "{{ duts_inband_ports }}"
      duts_mgmt_port: "{{ duts_mgmt_port }}"
      duts_name: "{{ duts_name.split(',') }}"
      max_fp_num: "{{ max_fp_num }}"
      batch_mode: "{{ batch_mode if batch_mode is defined else omit }}"
    become: yes

  - name: Remove duts ports
    include_tasks: remove_dut_port.yml
    when: external_port is defined
    loop: "{{ duts_name.split(',') }}"
    loop_control:
      loop_var: dut_name

  - name: Remove Keysight IxANVL container
    docker_container:
      name: ptf_anvl
      state: absent
    become: yes

  when: container_type == "IxANVL-CONF-TESTER"

- name: Destroy VMs network in parallel
  include_tasks: destroy_vm_network.yml
  loop: "{{ VM_targets|flatten(levels=1) }}"
  loop_control:
    loop_var: vm_name

- name: Wait for destroy tasks to complete
  become: yes
  async_status:
    jid: "{{ async_destroy_vm_network_results[vm_name] }}"
  loop: "{{ VM_targets|flatten(levels=1) }}"
  loop_control:
    loop_var: vm_name
  register: async_destroy_vm_network_poll_results
  until: async_destroy_vm_network_poll_results.finished
  retries: 30
  delay: 60

- name: Destroy DPUs network
  vm_topology:
    cmd: 'destroy'
    vm_names: "{{ dpu_targets }}"
  become: yes
  when: dpu_targets is defined and dpu_targets | length > 0
