- name: set "PTF" container type, by default
  set_fact:
    container_type: "PTF"

- name: set "API-SERVER" container type if Keysight Api Server is used
  set_fact:
    container_type: "API-SERVER"
  when: ptf_imagename is defined and ptf_imagename == "docker-keysight-api-server"

- block:
  - name: Get duts ports
    include_tasks: get_dut_port.yml
    loop: "{{ duts_name.split(',') }}"
    loop_control:
      loop_var: dut_name

  - name: Unbind topology {{ topo }} to VMs. base vm = {{ VM_base }}
    vm_topology:
      cmd: "unbind"
      vm_set_name: "{{ vm_set_name }}"
      topo: "{{ topology }}"
      vm_names: "{{ VM_hosts }}"
      vm_base: "{{ VM_base }}"
      duts_fp_ports: "{{ duts_fp_ports }}"
      duts_mgmt_port: "{{ duts_mgmt_port }}"
      duts_name: "{{ duts_name.split(',') }}"
      max_fp_num: "{{ max_fp_num }}"
    become: yes

  - include_tasks: remove_ceos_list.yml
    when: vm_type is defined and vm_type == "ceos"

  - name: Remove duts ports
    include_tasks: remove_dut_port.yml
    when: external_port is defined
    loop: "{{ duts_name.split(',') }}"
    loop_control:
      loop_var: dut_name

  - name: Remove ptf docker container ptf_{{ vm_set_name }}
    docker_container:
      name: "ptf_{{ vm_set_name }}"
      state: absent
    become: yes

  when: container_type == "PTF"


- block:
  - name: Remove Keysight API Server container
    docker_container:
      name: apiserver
      state: absent
    become: yes
  when: container_type == "API-SERVER"

