{
    "acl": {
        "acl-sets": {
            "acl-set": {
                "{{ acl_table_name }}": {
                    "acl-entries": {
                        "acl-entry": {
                            "1": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 1
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0002/128"
                                    }
                                }
                            },
                            "2": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 2
                                },
                                "ip": {
                                    "config": {
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0003/128"
                                    }
                                }
                            },
                            "3": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 3
                                },
                                "ip": {
                                    "config": {
                                        "protocol": 126
                                    }
                                }
                            },
                            "4": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 4
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "9000"
                                    }
                                }
                            },
                            "5": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 5
                                },
                                "transport": {
                                    "config": {
                                        "destination-port": "9001"
                                    }
                                }
                            },
                            "6": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 6
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "10000..10499"
                                    }
                                }
                            },
                            "7": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 7
                                },
                                "transport": {
                                    "config": {
                                        "destination-port": "10500..10999"
                                    }
                                }
                            },
                            "8": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 8
                                },
                                "transport": {
                                    "config": {
                                        "tcp-flags": ["TCP_ACK", "TCP_PSH", "TCP_FIN", "TCP_SYN"]
                                    }
                                }
                            },
                            "9": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 9
                                },
                                "ip": {
                                    "config": {
                                        "dscp": "37"
                                    }
                                }
                            },
                            "10": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 10
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0004/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0005/128",
                                        "protocol": 6
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "11200",
                                        "destination-port": "11500..11999"
                                    }
                                }
                            },
                            "11": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 11
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0005/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0004/128",
                                        "protocol": 6
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "11500..11999",
                                        "destination-port": "11200"
                                    }
                                }
                            },
                            "12": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 12
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0006/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0007/128",
                                        "protocol": 6
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "tcp-flags": ["TCP_SYN"]
                                    }
                                }
                            },
                            "13": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 13
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0007/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0006/128",
                                        "protocol": 6
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "tcp-flags": ["TCP_SYN", "TCP_ACK"]
                                    }
                                }
                            },
                            "14": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 14
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0008/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0009/128",
                                        "protocol": 6
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "12000",
                                        "destination-port": "443",
                                        "tcp-flags": ["TCP_SYN"]
                                    }
                                }
                            },
                            "15": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 15
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0009/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0008/128",
                                        "protocol": 6
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "443",
                                        "destination-port": "12000",
                                        "tcp-flags": ["TCP_SYN", "TCP_ACK"]
                                    }
                                }
                            },
                            "16": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 16
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:000a/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:000b/128",
                                        "protocol": 17,
                                        "dscp": 8
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "12001",
                                        "destination-port": "514"
                                    }
                                }
                            },
                            "17": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 17
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:000b/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:000a/128",
                                        "protocol": 17,
                                        "dscp": 8
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "514",
                                        "destination-port": "12001"
                                    }
                                }
                            },
                            "18": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 18
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:000c/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:000d/128"
                                    }
                                }
                            },
                            "19": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 19
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:000e/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:000f/128",
                                        "protocol": 127,
                                        "dscp": 16
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "12004",
                                        "destination-port": "12005",
                                        "tcp-flags": ["TCP_SYN", "TCP_ACK"]
                                    }
                                }
                            },
                            "20": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 20
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:b000:0000:0000:0000:0000/64",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0010/128",
                                        "protocol": 6
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "12006",
                                        "destination-port": "12007"
                                    }
                                }
                            },
                            "21": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 21
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:0010/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:b000:0000:0000:0000:0000/64",
                                        "protocol": 6
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "12008",
                                        "destination-port": "12009"
                                    }
                                }
                            },
                            "22": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 22
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:c000:0000:0000:0000:0000/64",
                                        "destination-ip-address": "ffbe:0225:7c6b:d000:0000:0000:0000:0000/64",
                                        "protocol": 6
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "12010",
                                        "destination-port": "12011"
                                    }
                                }
                            },
                            "23": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 23
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:e000:0000:0000:0000:0000/57",
                                        "destination-ip-address": "ffbe:0225:7c6b:f000:0000:0000:0000:0000/81",
                                        "protocol": 6
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "12012",
                                        "destination-port": "12013"
                                    }
                                }
                            },
                            "24": {
                                "actions": {
                                    "config": {
                                        "forwarding-action": "ACCEPT"
                                    }
                                },
                                "config": {
                                    "sequence-id": 24
                                },
                                "ip": {
                                    "config": {
                                        "source-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:001c/128",
                                        "destination-ip-address": "ffbe:0225:7c6b:a982:d48b:230e:f271:001d/128"
                                    }
                                },
                                "transport": {
                                    "config": {
                                        "source-port": "12002",
                                        "destination-port": "12003"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
