- debug: msg="{{ device_info[inventory_hostname] }}"

- name: set login to tacacs if tacacs is defined
  set_fact: ansible_ssh_user={{ fanout_tacacs_sonic_user }} ansible_ssh_pass={{ fanout_tacacs_sonic_password }}
  when: >
    fanout_tacacs_user is not defined and fanout_tacacs_user is not defined and
    fanout_tacacs_sonic_user is defined and fanout_tacacs_sonic_password is defined

- name: prepare fanout switch admin login info
  set_fact: ansible_ssh_user={{ fanout_sonic_user }} ansible_ssh_pass={{ fanout_sonic_password }}
  when: >
    fanout_tacacs_user is not defined and fanout_tacacs_user is not defined and
    fanout_tacacs_sonic_user is not defined and fanout_tacacs_sonic_password is not defined

- name: retrieve SONiC version
  shell: cat /etc/sonic/sonic_version.yml | grep ":"
  register: sonic_version_content

- name: format SONiC version content
  set_fact:
    fanout_sonic_version: "{{ fanout_sonic_version | default({}) | combine([dict(['key', 'value'] | zip(item.split(':') | map('trim')))] | items2dict) }}"
  with_items: "{{ sonic_version_content['stdout_lines'] }}"

- fail: msg="sonic version other than 202205 does not support incremental update and dry run"
  when: "'20220531' not in fanout_sonic_version['build_version'] and (incremental is defined or dry_run is defined)"

- name: deploy SONiC fanout with image version 201811
  include_tasks:
    sonic/fanout_sonic_201811.yml
  when: "'20181130' in fanout_sonic_version['build_version']"

- name: deploy SONiC fanout with image version 202012
  include_tasks:
    sonic/fanout_sonic_202012.yml
  when: "'20201231' in fanout_sonic_version['build_version']"

- name: deploy SONiC fanout with image version 202205
  block:
    - name: deploy SONiC fanout not incremental and not dry_run
      include_tasks:
        sonic/fanout_sonic_202205.yml
      when: "dry_run is not defined and incremental is not defined and 'Cisco-8101' not in device_info[inventory_hostname]['HwSku']"

    - name: deploy SONiC Cisco 8101 fanout not incremental and not dry_run
      include_tasks:
        sonic/fanout_sonic_cisco_8101_202205.yml
      when: "dry_run is not defined and incremental is not defined and 'Cisco-8101' in device_info[inventory_hostname]['HwSku']"

    - name: deploy SONiC fanout incremental and not dry_run
      include_tasks:
        sonic/fanout_sonic_incremental_202205.yml
      when: incremental is defined and dry_run is not defined

    - name: deploy SONiC fanout dry_run
      include_tasks:
        sonic/fanout_sonic_dry_run_202205.yml
      when: dry_run is defined
  when: "'20220531' in fanout_sonic_version['build_version'] or 'internal' in fanout_sonic_version['build_version']"

- name: deploy SONiC fanout with image version 202311
  block:
    - name: deploy SONiC fanout not incremental and not dry_run
      include_tasks:
        sonic/fanout_sonic_202311.yml
      when: dry_run is not defined and incremental is not defined
  when: "'2023' in fanout_sonic_version['build_version'] or '2024' in fanout_sonic_version['build_version']"
