- debug: msg="{{ device_info }}"

- name: prepare fanout switch admin login info
  set_fact: ansible_user={{ fanout_sonic_user }} ansible_password={{ fanout_sonic_password }}

- name: find interface name mapping
  port_alias: hwsku="{{ device_info["HwSku"] }}"

- name: build fanout vlan config
  template: src=sonic_deploy.j2
            dest=/etc/sonic/vlan.json
  become: yes

- name: disable all copp rules
  shell:
    cmd: docker exec swss bash -c 'echo [] > /etc/swss/config.d/00-copp.config.json'
  become: yes

- name: generate config_db.json
  shell: sonic-cfggen -H -j /etc/sonic/vlan.json -j /etc/sonic/init_cfg.json --print-data > /etc/sonic/config_db.json
  become: yes

- name: reload config_db.json
  shell: config reload -y
  become: yes

- name: stop and disable lldp service
  service: name=lldp state=stopped enabled=no
  become: yes

- name: stop and disable dhcp_relay service
  service: name=dhcp_relay state=stopped enabled=no
  become: yes

- name: stop and disable bgp service
  service: name=bgp state=stopped enabled=no
  become: yes

- name: stop and disable teamd service
  service: name=teamd state=stopped enabled=no
  become: yes
