{
    "NAT_GLOBAL": {
        "Values": {
            "admin_mode": "{{ nat_admin_mode }}",
            "nat_timeout": {{ global_nat_timeout }},
            "nat_tcp_timeout": {{ tcp_timeout }},
            "nat_udp_timeout": {{ udp_timeout }}
            }
    }
}
