  <DeviceInfos>
    <DeviceInfo>
      <AutoNegotiation>true</AutoNegotiation>
      <EthernetInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
{% if card_type is not defined or card_type != 'supervisor' %}
{% set num_of_intf = port_alias | length %}
{% for index in range(num_of_intf) %}
        <a:EthernetInterface>
          <ElementType>DeviceInterface</ElementType>
          <AlternateSpeeds i:nil="true"/>
          <EnableAutoNegotiation>true</EnableAutoNegotiation>
          <EnableFlowControl>true</EnableFlowControl>
          <Index>1</Index>
          <InterfaceName>{{ port_alias[index] }}</InterfaceName>
          <InterfaceType i:nil="true"/>
          <MultiPortsInterface>false</MultiPortsInterface>
          <PortName>0</PortName>
          <Priority>0</Priority>
{% set speed_option = port_speed | length %}
{% if speed_option == 0 %}
          <Speed>{{ iface_speed }}</Speed>
{% else %}
          <Speed>{{ port_speed[port_alias[index]] }}</Speed>
{% endif %}
        </a:EthernetInterface>
{% endfor %}
{% endif %}
      </EthernetInterfaces>
      <FlowControl>true</FlowControl>
      <Height>0</Height>
      <HwSku>{{ hwsku }}</HwSku>
      <ManagementInterfaces/>
    </DeviceInfo>
  </DeviceInfos>

