  <MetadataDeclaration>
{% set syslog_servers_str=';'.join(syslog_servers) %}
{% set dhcp_servers_str=';'.join(dhcp_servers) %}
{% set forced_mgmt_routes_str = ';'.join(forced_mgmt_routes)  %}
{% set ntp_servers_str = ';'.join(ntp_servers) %}
{% set snmp_servers_str = ';'.join(snmp_servers) %}
{% set tacacs_servers_str = ';'.join(tacacs_servers) %}
{% set radius_servers_str = ';'.join(radius_servers) %}
{% set erspan_dest_str = ';'.join(erspan_dest) %}
    <Devices xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
      <a:DeviceMetadata>
        <a:Name>{{ inventory_hostname }}</a:Name>
        <a:Properties>
          <a:DeviceProperty>
            <a:Name>DeploymentId</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>1</a:Value>
          </a:DeviceProperty>
          <a:DeviceProperty>
            <a:Name>QosProfile</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>Profile0</a:Value>
          </a:DeviceProperty>
{% if 'dualtor' in topo %}
          <a:DeviceProperty>
            <a:Name>GeminiEnabled</a:Name>
            <a:Reference i:nil="true" />
            <a:Value>True</a:Value>
          </a:DeviceProperty>
{% endif %}
{% if dhcp_servers %}
          <a:DeviceProperty>
            <a:Name>DhcpResources</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ dhcp_servers_str }}</a:Value>
          </a:DeviceProperty>
{% endif %}
{% if ntp_servers %}
          <a:DeviceProperty>
            <a:Name>NtpResources</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ ntp_servers_str }}</a:Value>
          </a:DeviceProperty>
{% endif %}
{% if radius_servers %}
          <a:DeviceProperty>
            <a:Name>RadiusResources</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ radius_servers_str }}</a:Value>
          </a:DeviceProperty>
{% endif %}
{% if snmp_servers %}
          <a:DeviceProperty>
            <a:Name>SnmpResources</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ snmp_servers_str }}</a:Value>
          </a:DeviceProperty>
{% endif %}
{% if syslog_servers %}
          <a:DeviceProperty>
            <a:Name>SyslogResources</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ syslog_servers_str }}</a:Value>
          </a:DeviceProperty>
{% endif %}
{% if tacacs_group %}
          <a:DeviceProperty>
            <a:Name>TacacsGroup</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ tacacs_group }}</a:Value>
          </a:DeviceProperty>
{% endif %}
{% if tacacs_servers %}
          <a:DeviceProperty>
            <a:Name>TacacsServer</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ tacacs_servers_str }}</a:Value>
          </a:DeviceProperty>
{% endif %}
{% if forced_mgmt_routes %}
          <a:DeviceProperty>
            <a:Name>ForcedMgmtRoutes</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ forced_mgmt_routes_str }}</a:Value>
          </a:DeviceProperty>
{% endif %}
{% if erspan_dest %}
          <a:DeviceProperty>
            <a:Name>ErspanDestinationIpv4</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ erspan_dest_str }}</a:Value>
         </a:DeviceProperty>
{% endif %}
{% if switch_type is defined and switch_type == 'voq' %}
          <a:DeviceProperty>
            <a:Name>SwitchType</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ switch_type }}</a:Value>
          </a:DeviceProperty>
          <a:DeviceProperty>
            <a:Name>SwitchId</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ start_switchid }}</a:Value>
          </a:DeviceProperty>         
{% endif %}
{% if max_cores is defined %}
          <a:DeviceProperty>
            <a:Name>MaxCores</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ max_cores }}</a:Value>
          </a:DeviceProperty>
{% endif %}
        </a:Properties>
      </a:DeviceMetadata>
{% set idx = 0 %}
{% for asic in asic_topo_config %}
      <a:DeviceMetadata>
        <a:Name>{{ asic }}</a:Name>
        <a:Properties>
          <a:DeviceProperty>
            <a:Name>SubRole</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ asic_topo_config[asic]['asic_type'] }}</a:Value>
          </a:DeviceProperty>
        </a:Properties>
{% if switch_type is defined and switch_type == 'voq' %}
          <a:DeviceProperty>
            <a:Name>SwitchType</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ switch_type }}</a:Value>
         </a:DeviceProperty>
          <a:DeviceProperty>
            <a:Name>SwitchId</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ start_switchid + idx }}</a:Value>
{% set idx = idx + 1 %}
          </a:DeviceProperty>         
{% endif %}
{% if max_cores is defined %}
          <a:DeviceProperty>
            <a:Name>MaxCores</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>{{ max_cores }}</a:Value>
         </a:DeviceProperty>
{% endif %}
      </a:DeviceMetadata>
{% endfor %}

{% for asic in fabric_info %}
      <a:DeviceMetadata>
        <a:Name>{{ asic['asicname'] }}</a:Name>
        <a:Properties>
          <a:DeviceProperty>
            <a:Name>SwitchType</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>fabric</a:Value>
          </a:DeviceProperty>
          <a:DeviceProperty>
            <a:Name>SubRole</a:Name>
            <a:Reference i:nil="true"/>
            <a:Value>Fabric</a:Value>
          </a:DeviceProperty>
        </a:Properties>
      </a:DeviceMetadata>
{% endfor %}

    </Devices>
    <Properties xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution"/>
  </MetadataDeclaration>

