  <DeviceInfos>
    <DeviceInfo>
      <AutoNegotiation>true</AutoNegotiation>
      <EthernetInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
{% if card_type is not defined or card_type != 'supervisor' %}
{% set num_of_intf = port_alias | length %}
{% for index in range(num_of_intf) %}
        <a:EthernetInterface>
          <ElementType>DeviceInterface</ElementType>
          <AlternateSpeeds i:nil="true"/>
          <EnableAutoNegotiation>true</EnableAutoNegotiation>
          <EnableFlowControl>true</EnableFlowControl>
          <Index>1</Index>
          <InterfaceName>{{ port_alias[index] }}</InterfaceName>
          <InterfaceType i:nil="true"/>
          <MultiPortsInterface>false</MultiPortsInterface>
          <PortName>0</PortName>
          <Priority>0</Priority>
{% if port_speed[port_alias[index]] is defined %}
          <Speed>{{ port_speed[port_alias[index]] }}</Speed>
{% elif (breakout_speed is defined) and (hwsku in breakout_speed) and (port_alias[index] in breakout_speed[hwsku].keys()) %}
          <Speed>{{ breakout_speed[hwsku][port_alias[index]] }}</Speed>
{% elif device_conn[inventory_hostname][port_alias_map[port_alias[index]]] is defined %}
          <Speed>{{ device_conn[inventory_hostname][port_alias_map[port_alias[index]]]['speed'] }}</Speed>
{% else %}
          <Speed>{{ iface_speed }}</Speed>
{% endif %}
        </a:EthernetInterface>
{% endfor %}
{% endif %}
      </EthernetInterfaces>
{% if switch_type is defined and switch_type == 'voq' %}
      <SystemPorts>
{% set num_of_sysports = all_sysports | length %}
{% for index in range(num_of_sysports) %}
        <SystemPort>
          <Name>{{ all_sysports[index]['name'] }}</Name>
          <Hostname>{{ all_sysports[index]['hostname'] }}</Hostname>
          <AsicName>{{ all_sysports[index]['asic_name'] }}</AsicName>
          <Speed>{{ all_sysports[index]['speed'] }}</Speed>
          <SystemPortId>{{ index }}</SystemPortId>
          <SwitchId>{{ all_sysports[index]['switchid'] }}</SwitchId>
          <CoreId>{{ all_sysports[index]['coreid'] }}</CoreId>
          <CorePortId>{{ all_sysports[index]['core_portid'] }}</CorePortId>
          <NumVoq>{{ all_sysports[index]['num_voq'] }}</NumVoq>
        </SystemPort>
{% endfor %}
      </SystemPorts>
{% endif %}
      <FlowControl>true</FlowControl>
      <Height>0</Height>
      <HwSku>{{ hwsku }}</HwSku>
      <ManagementInterfaces/>
    </DeviceInfo>
  </DeviceInfos>

