<DeviceMiniGraph xmlns="Microsoft.Search.Autopilot.Evolution" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
{% set vms=vm_topo_config['vm'].keys() | sort %}
{% set vms_number = vms | length %}
{% if 'loopback' in vm_topo_config['DUT'] %}
{% if card_type is not defined or card_type != 'supervisor' %}
{% set lp_ipv4 = vm_topo_config['DUT']['loopback']['ipv4'][dut_index|int] %}
{% set lp_ipv4_addr = lp_ipv4.split('/')[0] %}
{% endif %}
{% if card_type is not defined or card_type != 'supervisor' %}
{% set lp_ipv6 = vm_topo_config['DUT']['loopback']['ipv6'][dut_index|int] %}
{% set lp_ipv6_addr = lp_ipv6.split('/')[0] %}
{% endif %}
{% else %}
{% set lp_ipv4 = '10.1.0.32/32' %}
{% set lp_ipv4_addr = '10.1.0.32' %}
{% set lp_ipv6 = 'FC00:1::32/128' %}
{% set lp_ipv6_addr = 'FC00:1::32' %}
{% endif %}
{% include 'minigraph_cpg.j2' %}
{% include 'minigraph_dpg.j2' %}
{% include 'minigraph_png.j2' %}
{% include 'minigraph_device.j2' %}
{% include 'minigraph_meta.j2' %}
{% include 'minigraph_link_meta.j2' %}
  <Hostname>{{ inventory_hostname }}</Hostname>
  <HwSku>{{ hwsku }}</HwSku>
</DeviceMiniGraph>
