  <DpgDec>
    <DeviceDataPlaneInfo>
      <IPSecTunnels/>
      <LoopbackIPInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
{% if card_type is not defined or card_type != 'supervisor' %}
        <a:LoopbackIPInterface>
          <Name>HostIP</Name>
          <AttachTo>Loopback0</AttachTo>
          <a:Prefix xmlns:b="Microsoft.Search.Autopilot.Evolution">
            <b:IPPrefix>{{ lp_ipv4 }}</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>{{ lp_ipv4 }}</a:PrefixStr>
        </a:LoopbackIPInterface>
        <a:LoopbackIPInterface>
          <Name>HostIP1</Name>
          <AttachTo>Loopback0</AttachTo>
          <a:Prefix xmlns:b="Microsoft.Search.Autopilot.Evolution">
            <b:IPPrefix>{{ lp_ipv6 }}</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>{{ lp_ipv6 }}</a:PrefixStr>
        </a:LoopbackIPInterface>
      {%- if 'addl_loopbacks' in dual_tor_facts -%}
      {%- for loopback_num in dual_tor_facts['addl_loopbacks'][inventory_hostname] -%}
        {%- set loopback_facts = dual_tor_facts['addl_loopbacks'][inventory_hostname][loopback_num] -%}
        <a:LoopbackIPInterface>
          <Name>HostIP{{ loopback_facts['host_ip_base_index'] }}</Name>
          <AttachTo>Loopback{{ loopback_num }}</AttachTo>
          <a:Prefix xmlns:b="Microsoft.Search.Autopilot.Evolution">
            <b:IPPrefix>{{ loopback_facts['ipv4'] }}</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>{{ loopback_facts['ipv4'] }}</a:PrefixStr>
        </a:LoopbackIPInterface>
        <a:LoopbackIPInterface>
          <Name>HostIP{{ loopback_facts['host_ip_base_index'] + 1 }}</Name>
          <AttachTo>Loopback{{ loopback_num }}</AttachTo>
          <a:Prefix xmlns:b="Microsoft.Search.Autopilot.Evolution">
            <b:IPPrefix>{{ loopback_facts['ipv6'] }}</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>{{ loopback_facts['ipv6'] }}</a:PrefixStr>
        </a:LoopbackIPInterface>
      {%- endfor -%}
      {%- endif -%}
{% endif %}
      </LoopbackIPInterfaces>
      <ManagementIPInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
        <a:ManagementIPInterface>
          <Name>HostIP</Name>
          <AttachTo>eth0</AttachTo>
          <a:Prefix xmlns:b="Microsoft.Search.Autopilot.Evolution">
            <b:IPPrefix>{{ ansible_host }}/{{ mgmt_subnet_mask_length }}</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>{{ ansible_host }}/{{ mgmt_subnet_mask_length }}</a:PrefixStr>
        </a:ManagementIPInterface>
        <a:ManagementIPInterface>
          <Name>V6HostIP</Name>
          <AttachTo>eth0</AttachTo>
          <a:Prefix xmlns:b="Microsoft.Search.Autopilot.Evolution">
            <b:IPPrefix>{{ ansible_hostv6 if ansible_hostv6 is defined else 'FC00:2::32' }}/64</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>{{ ansible_hostv6 if ansible_hostv6 is defined else 'FC00:2::32' }}/64</a:PrefixStr>
        </a:ManagementIPInterface>
      </ManagementIPInterfaces>
      <ManagementVIPInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution"/>
      <MplsInterfaces/>
      <MplsTeInterfaces/>
      <RsvpInterfaces/>
      <Hostname>{{ inventory_hostname }}</Hostname>
      <PortChannelInterfaces>
{% for index in range(vms_number) %}
{% if 'port-channel' in vm_topo_config['vm'][vms[index]]['ip_intf'][dut_index|int]|lower %}
{% set port_channel_intf=';'.join(intf_names[vms[index]])  %}
        <PortChannel>
          <Name>PortChannel{{ ((index+1)|string).zfill(4) }}</Name>
          <AttachTo>{{ port_channel_intf }}</AttachTo>
          <SubInterface/>
        </PortChannel>
{% endif %}
{% endfor %}
{% if 'tor' in vm_topo_config['dut_type'] | lower %}
{% for portchannel, params in portchannel_config.items() %}
{% set port_channel_intf=';'.join(params['intfs'] | map('extract', port_alias)) %}
        <PortChannel>
          <Name>{{ portchannel }}</Name>
          <AttachTo>{{ port_channel_intf }}</AttachTo>
          <SubInterface/>
        </PortChannel>
{% endfor %}
{% endif %}
      </PortChannelInterfaces>
{% if tunnel_configs | length > 0 %}
      <TunnelInterfaces>
{% for tunnel, tunnel_param in tunnel_configs.items() %}
        <TunnelInterface Name="{{ tunnel }}" Type="{{ tunnel_param['type'] }}" AttachTo="{{ tunnel_param['attach_to'] }}" DifferentiatedServicesCodePointMode="{{ tunnel_param['dscp'] }}" EcnEncapsulationMode="{{ tunnel_param['ecn_encap'] }}" EcnDecapsulationMode="{{ tunnel_param['ecn_decap'] }}" TtlMode="{{ tunnel_param['ttl_mode'] }}" />
{% endfor %}
      </TunnelInterfaces>
{% endif %}
      <VlanInterfaces>
{% if 'tor' in vm_topo_config['dut_type'] | lower %}
{% for vlan, vlan_param in vlan_configs.items() %}
        <VlanInterface>
          <Name>{{ vlan }}</Name>
{% set vlan_intf_str=';'.join(vlan_param['intfs'] + vlan_param['portchannels']) %}
          <AttachTo>{{ vlan_intf_str }}</AttachTo>
          <NoDhcpRelay>False</NoDhcpRelay>
          <StaticDHCPRelay>0.0.0.0/0</StaticDHCPRelay>
          <Type i:nil="true"/>
{% set dhcp_servers_str=';'.join(dhcp_servers) %}
          <DhcpRelays>{{ dhcp_servers_str }}</DhcpRelays>
          <VlanID>{{ vlan_param['id'] }}</VlanID>
          <Tag>{{ vlan_param['tag'] }}</Tag>
          <Subnets>{{ vlan_param['prefix'] | ipaddr('network') }}/{{ vlan_param['prefix'] | ipaddr('prefix') }}</Subnets>
{% if 'mac' in vlan_param %}
          <MacAddress>{{ vlan_param['mac'] }}</MacAddress>
{% endif %}
        </VlanInterface>
{% endfor %}
{% endif %}
      </VlanInterfaces>
      <IPInterfaces>
{% for index in range(vms_number) %}
{% if vm_topo_config['vm'][vms[index]]['ip_intf'][dut_index|int] is not none %}
        <IPInterface>
          <Name i:nil="true"/>
{% if 'port-channel' in vm_topo_config['vm'][vms[index]]['ip_intf'][dut_index|int]|lower %}
          <AttachTo>PortChannel{{ ((index+1) |string).zfill(4) }}</AttachTo>
{% else %}
          <AttachTo>{{ port_alias[vm_topo_config['vm'][vms[index]]['interface_indexes'][dut_index|int][0]] }}</AttachTo>
{% endif %}
          <Prefix>{{ vm_topo_config['vm'][vms[index]]['bgp_ipv4'][dut_index|int] }}/{{ vm_topo_config['vm'][vms[index]]['ipv4mask'][dut_index|int] }}</Prefix>
        </IPInterface>
        <IPInterface>
          <Name i:Name="true"/>
{% if 'port-channel' in vm_topo_config['vm'][vms[index]]['ip_intf'][dut_index|int]|lower %}
          <AttachTo>PortChannel{{ ((index+1) |string).zfill(4) }}</AttachTo>
{% else %}
          <AttachTo>{{ port_alias[vm_topo_config['vm'][vms[index]]['interface_indexes'][dut_index|int][0]] }}</AttachTo>
{% endif %}
          <Prefix>{{ vm_topo_config['vm'][vms[index]]['bgp_ipv6'][dut_index|int] }}/{{ vm_topo_config['vm'][vms[index]]['ipv6mask'][dut_index|int] }}</Prefix>
        </IPInterface>
{% endif %}
{% endfor %}
{% if 'tor' in vm_topo_config['dut_type'] | lower %}
{% for vlan, vlan_param in vlan_configs.items() %}
        <IPInterface>
          <Name i:nil="true"/>
          <AttachTo>{{ vlan }}</AttachTo>
          <Prefix>{{ vlan_param['prefix'] }}</Prefix>
        </IPInterface>
{% endfor %}
{% for vlan, vlan_param in vlan_configs.items() %}
{%   if 'prefix_v6' in vlan_param %}
        <IPInterface>
          <Name i:nil="true"/>
          <AttachTo>{{ vlan }}</AttachTo>
          <Prefix>{{ vlan_param['prefix_v6'] }}</Prefix>
        </IPInterface>
{%   endif %}
{% endfor %}
{% endif %}
      </IPInterfaces>
      <DataAcls/>
      <AclInterfaces>
{% if card_type is not defined or card_type != 'supervisor' %}
        <AclInterface>
          <InAcl>SNMP_ACL</InAcl>
          <AttachTo>SNMP</AttachTo>
          <Type>SNMP</Type>
        </AclInterface>
        <AclInterface>
          <AttachTo>ERSPAN</AttachTo>
          <InAcl>Everflow</InAcl>
          <Type>Everflow</Type>
        </AclInterface>
        <AclInterface>
          <AttachTo>ERSPANV6</AttachTo>
          <InAcl>EverflowV6</InAcl>
          <Type>EverflowV6</Type>
        </AclInterface>
        <AclInterface>
          <AttachTo>VTY_LINE</AttachTo>
          <InAcl>ssh-only</InAcl>
          <Type>SSH</Type>
        </AclInterface>
{% if enable_data_plane_acl|default('true')|bool %}
        <AclInterface>
          <AttachTo>
{%- set acl_intfs = [] -%}
{%- for index in range(vms_number) %}
{% if 'port-channel' in vm_topo_config['vm'][vms[index]]['ip_intf'][dut_index|int]|lower %}
{% set a_intf = 'PortChannel' + ((index+1) |string).zfill(4) %}
{{- acl_intfs.append(a_intf) -}}
{% endif %}
{% endfor %}
{% for index in range(vms_number) %}
{% if 'port-channel' not in vm_topo_config['vm'][vms[index]]['ip_intf']|lower %}
{% if vm_topo_config['vm'][vms[index]]['intfs'][dut_index|int]|length %}
{% set a_intf = port_alias[vm_topo_config['vm'][vms[index]]['interface_indexes'][dut_index|int][0]] %}
{{- acl_intfs.append(a_intf) -}}
{% endif %}
{% endif %}
{% endfor -%}
{{- acl_intfs|join(';') -}}
          </AttachTo>
          <InAcl>DataAcl</InAcl>
          <Type>DataPlane</Type>
        </AclInterface>
{% endif %}
{% endif %}
      </AclInterfaces>
      <DownstreamSummaries/>
      <DownstreamSummarySet xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution"/>
    </DeviceDataPlaneInfo>
{% include 'minigraph_dpg_asic.j2' %}
  </DpgDec>

