  <DeviceInfos>
    <DeviceInfo>
      <AutoNegotiation>true</AutoNegotiation>
      <EthernetInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
{% set num_of_intf = port_alias | length %}
{% for index in range(num_of_intf) %}
        <a:EthernetInterface>
          <ElementType>DeviceInterface</ElementType>
          <AlternateSpeeds i:nil="true"/>
          <EnableAutoNegotiation>true</EnableAutoNegotiation>
          <EnableFlowControl>true</EnableFlowControl>
          <Index>1</Index>
          <InterfaceName>{{ port_alias[index] }}</InterfaceName>
          <InterfaceType i:nil="true"/>
          <MultiPortsInterface>false</MultiPortsInterface>
          <PortName>0</PortName>
          <Priority>0</Priority>
{% if port_speed[port_alias[index]] is defined %}
          <Speed>{{ port_speed[port_alias[index]] }}</Speed>
{% elif device_conn[inventory_hostname][port_alias[index]] is defined %}
          <Speed>{{ device_conn[inventory_hostname][port_alias[index]]['speed'] }}</Speed>
{% else %}
          <Speed>{{ iface_speed }}</Speed>
{% endif %}
        </a:EthernetInterface>
{% endfor %}
      </EthernetInterfaces>
      <FlowControl>true</FlowControl>
      <Height>0</Height>
      <HwSku>{{ hwsku }}</HwSku> 
      <ManagementInterfaces/>
    </DeviceInfo> 
  </DeviceInfos>

