[
    {
        "ACL_TABLE:acl_table_mirror": {
            "policy_desc" : "Everflow_ACL_table",
            "type" : "MIRROR",
            "ports" : "{% for ifname, v in minigraph_neighbors.iteritems() %}{{"%s" % ifname}},{% endfor %}"
        },
        "OP": "SET"
    }
]
