# This job is for recovering all the testbeds on a server. It can only be manually triggered.

name: RecoverServer_$(Build.DefinitionName)_$(SourceBranchName)_$(Build.BuildId)_$(Date:yyyyMMdd)$(Rev:.r)

trigger: none
pr: none

parameters:
  - name: SERVER
    type: string
    displayName: "Server name, defined in VM_FILE, eg: server_1"

  - name: VM_FILE
    type: string
    default: veos
    displayName: "VM file"

  - name: VM_TYPE
    type: string
    default: ceos
    values:
      - veos
      - ceos
    displayName: "VM type. (cEOS is only supported on Ubuntu >= 18.04)"

  - name: SKIP_CLEANUP
    type: boolean
    default: false
    displayName: "Skip cleanup"

  - name: DRY_RUN
    type: boolean
    default: true
    displayName: "Dry run"

  - name: AGENT_POOL
    type: string
    default: nightly
    values:
      - nightly
      - nightly-svc
      - nightly-bjw

stages:
  - stage: Recover
    jobs:
      - job: RecoverServer
        pool: ${{ parameters.AGENT_POOL }}
        timeoutInMinutes: 720
        variables:
          - group: TBSHARE_SECRETS
          - group: SECRETS_JSON
          - name: skipComponentGovernanceDetection
            value: true

        steps:

          - template: ../nightly/templates/get_secrets.yml

          - task: Bash@3
            displayName: Recover server
            inputs:
              targetType: 'inline'
              script: |
                set -x

                if [[ ${{ parameters.SKIP_CLEANUP }} == True ]]; then
                    arg_skip_cleanup='--skip-cleanup'
                else
                    arg_skip_cleanup=''
                fi
                if [[ ${{ parameters.DRY_RUN }} == True ]]; then
                    arg_dry_run='--dry-run'
                else
                    arg_dry_run=''
                fi

                cd ansible

                rm -fr /tmp/recover_server*  # Cleanup old logs
                python recover_server.py --testbed-servers ${{ parameters.SERVER }} --vm-file ${{ parameters.VM_FILE }} --vm-type ${{ parameters.VM_TYPE }} ${arg_dry_run} ${arg_skip_cleanup}

          - task: CopyFiles@2
            displayName: Collect log files
            inputs:
              sourceFolder: '/tmp'
              contents: 'recover_server*/**'
              targetFolder: '$(Build.ArtifactStagingDirectory)'

          - publish: '$(Build.ArtifactStagingDirectory)'
            displayName: "Archive recover_server logs"
            artifact: RecoverServer.log@$(System.JobAttempt)
            condition: always()
