# This job is for periodically polling testbed status and upload polling results to Kusto

name: $(Build.DefinitionName)_$(SourceBranchName)_$(Build.BuildId)_$(Date:yyyyMMdd)$(Rev:.r)

trigger: none
pr: none

schedules:
  - cron: "*/10 * * * *"
    displayName: TestbedUtilizationPollingScheduler
    branches:
      include:
        - internal
    always: true

stages:
  - stage: TestbedUtilizationPolling
    jobs:
      - job: TestbedUtilizationPolling
        pool: nightly
        timeoutInMinutes: 30
        variables:
          - group: KUSTO_SECRETS
          - group: SONiC-Elastictest
          - name: skipComponentGovernanceDetection
            value: true

        steps:

          - task: AzureCLI@2
            inputs:
              azureSubscription: "SONiC-Automation"
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                pwd
                accessToken=$(az account get-access-token --resource "$(ELASTICTEST_MSAL_CLIENT_ID)" --query accessToken -o tsv)
                export ACCESS_TOKEN=$accessToken

                set -x

                cd .azure-pipelines/testbed
                python testbed_utilization_checker.py --skip-testbeds=ptf2-6-b,spytest,vms-chassis-packet-dut,vms-example-ixia-1,ixanvl-vs-conf

                accessToken=$(az account get-access-token --resource https://api.kusto.windows.net --query accessToken -o tsv)
                export ACCESS_TOKEN=$accessToken

                cd ../../test_reporting

                python3 report_uploader.py -c "utilization" ../.azure-pipelines/testbed/testbed_utilization.json SonicTestData
            env:
              TEST_REPORT_INGEST_KUSTO_CLUSTER: $(TEST_REPORT_INGEST_KUSTO_CLUSTER)
              TEST_REPORT_INGEST_KUSTO_CLUSTER_BACKUP: $(TEST_REPORT_INGEST_KUSTO_CLUSTER_BACKUP)
