# This job is for periodically scanning all DUT devices to update default password to altpasswords[0]

name: UpdateDefaultPassword_$(Build.DefinitionName)_$(SourceBranchName)_$(Build.BuildId)_$(Date:yyyyMMdd)$(Rev:.r)

trigger: none
pr: none

schedules:
  - cron: "22 */2 * * *"                    # Run every 2 hours. Minute 22 is randomly chosen.
    displayName: UpdateDefaultPassword
    branches:
      include:
        - internal
    always: true

parameters:

  - name: INVENTORY_INFO
    displayName: "Key is inventory name. Value 'pool' is agent pool for this inventory."
    type: object
    default:
      str:
        pool: nightly
      str2:
        pool: nightly
      str3:
        pool: nightly
      strsvc:
        pool: nightly-svc
      strsvc2:
        pool: nightly-svc
      strtk5:
        pool: nightly-tk5
      bjw:
        pool: nightly-bjw
      bjw2:
        pool: nightly-bjw

jobs:
- ${{ each INVENTORY in parameters.INVENTORY_INFO }}:
  - job: UpdateDefaultPassword_${{ INVENTORY.key }}
    pool: ${{ INVENTORY.value.pool }}
    timeoutInMinutes: 30
    variables:
      - group: TBSHARE_SECRETS
      - group: SECRETS_JSON
      - name: skipComponentGovernanceDetection
        value: true

    steps:

      - template: ../nightly/templates/get_secrets.yml

      - task: AzureCLI@2
        inputs:
          azureSubscription: "SONiC-Automation"
          scriptType: 'bash'
          scriptLocation: 'inlineScript'
          inlineScript: |
            pwd

            accessToken=$(az account get-access-token --resource "$(ELASTICTEST_MSAL_CLIENT_ID)" --query accessToken -o tsv)
            export ACCESS_TOKEN=$accessToken

            cd ansible
            python ../.azure-pipelines/testbed/update_default_password.py -i ${{ INVENTORY.key }} -t testbed.yaml
