{
    "ISIS_ROUTER": {
         "isis": {
            "primary_authentication_key": "{{ primary_authentication_key }}",
            "primary_authentication_type": "{{ primary_authentication_type }}"
         }
     }
}

