name: TestscriptsCollection_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

trigger: none
pr: none

schedules:
  # Run at GME+4 everyday
  - cron: "0 4 * * *"
    displayName: Testscripts Collection
    branches:
      include:
        - internal
    always: true

resources:
  repositories:
    - repository: sonic-mgmt
      type: github
      name: sonic-net/sonic-mgmt
      ref: master
      endpoint: sonic-net

stages:

- stage: TestscriptsCollection
  jobs:
    - job: TestscriptsCollection
      variables:
        - group: KUSTO_SECRETS
        - name: DisableDockerDetector
          value: true

      steps:
        - checkout: sonic-mgmt
          displayName: 'checkout sonic-mgmt repo'

        - task: AzureCLI@2
          displayName: Testscripts Collection
          inputs:
            azureSubscription: "SONiC-Automation"
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            inlineScript: |
              pwd

              accessToken=$(az account get-access-token --resource https://api.kusto.windows.net --query accessToken -o tsv)
              export ACCESS_TOKEN=$accessToken

              set -x

              cd .azure-pipelines/testscripts_analyse
              pip install -r requirements.txt
              python analyse_testscripts.py "../../tests" SonicTestData
          env:
            TEST_REPORT_INGEST_KUSTO_CLUSTER_BACKUP: $(TEST_REPORT_INGEST_KUSTO_CLUSTER_BACKUP)
