hostname {{ hostname }}
!
spanning-tree mode mstp
!
aaa root secret 0 123456
!
username admin privilege 15 role network-admin secret 0 123456
!
clock timezone UTC
!
lldp run
lldp management-address Management1
!
snmp-server community {{ snmp_rocommunity }} ro
!
ip routing
ipv6 unicast-routing
!
ip route 0.0.0.0/0 {{ minigraph_mgmt_interface["gwaddr"] }}

route-map DEFAULT_ROUTES permit
!
{% for podset in range(0, podset_number) %}
{% for tor in range(0, tor_number) %}
{% for subnet in range(0, tor_subnet_number) %}
ip route 192.168.{{ podset }}.{{ tor * 16 + subnet }}/32 {{ nhipv4 }}
ipv6 route 20C0:A8{{ '%02X' % podset }}:0:{{ '%02X' % (tor * 16 + subnet)}}::/64 {{ nhipv6 }}
{% endfor %}
{% endfor %}
{% endfor %}
!
{% for podset in range(0, podset_number) %}
{% for tor in range(0, tor_number) %}
ip prefix-list test_ipv4_{{ podset}}_{{ tor }} seq 10 permit 192.168.{{ podset }}.{{ tor * 16 }}/28 ge 28
ipv6 prefix-list test_ipv6_{{ podset}}_{{ tor }}
 seq 10 permit 20C0:A8{{ '%02X' % podset }}:0:{{ '%02X' % (tor * 16) }}::/60 ge 60
exit
{% endfor %}
{% endfor %}
!
interface Management 1
 description TO LAB MGMT SWITCH
 ip address {{ minigraph_mgmt_interface["addr"] }} {{ minigraph_mgmt_interface["mask"] }}
 no shutdown
!
{% for lo in minigraph_lo_interfaces %}
interface {{ lo['name'] }}
 description LOOPBACK
{% if lo['addr'] | ipv4 %}
 ip address {{ lo['addr'] }}/{{ lo['prefixlen'] }}
{% elif lo['addr'] | ipv6 %}
 ipv6 enable
 ipv6 address {{ lo['addr'] }}/{{ lo['prefixlen'] }}
 ipv6 nd ra suppress
{% endif %}
 no shutdown
{% endfor %}
!
{% for iface in minigraph_interfaces %}
interface {{ iface['name'] }}
 no switchport
{% if iface['addr'] | ipv4 %}
 ip address {{ iface['addr'] }} {{ iface['mask'] }}
{% elif iface['addr'] | ipv6 %}
 ipv6 enable
 ipv6 address {{ iface['addr'] }}/{{ iface['mask'] }}
 ipv6 nd ra suppress
{% endif %}
 no shutdown
!
{% endfor %}
!
{% for podset in range(0, podset_number) %}
{% if range(0, 1000)|random() >= failure_rate %}
{% for tor in range(0, tor_number) %}
{% set leafasn = leaf_asn_start + podset %}
{% set torasn = tor_asn_start + tor %}
route-map PREPENDAS permit {{ 2 * (podset * tor_number + tor + 1) }}
  match ip address prefix-list test_ipv4_{{ podset }}_{{ tor }}
  set as-path prepend {{ leafasn }} {{ torasn }}
!
route-map PREPENDAS permit {{ 2 * (podset * tor_number + tor + 1) + 1 }}
  match ipv6 address prefix-list test_ipv6_{{ podset }}_{{ tor }}
  set as-path prepend {{ leafasn }} {{ torasn }}
!
{% endfor %}
{% endif %}
{% endfor %}
!
router bgp {{ minigraph_bgp_asn }}
 router-id {{ minigraph_lo_interfaces[0]['addr'] }}
 !
{% for neighbor in minigraph_bgp %}
 neighbor {{ neighbor["addr"] }} remote-as {{ neighbor["asn"] }}
 neighbor {{ neighbor["addr"] }} description {{ neighbor["asn"]}}
 neighbor {{ neighbor["addr"] }} default-originate route-map DEFAULT_ROUTES
{% if neighbor["addr"] | ipv6 %}
 address-family ipv6
  neighbor {{ neighbor["addr"] }} activate
 exit
{% endif %}
{% endfor %}
 !
{% for lo in minigraph_lo_interfaces %}
 network {{ lo['addr'] }}/{{ lo['prefixlen'] }}
{% endfor %}
 redistribute static route-map PREPENDAS
!
management api http-commands
 no protocol https
 protocol http
 no shutdown
!
end

