{#ip and portchannel member ports relationship#}
{% set server_count = port_server_count|default(1) %}
{% set base_address = 2 if scaling_test|default("False") == "False" else 3 %}
{%  if test_scenario == "l2" %}
{%      for id in mclag_port_channel_id_list %}
{%          if 1 <= id <= ((mclag_port_channel_id_list|length)/2|int - 2) or ((mclag_port_channel_id_list|length)/2|int + 1) <= id <= (mclag_port_channel_id_list|length - 2) %}
{%              for count in range(0,server_count) %}
172.{{ ((id+(dut1_link_server_interfaces|length/2-1))//(dut1_link_server_interfaces|length/2))|int +15 }}.{{ id }}.{{ base_address+count }} {{ id-1 }},{{ id + dut1_all_interfaces|length - 1 }}
{%              endfor %}
{%          else %}
{%              for count in range(0,server_count) %}
172.{{ ((id+(dut1_link_server_interfaces|length/2-1))//(dut1_link_server_interfaces|length/2))|int +15 }}.{{ id }}.{{ base_address+count }} {{ id-1 }}
{%              endfor %}
{%              for count in range(0,server_count) %}
172.{{ ((id+(dut1_link_server_interfaces|length/2-1))//(dut1_link_server_interfaces|length/2))|int +15 }}.{{ id+dut1_all_interfaces|length }}.{{ base_address+count }} {{ id + dut1_all_interfaces|length - 1 }}
{%              endfor %}
{%          endif %}
{%      endfor %}
{%  elif test_scenario == "vxlan" or test_scenario == "l3" %}
{%      for id in mclag_port_channel_id_list %}
{%          if id <= (mclag_port_channel_id_list|length - 2) %}
{%              for count in range(0,server_count) %}
172.16.{{ id }}.{{ base_address+count }} {{ id-1 }},{{ id + dut1_all_interfaces|length - 1 }}
{%              endfor %}
{%          else %}
{%              for count in range(0,server_count) %}
172.16.{{ id }}.{{ base_address+count }} {{ id-1 }}
{%              endfor %}
{%              for count in range(0,server_count) %}
172.16.{{ id+dut1_all_interfaces|length }}.{{ base_address+count }} {{ id + dut1_all_interfaces|length - 1 }}
{%              endfor %}
{%          endif %}
{%      endfor %}
{%  endif %}
192.168.100.200 {% for index in mclag_link_vm_interfaces %}{{ index }}{{ ',' if not loop.last else '' }}{% endfor %}
