Value Interface (\S+)
Value Pipe (\S+)
Value Logical (\S+)
Value Physical (\S+)
Value Idb (\S+)
Value Mmu (\S+)
Value ucast_Qbase_Numq (\S+)
Value mcast_Qbase_Numq (\S+)
Value half_pipe (\S+)


Start
  ^\s*${Interface}\s+${Pipe}\s+${Logical}\s+${Physical}\s+${Idb}\s+${Mmu}\s+${ucast_Qbase_Numq}\s+${mcast_Qbase_Numq}\s+${half_pipe}\s*$$ -> Record
  ^\s*${Interface}\s+${Pipe}\s+${Logical}\s+${Physical}\s+${Idb}\s+${Mmu}\s+${ucast_Qbase_Numq}\s+${mcast_Qbase_Numq}\s*$$ -> Record