Value Required CommunityType ((Standard)||(Expanded))
Value Required LIST_NAME ([\w_]+)
Value List PERMITDENY ((permit)|(deny))
Value MATCHTYPE ((ANY)|(ALL))
Value List ATTRIBUTE ((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5}))
Value List ExpAttribute (.*$$)

Start
  ^\s*((Standard)|(Expanded)) community list.* -> Continue.Record
  ^\s*${CommunityType} community list ${LIST_NAME}:\s*match: ${MATCHTYPE}$$
  # FIXME: Is appearance of a prompt in the output a bug?
  #Prompt: Record the current row.
  ^\s*(\-\-sonic.*) -> Next.Record
  # One attribute or first on a line:
  ^\s*${PERMITDENY}\s*${ATTRIBUTE}$$
  ^\s*${ATTRIBUTE}$$
  ^\s*${PERMITDENY}\s*${ATTRIBUTE}, -> Continue
  ^\s*${ATTRIBUTE}, -> Continue
  # Two attributes or second on a line:
  ^\s*(permit|deny)\s*((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),${ATTRIBUTE}$$
  ^\s*((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),${ATTRIBUTE}$$
  ^\s*(permit|deny)\s*((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),${ATTRIBUTE}, -> Continue
  ^\s*((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),${ATTRIBUTE}, -> Continue
  # Three attributes or third on a line:
  ^\s*(permit|deny)\s*(((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),){2}${ATTRIBUTE}$$
  ^\s*(((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),){2}${ATTRIBUTE}$$
  ^\s*(permit|deny)\s*(((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),){2}${ATTRIBUTE}, -> Continue
  ^\s*(((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),){2}${ATTRIBUTE}, -> Continue
  # Four attributes or fourth on a line:
  ^\s*(permit|deny)\s*(((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),){3}${ATTRIBUTE}$$
  ^\s*(((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),){3}${ATTRIBUTE}$$
  ^\s*(permit|deny)\s*(((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),){3}${ATTRIBUTE}, -> Continue
  ^\s*(((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),){3}${ATTRIBUTE}, -> Continue
  # Five attributes on a line:
  ^\s*(permit|deny)\s*(((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),){4}${ATTRIBUTE}$$
  ^\s*(((no\-export)|(no\-advertise)|(local\-AS)|(local\-as)|(no\-peer)|(\d{1,5}:\d{1,5})),){4}${ATTRIBUTE}$$
  # Expanded (wildcard) attribute
  ^\s*${PERMITDENY}\s*${ExpAttribute}$$
  ^\s*${ExpAttribute}$$
