Value Filldown interface_name ([\w\/]+|\w+)
Value Filldown policy_name (\S+)
Value Filldown policy_type (\w+)
Value Filldown stage (\w+)
Value policy_desc_name (\w+)
Value class_desc_name (\w+)
Value Filldown class_name ([\w\S]+)
Value Filldown priority_val (\d+)
Value Filldown flow_state ([\w\S]+)
Value mirror_session (\S+)
Value dscp_val (\d+)
Value pcp_val (\d+)
Value acl_name (\S+)
Value field_value (\d+)
Value ip_protocol_val (\d+)
Value src_port_val (\d+)
Value dst_port_val (\d+)
Value src_ip_val (\S+)
Value dst_ip_val (\S+)
Value src_ipv6_val (\S+)
Value dst_ipv6_val (\S+)
Value src_mac_val (\S+)
Value dst_mac_val (\S+)
Value cir_val (\d+)
Value cbs_val (\d+)
Value pir_val (\d+)
Value pbs_val (\d+)
Value policy_flow_state ([\w\S]+)
Value green_pkts_val (\d+)
Value green_bytes_val (\d+)
Value yellow_pkts_val (\d+)
Value yellow_bytes_val (\d+)
Value red_pkts_val (\d+)
Value red_bytes_val (\d+)
Value Fillup match_pkts_val (\d+)
Value Fillup match_bytes_val (\d+)
Value match_type (\S+)
Value tcp_flags_type (\S+.*)
Value next_hop ([\:\d\w\.]+)
Value next_hop_vrf ([\S\_\-]+)
Value next_hop_priority (\d+)
Value selected (\S+)
Value next_hop_interface ([\w\/]+|\w+)

Start
  ^${interface_name}$$
  ^\s*Policy\s+${policy_name}\s+type\s+${policy_type}\s+at\s+${stage}\s*$$
  ^\s*Policy\s+${policy_name}\s+Type\s+${policy_type}\s+at\s+${stage}\s*$$
  ^\s*Description:.*$$
  ^\s*${policy_desc_name}*$$
  ^\s*Flow\s+${class_name}\s+at\s+priority\s+${priority_val}\s+${flow_state}\s*$$
  ^\s*Description:.*$$
  ^\s*${class_desc_name}*$$
  ^\s*set-pcp\s+${pcp_val}\s*$$
  ^\s*set-dscp\s+${dscp_val}\s*$$
  ^\s*match acl\s+${acl_name}\s*$$
  ^\s*ether-type ${field_value}\s*$$
  ^\s*ip-protocol ${ip_protocol_val}\s*$$
  ^\s*src-port ${src_port_val}\s*$$
  ^\s*dst-port ${dst_port_val}\s*$$
  ^\s*src-ip ${src_ip_val}\s*$$
  ^\s*dst-ip ${dst_ip_val}\s*$$
  ^\s*src-ipv6 ${src_ipv6_val}\s*$$
  ^\s*dst-ipv6 ${dst_ipv6_val}\s*$$
  ^\s*src-mac ${src_mac_val}\s*$$
  ^\s*dst-mac ${dst_mac_val}\s*$$
  ^\s*tcp-flags ${tcp_flags_type}*$$
  ^\s*police:\s+cir\s+${cir_val}\s+cbs\s+${cbs_val}\s+pir\s+${pir_val}\s+pbs\s+${pbs_val}\s+${policy_flow_state}\s*$$
  ^\s*operational cir ${cir_val} cbs ${cbs_val} pir ${pir_val} pbs ${pbs_val}\s.*$$
  ^\s*green ${green_pkts_val} packets ${green_bytes_val} bytes action forward\s.*$$
  ^\s*yellow ${yellow_pkts_val} packets ${yellow_bytes_val} bytes action forward\s*$$
  ^\s*red ${red_pkts_val} packets ${red_bytes_val} bytes action drop\s*$$
  ^\s*set\s*mirror-session\s*${mirror_session}\(${selected}\)$$ -> Record
  ^\s*set\s*mirror-session\s*${mirror_session}$$ -> Record
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+priority\s+${next_hop_priority}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+priority\s+${next_hop_priority}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s*\(${selected}\)$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+priority\s+${next_hop_priority}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+priority\s+${next_hop_priority}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s*\(${selected}\)$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}$$ -> Record Start
  ^\s+set\s+interface\s+${next_hop_interface}\s+\(${selected}\)$$
  ^\s+set\s+interface\s+${next_hop_interface}
  ^\s*Packet matches:\s+${match_pkts_val}\s+frames\s+${match_bytes_val}\s+bytes\s*$$ -> Record Start

EOF

