Value Filldown policy_name (\w+)
Value Filldown policy_type (\w+)
Value Filldown class_name ([\w\S]+)
Value Filldown priority_val (\d+)
Value next_hop ([\:\d\w\.]+)
Value next_hop_vrf ([\S\_\-]+)
Value next_hop_priority (\d+)
Value next_hop_interface ([\w\/]+|\w+)
Value mirror_session (\S+)
Value stage (\w+)
Value dscp_val (\d+)
Value pcp_val (\d+)
Value interface (\w+|[\w\/]+)
Value desc_name (\S+)

Start
  ^\s*Policy\s+${policy_name}\s+Type\s+${policy_type}\s*$$
  ^\s*Description:.*$$
  ^\s+${desc_name}*$$
  ^\s*Flow\s+${class_name}\s+at\s+priority\s+${priority_val}\s*$$
  ^\s*Description:.*$$
  ^\s+${desc_name}*$$
  ^\s*set-dscp\s+${dscp_val}\s*$$
  ^\s*set-pcp\s+${pcp_val}\s*$$
  ^\s*set\s*mirror-session\s*${mirror_session}$$ -> Record
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}$$ -> Record Start
  ^\s+set\s+interface\s+${next_hop_interface}$$ -> Record Start
  ^\s*Applied to:.*$$
  ^\s*${interface}\s+at\s+${stage}\s*$$ -> Record
  ^$$

