Value Used (\d+)
value Free (\d+)
Value Total (\d+)

Start
^UCD-SNMP-MIB::memTotalReal.0\s+=\s+\S+\s+{Total}\s+kB
^UCD-SNMP-MIB::memAvailReal.0\s+=\s+\S+\s+{Used}\s+kB
^UCD-SNMP-MIB::memTotalFree.0\s+=\s+\S+\s+{Free}\s+kB
