Value Filldown policy_name (\S+)
Value Filldown policy_type (\S+)
Value Filldown class_name (\S+)
Value Filldown priority_val (\d+)
Value Filldown flow_state ([\w\S]+)
Value Filldown stage (\w+)
Value Filldown interface_name (\w+|[\w\/]+)
Value next_hop ([\:\d\w\.]+)
Value next_hop_vrf ([\S\_\-]+)
Value next_hop_priority (\d+)
Value mirror_session (\S+)
Value selected (\S+)
Value next_hop_interface (\w+)
Value Fillup match_pkts_val (\d+)
Value Fillup match_bytes_val (\d+)


Start
  ^${interface_name}
  ^\s*policy ${policy_name}\s*type\s*${policy_type}\s*at\s*${stage}\s*$$
  ^\s*Policy ${policy_name}\s*type\s*${policy_type}\s*at\s*${stage}\s*$$
  ^\s*Policy ${policy_name}\s*Type\s*${policy_type}\s*at\s*${stage}\s*$$
  ^\s*Flow ${class_name} at priority ${priority_val}\s+${flow_state}\s*$$
  ^\s*set\s*mirror-session\s*${mirror_session}\(${selected}\)$$ -> Record
  ^\s*set\s*mirror-session\s*${mirror_session}$$ -> Record
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+priority\s+${next_hop_priority}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+priority\s+${next_hop_priority}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}\s*\(${selected}\)$$ -> Record Start
  ^\s*set\s+ip\s+nexthop\s+${next_hop}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+priority\s+${next_hop_priority}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+priority\s+${next_hop_priority}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+priority\s+${next_hop_priority}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}\s+\(${selected}\)$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s+vrf\s+${next_hop_vrf}$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}\s*\(${selected}\)$$ -> Record Start
  ^\s*set\s+ipv6\s+nexthop\s+${next_hop}$$ -> Record Start
  ^\s+set\s+interface\s+${next_hop_interface}\s+\(${selected}\)
  ^\s+set\s+interface\s+${next_hop_interface}
  ^\s*Packet matches:\s+${match_pkts_val}\s+frames\s+${match_bytes_val}\s+bytes\s*$$ -> Record Start

EOF
