Value Filldown NUM (\d+)
Value Filldown Status (\S+)
Value List Q (\S{1})
Value List Ports (\S+)

Start
  ^\s*NUM\s+Status\s+Q\s+Ports\s*$$ -> Table1

Table1
  ^\s*\d+ -> Continue.Record
  ^\s*$$ -> Record
  ^\s*${NUM}\s+${Status} -> Continue 
  ^.*\s+${Q}\s+${Ports}\s*$$

EOF

