Value Filldown class_name ([\w\S]+)
Value policy_name (\w+?)
Value Filldown acl_name (\S+)
Value Filldown desc_name (\w+)
Value Filldown match_type (\S+)
Value priority_val (\d+)
Value field_value (\w+)
Value src_port_val (\d+)
Value dst_port_val (\d+)
Value src_ip_val (\S+)
Value dst_ip_val (\S+)
Value src_mac_val (\S+)
Value dst_mac_val (\S+)
Value src_ipv6_val (\S+)
Value dst_ipv6_val (\S+)
Value tcp_flags_type (\S+.*)
Value ip_protocol_val (\w+)


Start
  ^Classifier ${class_name} match-type ${match_type}\s*$$
  ^Class-map\s*${class_name} match-type ${match_type}\s*$$
  ^Description:.*$$
  ^\s*${desc_name}*$$
  ^Match:.*$$
  ^\s*match acl\s+${acl_name}\s*$$
  ^\s*ether-type ${field_value}\s*$$
  ^\s*ethertype ${field_value}\s*$$
  ^\s*ip-proto\S*\s+${ip_protocol_val}\s*$$
  ^\s*ip\s+protocol\s+${ip_protocol_val}\s*$$
  ^\s*src-port ${src_port_val}\s*$$
  ^\s*dst-port ${dst_port_val}\s*$$
  ^\s*src-ip\s*host\s*${src_ip_val}\s*$$
  ^\s*dst-ip\s*host\s*${dst_ip_val}\s*$$
  ^\s*src-ip ${src_ip_val}\s*$$
  ^\s*dst-ip ${dst_ip_val}\s*$$
  ^\s*src-ipv6\s*host\s*${src_ipv6_val}\s*$$
  ^\s*dst-ipv6\s*host\s*${dst_ipv6_val}\s*$$
  ^\s*src-ipv6 ${src_ipv6_val}\s*$$
  ^\s*dst-ipv6 ${dst_ipv6_val}\s*$$
  ^\s*src-mac\s*host\s*${src_mac_val}\s*$$
  ^\s*dst-mac\s*host\s*${dst_mac_val}\s*$$
  ^\s*src-mac ${src_mac_val}\s*$$
  ^\s*dst-mac ${dst_mac_val}\s*$$
  ^\s*tcp-flags ${tcp_flags_type}*$$
  ^Referenced in flows:.*$$
  ^\s*policy\s+${policy_name} at priority ${priority_val}\s*$$ -> Record
