Value Interface (\S+)
Value Type (\S+)
Value Rate (\d+)

Start
  ^\s*Interface\s+Type\s+Rate\s*$$ -> Continue
  ^(-+\s*)*$$ -> Continue
  ^\s*${Interface}\s+${Type}\s+${Rate}\s*$$ -> Record
  ^\s*\|\s*${Interface}\s+\|\s+${Type}\s+\|\s+${Rate}\s+\|\s*$$ -> Record
  ^$$

EOF