Value NEXT_HOP ([*.:\dabcdefABCDEF]+)
Value Filldown NETWORK ([.:\dabcdefABCDEF]+\/\d+)
Value METRIC (\S{0,6})
Value LOCAL_PREF (\S{0,6})
Value WEIGHT (\S{1,6})
Value AS_PATH (\d+)
Value VERSION (\d+)
Value Filldown ROUTER_ID (\S{0,19})
Value STATUS_CODE ([sdhirSR*>=#]*)
Value INTERNAL ([ie\?]?)
Value Filldown VRF (\S+)
Value Filldown AS_NUM (\d+)
Value ORIGIN ([ie\?]?)


Start
  ^\s*BGP\s+routing\s+table\s+information\s+for\s+VRF\s+${VRF}\s*$$
  ^\s*Router\s+identifier\s+${ROUTER_ID},\s+local\s+AS\s+number\s+${AS_NUM}\s*$$
  ^\s*Network\s+Next\s+Hop\s+Metric\s+LocPref\s+Weight\s+Path\s*$$ -> Bgp_table
  ^\s*BGP table version is ${VERSION}, local router ID is ${ROUTER_ID}\s*$$
  ^\s*Network\s+Next Hop\s+Metric\s+LocPrf\s+Weight\s+Path -> Bgp_table

Bgp_table
  ^\s*${STATUS_CODE}\s+${INTERNAL}\s+${NEXT_HOP}\s*$$ -> Continue
  ^\s{1,45}${METRIC}\s{0,9}${LOCAL_PREF}\s+${WEIGHT}\s+${AS_PATH}\s*$$ -> Record
  ^\s*${STATUS_CODE}\s{1,16}${INTERNAL}\s+${NETWORK}\s+${NEXT_HOP}\s*$$ -> Continue
  ^\s{1,45}${METRIC}\s{0,9}${LOCAL_PREF}\s+${WEIGHT}\s+${AS_PATH}\s*$$ -> Record
  ^\s*${STATUS_CODE}\s{1,16}${INTERNAL}\s+${NETWORK}\s+${NEXT_HOP}\s+${METRIC}\s{0,9}${LOCAL_PREF}\s+${WEIGHT}\s+\(*${AS_PATH}\)*\s+${ORIGIN}\s*$$ -> Record
  ^\s*${STATUS_CODE}\s{1,16}${INTERNAL}\s+${NEXT_HOP}\s+${METRIC}\s{0,9}${LOCAL_PREF}\s+${WEIGHT}\s+${AS_PATH}\s*$$ -> Record
  ^\s*${STATUS_CODE}\s+${INTERNAL}\s+${NETWORK}\s+${NEXT_HOP}\s+\s+${WEIGHT}\s+${AS_PATH}\s*$$ -> Record
  ^\s*${STATUS_CODE}\s+${NETWORK}\s+${NEXT_HOP}\s+${METRIC}\s+${LOCAL_PREF}\s+${WEIGHT}\s+${AS_PATH}\s+${INTERNAL}\s*$$ -> Record
  ^\s*${STATUS_CODE}\s+${NETWORK}\s+${NEXT_HOP}\s+${METRIC}\s+${LOCAL_PREF}\s+${WEIGHT}\s+${INTERNAL}\s*$$ -> Record
  ^\s*${STATUS_CODE}\s+${NETWORK}\s+${NEXT_HOP}\s+${METRIC}\s+${WEIGHT}\s+${AS_PATH}\s+${INTERNAL}\s*$$ -> Record
  ^\s*${STATUS_CODE}\s+${NEXT_HOP}\s+${METRIC}\s+${WEIGHT}\s+${AS_PATH}\s+${INTERNAL}\s*$$ -> Record
  ^\s*${STATUS_CODE}\s+${NETWORK}\s+${NEXT_HOP}\s+${METRIC}\s+${AS_PATH}\s*$$ -> Record
  ^\s*${STATUS_CODE}\s+${NETWORK}\s+${NEXT_HOP}\s+${METRIC}\s+${INTERNAL}\s*$$ -> Record

EOF

