Value Filldown access_list_name (\S+)
Value rule_no (\d+)
Value action (\w+)
Value proto (\w+)
Value src_ip (\S+)
Value src_port (\d+)
Value dst_ip (\S+)
Value dst_port (\d+)
Value proto_flag (established|((not-)?(fin|syn|rst|psh|ack|urg)(\s+)?)+)
Value dscp (\w+)
Value dscp_val (\S+)
Value packetscnt (\d+)
Value bytescnt (\d+)
Value vlan (\d+)
Value src_comparision (eq|lt|gt)
Value dst_comparision (eq|lt|gt)
Value src_range (\d+\s+\d+)
Value dst_range (\d+\s+\d+)
Value Filldown acl_type (ip|ipv6|mac)
Value src_mac_address (..:..:..:..:..:..|any)
Value src_mac_mask (..:..:..:..:..:..)
Value dst_mac_address (..:..:..:..:..:..|any)
Value dst_mac_mask (..:..:..:..:..:..)
Value pcp (\S+)
Value pcp_mask (\d+)
Value dei (\d+)

Start
  ^\s*${acl_type}\s+access-list\s+${access_list_name}\s*$$
  ^\s*${acl_type}\s+access-list\s+${access_list_name}\s*at\s*(Ingress|Egress)\s*$$
  ^\s*seq\s+${rule_no}\s+${action}\s(host\s)*(${src_mac_address})*\s*(${src_mac_mask})*\s+(host\s)*(${dst_mac_address})*\s*(${dst_mac_mask})*\s*(pcp\s${pcp})*\s*(pcp-mask\s${pcp_mask})*\s*(dei\s${dei})*\s*(vlan\s${vlan})*\s*(\(${packetscnt}\spackets\)\s\[${bytescnt}\sbytes])*\s*$$ -> Record
  ^\s*seq\s+${rule_no}\s+${action}\s+host\s+${src_mac_address}\s+host\s+${dst_mac_address}\s+ip\s+vlan\s+${vlan}(\s+\(${packetscnt}\s+packets\)\s+\[${bytescnt}\s+bytes])*\s*$$ -> Record
  ^\s*seq\s+${rule_no}\s+${action}\s+${proto}\s+${src_ip}\s+${dst_ip}\s+${proto_flag}\s+vlan\s+${vlan}(\s+\(${packetscnt}\s+packets\)\s+\[${bytescnt}\s+bytes])*\s*$$ -> Record
  ^\s*seq\s+${rule_no}\s+${action}\s+${proto}(\s+host)*\s+${src_ip}(\s+${src_comparision}\s+${src_port})*(\s+range\s+${src_range})*(\s+host)*\s+${dst_ip}(\s+${dst_comparision}\s+${dst_port})*(\s+range\s+${dst_range})*(\s+${proto_flag})*(\s+${dscp}\s+${dscp_val})*(\s+\(${packetscnt}\s+packets\)\s+\[${bytescnt}\s+bytes])*\s*$$ -> Record
  ^\s*seq\s+${rule_no}\s+${action}\s+${src_ip}\s+${dst_ip}\s+\(${packetscnt}\s+packets\)\s+\[${bytescnt}\s+bytes\]\s*$$ -> Record
  ^\s*seq\s+${rule_no}\s+${action}\s+${src_mac_address}\s+${dst_mac_address}\s+vlan-tag-format\s+multi-tagged(\s+\(${packetscnt}\s+packets\)\s+\[${bytescnt}\s+bytes])*\s*$$ -> Record
  ^\s*seq\s+${rule_no}\s+${action}\s+${src_mac_address}\s+host\s+${dst_mac_address}\s+vlan-tag-format\s+multi-tagged(\s+\(${packetscnt}\s+packets\)\s+\[${bytescnt}\s+bytes])*\s*$$ -> Record
  ^\s*seq\s+${rule_no}\s+${action}\s+host\s+${src_mac_address}\s+${dst_mac_address}\s+vlan-tag-format\s+multi-tagged(\s+\(${packetscnt}\s+packets\)\s+\[${bytescnt}\s+bytes])*\s*$$ -> Record

EOF
