Value port (Ethernet\d+|Eth[\d|\/]+)
Value mc8 (\d+)
Value mc9 (\d+)
Value mc10 (\d+)
Value mc11 (\d+)
Value mc12 (\d+)
Value mc13 (\d+)
Value mc14 (\d+)
Value mc15 (\d+)
Value mc16 (\d+)
Value mc17 (\d+)
Value mc18 (\d+)
Value mc19 (\d+)

Start
  ^\s*${port}\s+${mc10}\s+${mc11}\s+${mc12}\s+${mc13}\s+${mc14}\s+${mc15}\s+${mc16}\s+${mc17}\s+${mc18}\s+${mc19}\s*$$ -> CLICK_10_QUEUES
  ^\s*${port}\s+${mc8}\s+${mc9}\s+${mc10}\s+${mc11}\s+${mc12}\s+${mc13}\s+${mc14}\s+${mc15}\s*$$ -> CLICK
  ^\s*MC10\s*MC11\s*MC12\s*MC13\s*MC14\s*MC15\s*MC16\s*MC17\s*MC18\s*MC19\s*$$ -> KLISH_10_QUEUES
  ^\s*${mc8}\s+${mc9}\s+${mc10}\s+${mc11}\s+${mc12}\s+${mc13}\s+${mc14}\s+${mc15}\s*$$ -> KLISH
  ^\s*${port}\s+${mc10}\s+${mc11}\s*$$ -> CLICK_2
  ^\s*${port}\s+${mc8}\s+${mc9}\s*$$ -> CLICK_1
  ^\s*MC10\s*MC11\s*$$ -> KLISH_2
  ^\s*${mc8}\s+${mc9}\s*$$ -> KLISH_1


CLICK
  ^(-+\s*)*$$
  ^\s*${port}\s+${mc8}\s+${mc9}\s+${mc10}\s+${mc11}\s+${mc12}\s+${mc13}\s+${mc14}\s+${mc15}\s*$$ -> Record
  ^$$

KLISH
  ^(-+\s*)*$$
  ^\s*${mc8}\s+${mc9}\s+${mc10}\s+${mc11}\s+${mc12}\s+${mc13}\s+${mc14}\s+${mc15}\s*$$ -> Record
  ^$$

CLICK_1
  ^(-+\s*)*$$
  ^\s*${port}\s+${mc8}\s+${mc9}\s*$$ -> Record
  ^$$

KLISH_1
  ^(-+\s*)*$$
  ^\s*${mc8}\s+${mc9}\s*$$ -> Record
  ^$$

CLICK_10_QUEUES
  ^\s*${port}\s+${mc10}\s+${mc11}\s+${mc12}\s+${mc13}\s+${mc14}\s+${mc15}\s+${mc16}\s+${mc17}\s+${mc18}\s+${mc19}\s*$$ -> Record
  ^\s*$$

KLISH_10_QUEUES
  ^\s*${mc10}\s+${mc11}\s+${mc12}\s+${mc13}\s+${mc14}\s+${mc15}\s+${mc16}\s+${mc17}\s+${mc18}\s+${mc19}\s*$$ -> Record
  ^\s*$$

CLICK_2
  ^\s*${port}\s+${mc10}\s+${mc11}\s*$$ -> Record
  ^\s*$$

KLISH_2
  ^\s*${mc10}\s+${mc11}\s*$$ -> Record
  ^\s*$$