Value Filldown server_addr (^$|\S+|\S+, \S+|\S+, \S+, \S+|\S+, \S+, \S+, \S+)
Value Filldown vrf_name (\S+)
Value Filldown src_interface (\S+)
Value Filldown link_select (\S+)
Value Filldown vrf_select (\S+)
Value Filldown max_hop_count (\d+)
Value Filldown policy_action (\S+)

Start
  ^\s*Server Address:\s*${server_addr}\s*$$ -> Record
  ^\s*Server VRF:\s*${vrf_name}\s*$$ -> Record
  ^\s*Source Interface:\s*${src_interface}\s*$$ -> Record
  ^\s*Link Select:\s*${link_select}\s*$$ -> Record
  ^\s*VRF Select:\s*${vrf_select}\s*$$ -> Record
  ^\s*Max Hop Count:\s*${max_hop_count}\s*$$ -> Record
  ^\s*Policy Action:\s*${policy_action}\s*$$ -> Record

EOF