Value port (\S+)
Value mc8 (\d+)
Value mc9 (\d+)
Value mc10 (\d+)
Value mc11 (\d+)
Value mc12 (\d+)
Value mc13 (\d+)
Value mc14 (\d+)
Value mc15 (\d+)

Start
  ^\s*${port}\s+${mc8}\s+${mc9}\s+${mc10}\s+${mc11}\s+${mc12}\s+${mc13}\s+${mc14}\s+${mc15}\s*$$ -> Record

