Value VTEP_NAME (\S+)
Value SIP (\S+)
Value NVO_NAME (\S+)
Value QOS_MODE (\S+)
Value PIPE_DSCP (\d+)

Start
  ^\s*VTEP Name\s*:\s*${VTEP_NAME},\s*SIP\s*:\s*${SIP}\s*
  ^\s*NVO Name\s*:\s*${NVO_NAME},.*$$ -> Record
  ^\s*VTEP Name\s*:\s*${VTEP_NAME},\s*SIP\s*:\s*${SIP} -> Record
  ^\s*VTEP Name\s*:\s*${VTEP_NAME}\s*
  ^\s*Qo[S|s] Mode\s*:\s*${QOS_MODE}\s*\(dscp:${PIPE_DSCP}\)\s*
  ^\s*Qo[S|s] Mode\s*:\s*${QOS_MODE}\s*
  ^$$

