Value status (ready|not ready)
Value ServName (\S+)
Value ServStatus (OK|Down|Starting)
Value State (OK|Down|Starting)
Value Reason (\S+)

Start
  ^System is $status with core services
  ^System is $status - core services are not up -> Record
  ^System is $status$$ -> Record
  ^\s*Service-Name\s+Service-Status\s+App-Ready-Status\s+Down-Reason\s*$$ -> Status_table
  ^.*

Status_table
  ^\s*${ServName}\s+${ServStatus}\s+${State}\s+${Reason}\s*$$ -> Record
