Value Filldown VID (\d+)
Value Filldown IpAdd (\S+)
Value Member (\S+)
Value Mode (\S+)
Value DHCPHelperAdd (\S+)
Value Filldown AutoState (\S+)

Start
  ^\+\S+
  ^\|\s+VLAN ID\s+\|\s+IP Address\s+\|\s+Ports\s+\|\s+Port Tagging\s+\|\s+DHCP Helper Address\s+\|\s+AutoState\s+\|
  ^\|\s+VLAN ID\s+\|\s+IP Address\s+\|\s+Ports\s+\|\s+Port Tagging\s+\|\s+DHCP Helper Address\s+\|
  ^\+\S+
  ^\|\s+${VID}\s+\|\s+(${IpAdd}|.)\s+\|\s+(${Member}|.)\s+\|\s+(${Mode}|.)\s+\|\s+(${DHCPHelperAdd}|.)\s+\|\s+(${AutoState}|.)\s+\| -> Record
  ^\|\s+${VID}\s+\|\s+(${IpAdd}|.)\s+\|\s+(${Member}|.)\s+\|\s+(${Mode}|.)\s+\|\s+(${DHCPHelperAdd}|.)\s+\| -> Record
  ^\|\s+\|\s+(${IpAdd}|.)\s+\|\s+(${Member}|.)\s+\|\s+(${Mode}|.)\s+\|\s+(${DHCPHelperAdd}|.)\s+\|+(${AutoState}|.)\s+\| -> Record
  ^\|\s+\|\s+(${IpAdd}|.)\s+\|\s+(${Member}|.)\s+\|\s+(${Mode}|.)\s+\|\s+(${DHCPHelperAdd}|.)\s+\| -> Record
  ^\+\S+

EOF
