Value vlan_cnt (\d+)
Value dynamic_cnt (\d+)
Value static_cnt (\d+)
Value count (\d+)


Start
  ^\s*MAC\s+Entries\s+for\s+all\s+vlans\s*:\s+${vlan_cnt}\s*$$
  ^\s*Dynamic\s+Address\s+Count\s*:\s+${dynamic_cnt}\s*$$
  ^\s*Static\s+Address\s+\(User-defined\)\s+Count\s*:\s+${static_cnt}\s*$$
  ^\s*Total\s+MAC\s+Addresses\s+in\s+Use\s*:\s+${count}\s*$$ -> Record
  ^$$

EOF

