Value Filldown rg_timeout (\d+)
Value Filldown lg_global_mode (\w+)
Value rg_ifname (\S+)
Value rg_vid (\d+)
Value rg_status (.*)

Start
  ^Root guard timeout: ${rg_timeout}\s+secs
  ^Loop guard default: ${lg_global_mode}$$ -> Record
  ^${rg_ifname}\s+${rg_vid}\s+${rg_status}$$ -> Record

EOF
