Value PORT (\S+)
Value TXQ (UC\d+|MC\d+)
Value PKTS_COUNT (\S+)
Value BYTE_COUNT (\S+)
Value PKTS_RATE (\S+)
Value BYTE_RATE (\S+)
Value BIT_RATE (\S+)
Value PKTS_DROP (\S+)
Value BYTE_DROP (\S+)

Start
  ^\s*Port\s+TxQ\s+Counter/pkts\s+Counter/bytes\s+Drop/pkts\s+Drop/bytes -> Click
  ^\s*Port\s+TxQ\s+Counter/pkts\s+Counter/bytes\s+Rate/PPS\s+Rate/BPS\s+Rate/bPS\s+Drop/pkts\s+Drop/bytes -> Klish

Click
  ^(-+\s*)*$$
  ^\s*${PORT}\s+${TXQ}\s+${PKTS_COUNT}\s+${BYTE_COUNT}\s+${PKTS_DROP}\s+${BYTE_DROP} -> Record 

Klish
  ^(-+\s*)*$$
  ^\s*${PORT}\s+${TXQ}\s+${PKTS_COUNT}\s+${BYTE_COUNT}\s+${PKTS_RATE}/s\s+${BYTE_RATE}/s\s+${BIT_RATE}/s\s+${PKTS_DROP}\s+${BYTE_DROP} -> Record 

EOF
