Value oper_status (\S+)
Value mtu (\d+)
Value active (\S+)
Value name (\S+)
Value fallback_operational (\S+)
Value admin_status (\S+)
Value port_load_interval (\d+)
Value state (\S+)
Value fallback_configured (\S+)
Value speed (\d+)

Start
  ^\s*2\)\s*\"${oper_status}\"\s*$$
  ^\s*4\)\s*\"${mtu}\"\s*$$
  ^\s*6\)\s*\"${active}\"\s*$$
  ^\s*8\)\s*\"${name}\"\s*$$
  ^\s*10\)\s*\"${fallback_operational}\"\s*$$
  ^\s*12\)\s*\"${admin_status}\"\s*$$
  ^\s*14\)\s*\"${port_load_interval}\"\s*$$
  ^\s*16\)\s*\"${state}\"\s*$$
  ^\s*18\)\s*\"${fallback_configured}\"\s*$$
  ^\s*20\)\s*\"${speed}\"\s*$$ -> Record