Value Filldown name (\S+)
Value Filldown description (\S+)
Value Filldown timeout (\d+)
Value Filldown startup_remain_time (\d+)
Value Filldown direction (\S+)
Value interface (\S+)
Value direction_state (\S+)

Start
  ^\s*Name:\s*${name}
  ^\s*Description:\s*${description}
  ^\s*Timeout:\s*${timeout}
  ^\s*Startup remaining time:\s*${startup_remain_time}
  ^\s*${direction}:\s*
  ^\s*${interface}\s\(${direction_state}\) -> Record

EOF
