Value PollingInterval (\d+)

Start
  ^--------------------------------------------------------------------------------
  ^Attribute\s+Value/State
  ^--------------------------------------------------------------------------------
  ^Polling Interval\s+${PollingInterval}\s+second\(s\) -> Record