Value uc0 (\d+)
Value uc1 (\d+)
Value uc2 (\d+)
Value uc3 (\d+)
Value uc4 (\d+)
Value uc5 (\d+)
Value uc6 (\d+)
Value uc7 (\d+)

Start
  ^\s*UC0\s+UC1\s+UC2\s+UC3\s+UC4\s+UC5\s+UC6\s+UC7
  ^(-+\s*)*$$
  ^\s*${uc0}\s+${uc1}\s+${uc2}\s+${uc3}\s+${uc4}\s+${uc5}\s+${uc6}\s+${uc7}\s*$$ -> Record

