Value port_id (\d+)
Value stp_port_id (\d+)
Value mclag_sm_state (\S+)

Start
  ^\s*port_id\s+=\s+\d+\s+${port_id}\s*$$
  ^\s*stp_port_id\s+=\s+${stp_port_id}\s*$$
  ^\s*mclag_sm_state\s+=\s+${mclag_sm_state}\s*$$ -> Record
  ^\s*RSTP PORT CLASS - VLAN\s+(\d+)\s+PORT\s+${port_id}\s*(\S+)\s*$$
  ^\s*stp_port_id\s+${stp_port_id}\s+priority\s+(\d+)\s*$$
  ^\s*mclag_master\s+(\d+)\s*,\s*mclag_peer_down\s+(\d+)\s*,mclag_sm_state\s+${mclag_sm_state}\s*,mclag_rx_bpdu_non_master\s+(\d+).*$$ -> Record
 
EOF
