{
    "MGMT_INTERFACE": {
        "eth0|{{ mgmt_ip }}": {
            "gwaddr": "{{ mgmt_gw }}"
        }
    },
    "MGMT_PORT": {
        "eth0": {
            "alias": "eth0",
            "admin_status": "up"
        }
    }
}