{% set host = configuration[hostname] %}
{
    "PORTCHANNEL": {
{% set separator = joiner(",") %}
{% for name, iface in host['interfaces'].items() %}
{% if name.startswith('Port-Channel') %}
{{ separator() }}
        "{{ name | replace("-", "") }}": {
            "admin_status": "up",
            "mtu": "9100"
        }
{% endif %}
{% endfor %}
    },
    "INTERFACE": {
{% set separator = joiner(",") %}
{% for name, iface in host['interfaces'].items() %}
{% if not name.startswith('Loopback') and not name.startswith('Port-Channel') and iface['lacp'] is not defined %}
{{ separator() }}
        "{{ name | replace("-", "") }}": {}
{% if iface['ipv4'] is defined %}
{{ separator() }}
        "{{ name | replace("-", "") }}|{{ iface['ipv4'] }}": {}
{% endif %}
{% if iface['ipv6'] is defined %}
{{ separator() }}
        "{{ name | replace("-", "") }}|{{ iface['ipv6'] }}": {}
{% endif %}
{% endif %}
{% endfor %}
{% if host['bp_interface'] is defined %}
{{ separator() }}
        "{{ bp_ifname | replace("-", "") }}": {}
{% if host['bp_interface']['ipv4'] is defined %}
{{ separator() }}
        "{{ bp_ifname | replace("-", "") }}|{{ host['bp_interface']['ipv4'] }}": {}
{% endif %}
{% if host['bp_interface']['ipv6'] is defined %}
{{ separator() }}
        "{{ bp_ifname | replace("-", "") }}|{{ host['bp_interface']['ipv6'] }}": {}
{% endif %}
{% endif %}
    },
    "BGP_NEIGHBOR": {
{% set local_ip_addrs = [] %}
{% for name, iface in host['interfaces'].items() %}
{% if not name.startswith('Loopback') and iface['lacp'] is not defined %}
{% if iface['lacp']['ipv4'] is not defined %}
{{ local_ip_addrs.append(iface['ipv4']) }}
{% endif %}
{% if iface['lacp']['ipv4'] is not defined %}
{{ local_ip_addrs.append(iface['ipv6']) }}
{% endif %}
{% endif %}
{% endfor %}
{% for peer in host['bgp']['peers'][configuration_properties['common']['dut_asn']] %}
        "{{ peer | lower }}": {
            "admin_status": "up",
            "asn": "{{ configuration_properties['common']['dut_asn'] }}",
            "holdtime": "10",
            "keepalive": "3",
{% set usable_local_ip_addrs = [] %}
{% for local_ip_addr in local_ip_addrs %}
{% if local_ip_addr | network_in_usable(peer) %}
{{ usable_local_ip_addrs.append(local_ip_addr) }}
{% endif %}
{% endfor %}
            "local_addr": "{{ usable_local_ip_addrs[0].split('/')[0] | lower }}",
            "name": "{{ duts_name }}",
            "nhopself": "0",
            "rrclient": "0"
        },
{% endfor %}
        "{{ configuration_properties['common']['nhipv4'] }}": {
            "admin_status": "up",
            "asn": "{{ host['bgp']['asn'] }}",
            "holdtime": "10",
            "keepalive": "3",
            "local_addr": "{{ host['bp_interface']['ipv4'].split('/')[0] }}",
            "name": "exabgp_v4",
            "nhopself": "0",
            "rrclient": "0"
        },
        "{{ configuration_properties['common']['nhipv6'] | lower }}": {
            "admin_status": "up",
            "asn": "{{ host['bgp']['asn'] }}",
            "holdtime": "10",
            "keepalive": "3",
            "local_addr": "{{ host['bp_interface']['ipv6'].split('/')[0] | lower }}",
            "name": "exabgp_v6",
            "nhopself": "0",
            "rrclient": "0"
        }
    },
    "DEVICE_NEIGHBOR_METADATA": {
        "{{ duts_name }}": {
                "hwsku": "SONiC-VM",
                "mgmt_addr": "{{ hostvars[duts_name]['ansible_host'] }}",
                "type": "TorRouter"
        }
    },
{% set separator = joiner(",") %}
{% set first_in_loop = true %}
    "PORTCHANNEL_INTERFACE": {
{% for name, iface in host['interfaces'].items() %}
{% if name.startswith('Port-Channel') %}
{{ separator() }}
        "{{ name | replace("-", "") }}": {}
{% if iface['ipv4'] is defined %}
{{ separator() }}
        "{{ name | replace("-", "") }}|{{ iface['ipv4'] }}": {}
{% endif %}
{% if iface['ipv6'] is defined %}
{{ separator() }}
        "{{ name | replace("-", "") }}|{{ iface['ipv6'] }}": {}
{% endif %}
{% endif %}
{% endfor %}
    },
{% set separator = joiner(",") %}
    "PORTCHANNEL_MEMBER": {
{% for name, iface in host['interfaces'].items() %}
{% if iface['lacp'] is defined %}
{{ separator() }}
{% set index = name | replace("Ethernet", "") | int - 1 %}
        "PortChannel{{ iface['lacp'] }}|{{ name }}": {}
{% endif %}
{% endfor %}
    },
{% set separator = joiner(",") %}
    "LOOPBACK_INTERFACE": {
{% for name, iface in host['interfaces'].items() %}
{% if name.startswith('Loopback') %}
{{ separator() }}
        "{{ name }}": {}
{% if iface['ipv4'] is defined %}
{{ separator() }}
        "{{ name }}|{{ iface['ipv4'] }}": {}
{% endif %}
{% if iface['ipv6'] is defined %}
{{ separator() }}
        "{{ name }}|{{ iface['ipv6'] }}": {}
{% endif %}
{% endif %}
{% endfor %}
    }
}
