{% set host = configuration[hostname] %}
{
{% set first_in_loop = true %}
    "PORTCHANNEL": {
{% for name, iface in host['interfaces'].items() %}
{% if name.startswith('Port-Channel') %}
{{ "," if not first_in_loop else "" }}
{% set first_in_loop = false %}
        "{{ name | replace("-", "") }}": {
            "admin_status": "up",
            "mtu": "9100"
        }
{% endif %}
{% endfor %}
    },
{% set first_in_loop = [] %}
    "INTERFACE": {
{% for name, iface in host['interfaces'].items() %}
{% if not name.startswith('Loopback') and not name.startswith('Port-Channel') and iface['lacp'] is not defined %}
{{ "," if first_in_loop else "" }}
{% set _ = first_in_loop.append(1) %}
        "{{ name | replace("-", "") }}": {},
{% if iface['ipv4'] is defined %}
        "{{ name | replace("-", "") }}|{{ iface['ipv4'] }}": {},
{% endif %}
{% if iface['ipv6'] is defined %}
        "{{ name | replace("-", "") }}|{{ iface['ipv6'] }}": {}
{% endif %}
{% endif %}
{% endfor %}
{% if host['bp_interface'] is defined %}
{{ "," if first_in_loop else "" }}
        "{{ bp_ifname | replace("-", "") }}": {},
{% if host['bp_interface']['ipv4'] is defined %}
        "{{ bp_ifname | replace("-", "") }}|{{ host['bp_interface']['ipv4'] }}": {},
{% endif %}
{% if host['bp_interface']['ipv6'] is defined %}
        "{{ bp_ifname | replace("-", "") }}|{{ host['bp_interface']['ipv6'] }}": {}
{% endif %}	
{% endif %}
    },
{% set first_in_loop = true %}
    "PORTCHANNEL_INTERFACE": {
{% for name, iface in host['interfaces'].items() %}
{% if name.startswith('Port-Channel') %}
{{ "," if not first_in_loop else "" }}
{% set first_in_loop = false %}
        "{{ name | replace("-", "") }}": {},
{% if iface['ipv4'] is defined %}
        "{{ name | replace("-", "") }}|{{ iface['ipv4'] }}": {},
{% endif %}
{% if iface['ipv6'] is defined %}
        "{{ name | replace("-", "") }}|{{ iface['ipv6'] }}": {}
{% endif %}
{% endif %}
{% endfor %}
    },
{% set first_in_loop = true %}
    "PORTCHANNEL_MEMBER": {
{% for name, iface in host['interfaces'].items() %}
{% if iface['lacp'] is defined %}
{{ "," if not first_in_loop else "" }}
{% set first_in_loop = false %}
{% set index = name | replace("Ethernet", "") | int - 1 %}
        "PortChannel{{ iface['lacp'] }}|{{ name }}": {}
{% endif %}
{% endfor %}
    },
{% set first_in_loop = true %}
    "LOOPBACK_INTERFACE": {
{% for name, iface in host['interfaces'].items() %}
{% if name.startswith('Loopback') %}
{{ "," if not first_in_loop else "" }}
{% set first_in_loop = false %}
        "{{ name }}": {},
{% if iface['ipv4'] is defined %}
        "{{ name }}|{{ iface['ipv4'] }}": {},
{% endif %}
{% if iface['ipv6'] is defined %}
        "{{ name }}|{{ iface['ipv6'] }}": {}
{% endif %}
{% endif %}
{% endfor %}
}
}
