{
    "ACL_TABLE": {
        "{{ acl_table_name }}": {
            "policy_desc": "{{ acl_table_name }}, {{ acl_table_stage }}",
            "ports": [
{% for port in acl_table_ports %}
                "{{ port }}"{% if not loop.last %},
{% endif %}{% endfor %}],
{% if acl_table_stage == "egress" %}
            "stage": "egress",
{% endif %}
            "type": "{{ acl_table_type }}"
        }
    }
}
