{# tor ports #}
{% for ifname, v in minigraph_neighbors.iteritems() %}{% if "T0" in v.name %}{{ '%d' % minigraph_port_indices[ifname] }},{% endif %}{% endfor %}

{# spine ports #}
{% for ifname, v in minigraph_neighbors.iteritems() %}{% if "T2" in v.name %}{{ '%d' % minigraph_port_indices[ifname] }},{% endif %}{% endfor %}

{# DST IP address (spine port) #}
192.168.0.0
{# DST IP address (spine port)  #}
192.168.0.16
{# DST IP address (tor port) #}
172.16.3.0
{# Blocked DST IP address (tor port) #}
172.16.2.0
