{% set break = 0 %}
{% set acltb_dst_ip_block = "" %}
{% set acltb_dst_ip_priority = "" %}
{% for podset in range(0, podset_number) if break == 0 %}
{% for tor in range(0, 15) if break == 0 %}
{% if loop.index == 2 %}
[
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:Rule01_SRC_IP_test": {
            "priority" : "50",
            "src_ip" : "10.0.0.2",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:Rule02_DST_IP_test": {
            "priority" : "50",
            "dst_ip" : "192.168.{{ podset }}.{{ tor * 16 }}",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:Rule03_SRC_port_test": {
            "priority" : "50",
            "l4_src_port" : "0x1235",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:Rule04_DST_port_test": {
            "priority" : "50",
            "l4_dst_port" : "0x1235",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:Rule05_Ethertype_test": {
            "priority" : "50",
            "ether_type" : "0x1234",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:Rule06_IP_protocol_test": {
            "priority" : "50",
            "ip_protocol" : "0x7E",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:Rule07_tcp_flags_test": {
            "priority" : "50",
            "tcp_flags" : "0x12/0x12",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:Rule08_IP_type_test": {
            "priority" : "50",
            "ip_type" : "IPv6ANY",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:Rule091_SRC_port_range_test": {
            "priority" : "50",
            "l4_src_port_range" : "4656-4671",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:Rule0A1_DST_port_range_test": {
            "priority" : "50",
            "l4_dst_port_range" : "4640-4687",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:RuleB1_Priority_test_drop": {
            "priority" : "50",
            "src_ip" : "10.0.0.3",
            "packet_action" : "drop"
        },
        "OP": "SET"
    },
    {
        "ACL_RULE_TABLE:ACL_Testbed_Test_Table:RuleB2_Priority_test_permit": {
            "priority" : "51",
            "src_ip" : "10.0.0.3",
            "packet_action" : "forward"
        },
        "OP": "SET"
    }
]
{% set break = 1 %}
{% endif %}
{% endfor %}
{% set break = 1 %}
{% endfor %}
