{% if testbed_type == "t1" or testbed_type == "t1-lag" or testbed_type == "t1-64-lag" %}
{# tor ports #}
{% for ifname, v in minigraph_neighbors.iteritems() %}{% if "T0" in v.name %}{{ '%d' % minigraph_port_indices[ifname] }},{% endif %}{% endfor %}

{# spine ports #}
{% for ifname, v in minigraph_neighbors.iteritems() %}{% if "T2" in v.name %}{{ '%d' % minigraph_port_indices[ifname] }},{% endif %}{% endfor %}

192.168.0.0
192.168.0.16
172.16.1.0
172.16.2.0
{% elif testbed_type == "t0" %}
{# todo #}
{% for ifname, info  in minigraph_vlans.iteritems() %}{% for m in info['members'] %}{{ '%d' % minigraph_port_indices[m] }},{% endfor %}{% endfor %}

{% for ifname, v in minigraph_neighbors.iteritems() %}{% if "T1" in v.name %}{{ '%d' % minigraph_port_indices[ifname] }},{% endif %}{% endfor %}

192.168.4.0
192.168.8.0

{% endif %}
