[
{% if outer_ipv4 | bool %}
        {
                "TUNNEL_DECAP_TABLE:IPINIP_V4_TUNNEL" : {
                        "tunnel_type":"IPINIP",
                        "dst_ip":"{{ lo_ip }}",
                        "dscp_mode":"{{ dscp_mode }}",
                        "ecn_mode":"{{ ecn_mode }}",
                        "ttl_mode":"pipe"
                },
                "OP": "{{ op }}"
        }
{% endif %}
{% if outer_ipv6 | bool and outer_ipv4 | bool %} ,
{% endif %}
{% if outer_ipv6 | bool %}
        {
                "TUNNEL_DECAP_TABLE:IPINIP_V6_TUNNEL" : {
                        "tunnel_type":"IPINIP",
                        "dst_ip":"{{ lo_ipv6 }}",
                        "dscp_mode":"{{ dscp_mode }}",
                        "ecn_mode":"{{ ecn_mode }}",
                        "ttl_mode":"pipe"
                },
                "OP": "{{ op }}"
        }
{% endif %}
]
