{# routes to spines #}
{% if testbed_type == 't1-lag' %}
{% for pc_interface in minigraph_portchannel_interfaces %}{% for member in pc_interface['members']%}{{ minigraph_port_indices[member] }}{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %} {% endif %}{% endfor %}
{% elif testbed_type == 't1' %}
{% for iface in minigraph_interfaces %}{{ minigraph_port_indices[iface.name] }}{% if not loop.last %} {% endif %}{% endfor %}
{% endif %}

{% for podset in range(0, props.podset_number) %}
{% for tor in range(0, props.tor_number) %}
{% for subnet in range(0, props.tor_subnet_number) %}
192.168.{{ podset }}.{{ tor * 16 + subnet }}
20C0:A8{{ '%02X' % podset }}:0:{{ '%02X' % (tor * 16 + subnet)}}::
{% endfor %}
{% endfor %}
{% endfor %}
