enable
configure terminal
docker no start storm
docker exec args "/root/save_args.sh -p {{(1).__lshift__(pfc_queue_index)}} -t 65535 -n {{pfc_frames_number}} -i {{pfc_fanout_interface | replace("ernet 1/", "") | replace("/", "_")}} -r {{ansible_eth0_ipv4_addr}}"

ping -c 5 8.8.8.8
docker start pfc_storm latest storm now label storm privileged sdk network
ping -c 5 8.8.8.8
exit
exit
