{
    {% if pfc_generate_buffer_profile == 'True' %}
    "BUFFER_PROFILE": {
        "pg_lossy_TEST_profile": {
            "dynamic_th": "-8",
{% if sonic_qos_db_fv_reference_with_table == 'true' %}
            "pool": "[{{ buffer_pool_id }}]",
{% else %}
            "pool": "{{ buffer_pool_id }}",
{% endif %}
            {% if buffer_headroom.stdout != '0' %}
            "size": "{{ buffer_headroom.stdout }}"
            {% else %}
            "size": "15000"
            {% endif %}
        }
    },
    {% endif %}
    "BUFFER_PG": {
        "{{ dut_switch_ports[src_port_id|int] }}|0-1": {
{% if sonic_qos_db_fv_reference_with_table == 'true' %}
            {% if pfc_generate_buffer_profile == 'True' %}
            "profile": "[BUFFER_PROFILE|pg_lossy_TEST_profile]"
            {% else %}
            "profile": "[{{ buffer_profile }}]"
            {% endif %}
{% else %}
            {% if pfc_generate_buffer_profile == 'True' %}
            "profile": "pg_lossy_TEST_profile"
            {% else %}
            "profile": "{{ buffer_profile }}"
            {% endif %}
{% endif %}
        }
    }
}
