--- 

{% set vlan_id_list = [ 100, 200 ] %}
vlan_ports_list: 
{% for lag_number in range(2) %}
  - dev: '{{ minigraph_portchannels.keys()[lag_number|int] }}'
    port_index: '{{ minigraph_port_indices[minigraph_portchannels[minigraph_portchannels.keys()[lag_number|int]].members[0]] }}'
    pvid: '{{ vlan_id_list[(lag_number|int)%2] }}'
    permit_vlanid: 
{% for vlan in vlan_id_list %}
      '{{ vlan }}':
        peer_ip: '192.168.{{ vlan }}.{{ minigraph_port_indices[minigraph_portchannels[minigraph_portchannels.keys()[lag_number|int]].members[0]] }}'
        remote_ip: '{{vlan}}.1.1.{{ minigraph_port_indices[minigraph_portchannels[minigraph_portchannels.keys()[lag_number|int]].members[0]] }}'
{% endfor %}
{% endfor %}
{% for port_number in range(2) %}
  - dev: '{{ minigraph_ports.keys()[port_number|int]}}'
    port_index: '{{ minigraph_port_indices[minigraph_ports.keys()[port_number|int]]}}'
    pvid: '{{ ((port_number|int)%2+1)*100}}'
    permit_vlanid:
{% for vlan in ['100', '200'] %}
      '{{ vlan }}':
        peer_ip: '192.168.{{ vlan }}.{{ minigraph_port_indices[minigraph_ports.keys()[port_number|int]] }}'
        remote_ip: '{{vlan}}.1.1.{{ minigraph_port_indices[minigraph_ports.keys()[port_number|int]] }}'
{% endfor %}
{% endfor %}

vlan_intf_list:
{% for vlan in vlan_id_list %}
  - vlan_id: '{{ (vlan|int) }}'
    ip: '192.168.{{ vlan }}.1/24'
{% endfor %}

...
