[
{% for vnet in vnet_id_list %}
{% for routes in vnet_route_list %}
{% set route_list = vnet + '_route_list' %}
{% if routes.keys()[0] == route_list %}
{% for key,entries in routes.items() %}
{% for route in entries %}
    {
        "VNET_ROUTE_TUNNEL_TABLE:{{ vnet }}:{{ route.pfx }}" : {
{% if route.vni is defined %}
            "vni": "{{ route.vni }}",
{% endif %}
{% if route.mac is defined %}
            "mac_address": "{{ route.mac }}",
{% endif %}
            "endpoint": "{{ route.end }}"
        },
        "OP": "{{ op }}"
    },
{% for peers in vnet_peer_list %}
{% for key,peer in peers.items() %}
{% if key == vnet %}
    {
        "VNET_ROUTE_TUNNEL_TABLE:{{ peer }}:{{ route.pfx }}" : {
{% if route.vni is defined %}
            "vni": "{{ route.vni }}",
{% endif %}
{% if route.mac is defined %}
            "mac_address": "{{ route.mac }}",
{% endif %}
            "endpoint": "{{ route.end }}"
        },
        "OP": "{{ op }}"
    },
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}

{% for vnet in vnet_id_list %}
{% for routes in vnet_local_routes %}
{% set route_list = vnet + '_route_list' %}
{% if routes.keys()[0] == route_list %}
{% for key,entries in routes.items() %}
{% for route in entries %}
    {
        "VNET_ROUTE_TABLE:{{ vnet }}:{{ route.pfx }}" : {
            "nexthop": "{{ route.nh }}",
            "ifname": "{{ route.ifname }}"
        },
        "OP": "{{ op }}"
    },
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}

{% for intf in intf_list %}
{% set outloop = loop %}
{% for vnet_intf in vnet_intf_list %}
{% if vnet_intf.ifname == intf.ifname %}
    {
       "VNET_ROUTE_TABLE:{{ vnet_intf.vnet }}:10.10.10.0/24": {
           "ifname": "{{ intf.ifname  }}"
       },
       "OP": "{{ op }}"
    },
{% endif %}
{% endfor %}
{% endfor %}
{% for vlan_intf in vlan_intf_list %}
{% set outloop = loop %}
{% for vnet_intf in vnet_intf_list %}
{% if vnet_intf.ifname == vlan_intf.ifname %}
{% set vlan_intf_ip =  vlan_intf.ip[:-5] %}
{% for peers in vnet_peer_list %}
{% for key,peer in peers.items() %}
{% if key == vnet_intf.vnet %}
    {
       "VNET_ROUTE_TABLE:{{ peer }}:{{ vlan_intf_ip }}.0/24": {
           "ifname": "Vlan{{ vlan_intf.vlan_id  }}"
       },
       "OP": "{{ op }}"
    },
{% endif %}
{% endfor %}
{% endfor %}
    {
       "VNET_ROUTE_TABLE:{{ vnet_intf.vnet }}:{{ vlan_intf_ip }}.0/24": {
           "ifname": "Vlan{{ vlan_intf.vlan_id  }}"
       },
       "OP": "{{ op }}"
    }{{ "," if not outloop.last else "" }}
{% endif %}
{% endfor %}
{% endfor %}
]
