{
    "VXLAN_TUNNEL": {
        "tunnel{{ item }}": {
            "src_ip": "{{ minigraph_lo_interfaces[0]['addr'] }}",
            "dst_ip": "8.8.{{ item | replace("Vlan", "") | int // 256 }}.{{ item | replace("Vlan", "") | int % 254 + 1 }}"
        }
    },
    "VXLAN_TUNNEL_MAP": {
        "tunnel{{ item }}|map1": {
            "vni": "{{ item | replace("Vlan", "") | int + 336 }}",
            "vlan": "{{ item }}"
        }
    }
}

