{
    "minigraph_port_indices": {{ minigraph_port_indices | to_nice_json }},
    "minigraph_portchannel_interfaces": {{ minigraph_portchannel_interfaces | to_nice_json }},
    "minigraph_portchannels": {{ minigraph_portchannels | to_nice_json }},
    "minigraph_lo_interfaces": {{ minigraph_lo_interfaces | to_nice_json }},
    "minigraph_vlans": {{ minigraph_vlans | to_nice_json }},
    "minigraph_vlan_interfaces": {{ minigraph_vlan_interfaces | to_nice_json }},
    "dut_mac": {{ ansible_Ethernet0['macaddress'] | to_nice_json }}
}
