---
- name: nut-testbed-1
  comment: "Example testbed for NUT with multi-tier topology"
  inv_name: lab
  topo: nut-2tiers
  test_tags: []
  duts:
    - switch-t0-01
    - switch-t0-02
    - switch-t1-01
    - switch-t1-02
  tgs:
    - tgen-1
    - tgen-2
  tg_api_server: 10.2.0.1:443
  auto_recover: 'True'

- name: nut-sn5640-stress-1
  comment: "SN5640 Stress Testbed"
  inv_name: ixia
  topo: nut-2tiers-fairwater
  test_tags: [ snappi-capacity ]
  duts:
    - str-sn5640-stress-t0-1
    - str-sn5640-stress-t0-2
    - str-sn5640-stress-t0-3
    - str-sn5640-stress-t0-4
    - str-sn5640-stress-t1-1
    - str-sn5640-stress-t1-2
  tgs:
    - msr-ixia-aresone-800ge-1
    - msr-ixia-aresone-800ge-2
    - msr-ixia-aresone-800ge-3
    - msr-ixia-aresone-800ge-4
  tg_api_server: 10.64.246.191:443
  l1s:
    - str-ocs-dlx64-acs-10
    - str-ocs-dlx64-acs-11
  auto_recover: 'True'

- name: nut-sn5640-snake-1
  comment: "SN5640 Snake Testbed"
  inv_name: ixia
  topo: nut-single-dut
  test_tags: [ ]
  duts:
    - str-sn5640-snake-1
  tgs:
    - msr-ixia-aresone-800ge-7
  tg_api_server: 10.64.246.192:443
  l1s:
    - str-ocs-dlx64-acs-02
    - str-ocs-dlx64-acs-03
    - str-ocs-dlx64-acs-04
    - str-ocs-dlx64-acs-05
  auto_recover: 'True'

- name: nut-7060x6-512-snake-1
  comment: "7060x6-512 Snake Testbed"
  inv_name: ixia
  topo: nut-single-dut
  test_tags: [ ]
  duts:
    - str-7060x6-512-snake-1
  tgs:
    - msr-ixia-aresone-800ge-7
  tg_api_server: 10.64.246.193:443
  l1s:
    - str-ocs-dlx64-acs-02
    - str-ocs-dlx64-acs-03
    - str-ocs-dlx64-acs-04
    - str-ocs-dlx64-acs-05
  auto_recover: 'True'
