# This Playbook remove a topology from a server
#
# For additional details see playbook testbed_add_vm_topology.yml
#
# To remove a topology please use following command
# ANSIBLE_SCP_IF_SSH=y ansible-playbook -i veos testbed_remove_vm_topology.yml --vault-password-file=~/.password -l server_3 -e vm_set_name=first -e -e duts_name=str-msn2700-01 -e VM_base=VM0300 -e ptf_ip=10.255.0.255/23 -e topo=t0 -e ptf_imagename="docker_ptf"
#
# Parameters
# -l server_3                - this playbook have to be limited to run only on one server
# -e vm_set_name=first       - the name of vm_set
# -e duts_name=str-msn2700-01 - the name of target dut
# -e VM_base=VM0300          - the VM name which is used to as base to calculate VM name for this set
# -e ptf_ip=10.255.0.255/23 - the ip address and prefix of ptf container mgmt interface
# -e topo=t0                 - the name of removed topo
# -e ptf_imagename=docker-ptf - name of a docker-image which will be used for the ptf docker container

- hosts: servers:&vm_host
  gather_facts: no
  vars_files:
    - vars/docker_registry.yml
  pre_tasks:
  - name: Check for a single host
    fail: msg="Please use -l server_X to limit this playbook to one host"
    when: "{{ play_hosts|length }} != 1"

  - name: Check that variable vm_set_name is defined
    fail: msg="Define vm_set_name variable with -e vm_set_name=something"
    when: vm_set_name is not defined

  - name: Check that variable duts_name is defined
    fail: msg="Define duts_name variable with -e duts_name=something"
    when: duts_name is not defined

  - name: Check that variable VM_base is defined
    fail: msg="Define VM_base variable with -e VM_base=something"
    when: VM_base is not defined

  - name: Check that variable ptf_ip is defined
    fail: msg="Define ptf ip variable with -e ptf_ip=something"
    when: ptf_ip is not defined

  - name: Check that variable topo is defined
    fail: msg="Define topo variable with -e topo=something"
    when: topo is not defined

  - set_fact:
      base_topo: "{{ topo.split('_') | first }}"

  - name: Check that variable topo is defined
    fail: msg="Define topo variable with -e topo=something"
    when: base_topo not in topologies

  - name: Check that variable ptf_imagename is defined
    fail: msg="Define ptf_imagename variable with -e ptf_imagename=something"
    when: ptf_imagename is not defined

  - name: Load topo variables
    include_vars: "vars/topo_{{ topo }}.yml"

  - name: Read dut minigraph
    conn_graph_facts:
      host: "{{ duts_name }}"
    delegate_to: localhost
    when: duts_name.split(',')|length == 1

  - name: Read duts minigraph
    conn_graph_facts:
      hosts: "{{ duts_name.split(',') }}"
    delegate_to: localhost
    when: duts_name.split(',')|length > 1

  roles:
    - { role: vm_set, action: 'remove_topo' }
    - { role: vm_set, action: 'stop_sid' }
    - { role: vm_set, action: 'stop_sonic_vm' }

