[Unit]
Description=Agent Manager
After=docker.service

[Service]
ExecStart=/usr/bin/python3 /usr/bin/agentmanager.py
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
