[Unit]
Description=Agent Manager
After=docker.service

[Service]
ExecStart=/usr/bin/python /usr/bin/agent-manager.py
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target