
name: SyncConnGraph_$(Build.DefinitionName)_$(SourceBranchName)_$(Build.BuildId)_$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
    - internal
  paths:
    include:
    - '../../ansible/group_vars/*'
    - '../../ansible/host_vars/*'
    - '../../ansible/vars/topo_*'
    - '../../ansible/files/*'
    - '../../ansible/str'
    - '../../ansible/str2'
    - '../../ansible/str3'
    - '../../ansible/strsvc'
    - '../../ansible/strsvc2'
    - '../../ansible/bjw'
    - '../../ansible/bjw2'
    - '../../ansible/ixia'
    - '../../ansible/strtk5'
    - '../../ansible/testbed.yaml'
    - '../../ansible/veos'
    - '../../ansible/wan_sonic_tb'
    - '../../ansible/wan_vtestbed.yaml'
    exclude:
    - '../../ansible/files/port_config/*'
    - '../../ansible/files/juniper_config.j2'
    - '../../ansible/files/check_testbed_and_inventory_file.py'

pr: none


parameters:
  - name: AGENT_POOL
    type: string
    default: sonic-ubuntu-1c
    displayName: "Agent pool"


stages:
  - stage: SyncConnectionGraph
    jobs:
      - job: SyncConnectionGraph
        pool: ${{ parameters.AGENT_POOL }}
        timeoutInMinutes: 30
        variables:
          - group: sonicbld
          - name: skipComponentGovernanceDetection
            value: true

        steps:

          - task: Bash@3
            displayName: Sync Connection Graph
            inputs:
              targetType: 'inline'
              script: |
                set -x

                cd .azure-pipelines/repo_mgmt
                pip3 install -r requirements.txt

                python3 sync_conn_graph.py
            env:
              MSSONIC_PUBLIC_TOKEN: $(MSSONIC-TOKEN)
