build_version: {{ sonic_baseimage_version }}
sonic_version: {{ sonic_version }}
build_hwsku: {{ sonic_hwsku }} 
debian_version: {{ ansible_distribution }} {{ ansible_distribution_release }} {{ ansible_distribution_version }} 
kernel_version: {{ ansible_kernel }}

