SONiC Software Version: {{ sonic_baseimage_version}}.SONiC{{ sonic_version }} - HwSku: {{ sonic_hwsku }} - Distribution: {{ ansible_distribution }} {{ ansible_distribution_release }} {{ ansible_distribution_version }} - Kernel: {{ ansible_kernel }}
