{
    "STATIC_ROUTE": {
        "default|0.0.0.0/0": {
            "blackhole": "false",
            "distance": "0",
            "ifname": "",
            "nexthop": "{{ device_info[inventory_hostname]['ManagementGw'] }}",
            "nexthop-vrf": ""
        }
    },
    "VLAN": {
        "Vlan1000": {
            "vlanid": "1000"
        }
    },
    "VLAN_INTERFACE": {
        "Vlan1000": {},
        "Vlan1000|{{ device_info[inventory_hostname]['ManagementIp'] }}": {}
    },
    "VLAN_MEMBER": {
        "Vlan1000|Ethernet0": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet1": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet2": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet3": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet4": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet5": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet6": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet7": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet8": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet9": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet10": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet11": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet12": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet13": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet14": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet15": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet16": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet17": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet18": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet19": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet20": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet21": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet22": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet23": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet24": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet25": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet26": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet27": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet28": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet29": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet30": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet31": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet32": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet33": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet34": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet35": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet36": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet37": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet38": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet39": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet40": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet41": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet42": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet43": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet44": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet45": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet46": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet47": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet48": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet49": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet50": {
            "tagging_mode": "untagged"
        },
        "Vlan1000|Ethernet51": {
            "tagging_mode": "untagged"
        }
    }
}
