<DeviceMiniGraph xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="Microsoft.Search.Autopilot.Evolution">
  <CpgDec>
    <IsisRouters xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution"/>
    <PeeringSessions>
{% for index in range(16) %}
      <BGPSession>
        <StartRouter>ARISTA{{ '%02d' % (index + 1) }}T0</StartRouter>
        <StartPeer>10.0.0.{{ (32 + index * 2 + 1) }}</StartPeer>
        <EndRouter>{{ inventory_hostname }}</EndRouter>
        <EndPeer>10.0.0.{{ (32 + index * 2) }}</EndPeer>
        <Multihop>1</Multihop>
        <HoldTime>10</HoldTime>
        <KeepAliveTime>3</KeepAliveTime>
      </BGPSession>
      <BGPSession>
        <StartRouter>ARISTA{{ '%02d' % (index + 1) }}T0</StartRouter>
        <StartPeer>FC00::{{ ('%0x' % (65+index*4+1)) | upper }}</StartPeer>
        <EndRouter>{{ inventory_hostname }}</EndRouter>
        <EndPeer>FC00::{{ ('%0x' % (65+index*4)) | upper}}</EndPeer>
        <Multihop>1</Multihop>
        <HoldTime>10</HoldTime>
        <KeepAliveTime>3</KeepAliveTime>
      </BGPSession>
{% if (index%2)==0 %}
      <BGPSession>
        <StartRouter>{{ inventory_hostname }}</StartRouter>
        <StartPeer>10.0.0.{{ (index*2) }}</StartPeer>
        <EndRouter>ARISTA{{ '%02d' % (index+1) }}T2</EndRouter>
        <EndPeer>10.0.0.{{ (index*2+1) }}</EndPeer>
        <Multihop>1</Multihop>
        <HoldTime>10</HoldTime>
        <KeepAliveTime>3</KeepAliveTime>
      </BGPSession>
      <BGPSession>
        <StartRouter>{{ inventory_hostname }}</StartRouter>
        <StartPeer>FC00::{{ ('%0x' % (index*4 +1)) | upper }}</StartPeer>
        <EndRouter>ARISTA{{ '%02d' % (index+1) }}T2</EndRouter>
        <EndPeer>FC00::{{ ('%0x' % (index*4+2)) | upper }}</EndPeer>
        <Multihop>1</Multihop>
        <HoldTime>10</HoldTime>
        <KeepAliveTime>3</KeepAliveTime>
      </BGPSession>
{% endif %}
{% endfor %}
    </PeeringSessions>
    <Routers xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
      <a:BGPRouterDeclaration>
        <a:ASN>65100</a:ASN>
        <a:Hostname>{{ inventory_hostname }}</a:Hostname>
        <a:Peers>
{% for ip in range(16) %}
          <BGPPeer>
            <Address>10.0.0.{{ ip*2+33 }}</Address>
            <RouteMapIn i:nil="true"/>
            <RouteMapOut i:nil="true"/>
          </BGPPeer>
{% if (ip%2)==0 %}
          <BGPPeer>
            <Address>10.0.0.{{ ip*2+1 }}</Address>
            <RouteMapIn i:nil="true"/>
            <RouteMapOut i:nil="true"/>
          </BGPPeer>
{% endif %}
{% endfor %}
        </a:Peers>
        <a:RouteMaps/>
      </a:BGPRouterDeclaration>
{% for i in range(1,17,1) %}
      <a:BGPRouterDeclaration>
        <a:ASN>640{{ '%02d' % i }}</a:ASN>
        <a:Hostname>ARISTA{{ '%02d' % i }}T0</a:Hostname>
        <a:RouteMaps/>
      </a:BGPRouterDeclaration>
{% if (i%2)==1 %}
      <a:BGPRouterDeclaration>
        <a:ASN>65200</a:ASN>
        <a:Hostname>ARISTA{{ '%02d' % i }}T2</a:Hostname>
        <a:RouteMaps/>
      </a:BGPRouterDeclaration>
{% endif %}
{% endfor %}
    </Routers>
  </CpgDec>
  <DpgDec>
    <DeviceDataPlaneInfo>
      <IPSecTunnels/>
      <LoopbackIPInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
        <a:LoopbackIPInterface>
          <Name>HostIP</Name>
          <AttachTo>Loopback0</AttachTo>
          <a:Prefix xmlns:b="Microsoft.Search.Autopilot.Evolution">
            <b:IPPrefix>10.1.0.32/32</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>10.1.0.32/32</a:PrefixStr>
        </a:LoopbackIPInterface>
        <a:LoopbackIPInterface>
          <Name>HostIP1</Name>
          <AttachTo>Loopback0</AttachTo>
          <a:Prefix xmlns:b="Microsoft.Search.Autopilot.Evolution">
            <b:IPPrefix>FC00:1::32/128</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>FC00:1::32/128</a:PrefixStr>
        </a:LoopbackIPInterface>
      </LoopbackIPInterfaces>
      <ManagementIPInterfaces xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution">
        <a:ManagementIPInterface>
          <Name>HostIP</Name>
          <AttachTo>eth0</AttachTo>
          <a:Prefix xmlns:b="Microsoft.Search.Autopilot.Evolution">
            <b:IPPrefix>{{ ansible_host }}/{{ mgmt_subnet_mask_length }}</b:IPPrefix>
          </a:Prefix>
          <a:PrefixStr>{{ ansible_host }}/{{ mgmt_subnet_mask_length }}</a:PrefixStr>
        </a:ManagementIPInterface>
      </ManagementIPInterfaces>
      <MplsInterfaces/>
      <MplsTeInterfaces/>
      <RsvpInterfaces/>
      <Hostname>{{ inventory_hostname }}</Hostname>
      <PortChannelInterfaces>
{% for index in range(8) %}
        <PortChannel>
          <ElementType>PortChannelInterface</ElementType>
          <Name>PortChannel{{ index*8 }}</Name>
          <AttachTo>{{ port_alias[index*2] }};{{ port_alias[index*2+1] }}</AttachTo>
           <SubInterface/> 
         </PortChannel>
{% endfor %}
      </PortChannelInterfaces>
      <VlanInterfaces/>
      <IPInterfaces>
{% for index in range(8) %}
        <IPInterface>
          <ElementType>IPInterface</ElementType>
          <Name i:Name="true"/>
          <AttachTo>PortChannel{{ index*8 }}</AttachTo>
          <Prefix>10.0.0.{{ index*4 }}/31</Prefix>
        </IPInterface>
        <IPInterface>
          <ElementType>IPInterface</ElementType>
          <Name i:Name="true"/>
          <AttachTo>PortChannel{{ index*8 }}</AttachTo>
          <Prefix>FC00::{{ ('%0x' % (index*8+1)) | upper }}/126</Prefix>
        </IPInterface>
{% endfor %}
{% for index in range(16) %}
        <IPInterface>
          <ElementType>IPInterface</ElementType>
          <Name i:Name="true"/>
          <AttachTo>{{ port_alias[16+index] }}</AttachTo>
          <Prefix>10.0.0.{{ 32+index*2 }}/31</Prefix>
        </IPInterface>
        <IPInterface>
          <ElementType>IPInterface</ElementType>
          <Name i:Name="true"/>
          <AttachTo>{{ port_alias[16+index] }}</AttachTo>
          <Prefix>FC00::{{ ('%0x' % (64+index*4 +1)) | upper }}/126</Prefix>
        </IPInterface>
{% endfor %}
      </IPInterfaces>
      <DataAcls/>
      <AclInterfaces/>
      <DownstreamSummaries/>
      <DownstreamSummarySet xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.Search.Autopilot.Evolution"/>
    </DeviceDataPlaneInfo>
  </DpgDec>
  <PngDec>
    <DeviceInterfaceLinks>
{% for index in range(0,16,2) %}
      <DeviceLinkBase>
        <ElementType>DeviceInterfaceLink</ElementType>
        <EndDevice>{{ inventory_hostname }}</EndDevice>
        <EndPort>{{ port_alias[index] }}</EndPort>
        <StartDevice>ARISTA{{ '%02d' % (index+1) }}T2</StartDevice>
        <StartPort>Ethernet1</StartPort>
      </DeviceLinkBase>
      <DeviceLinkBase>
        <ElementType>DeviceInterfaceLink</ElementType>
        <EndDevice>{{ inventory_hostname }}</EndDevice>
        <EndPort>{{ port_alias[index+1] }}</EndPort>
        <StartDevice>ARISTA{{ '%02d' % (index+1) }}T2</StartDevice>
        <StartPort>Ethernet2</StartPort>
      </DeviceLinkBase>
{% endfor %}
{% for index in range(16) %}
      <DeviceLinkBase>
        <ElementType>DeviceInterfaceLink</ElementType>
        <EndDevice>{{ inventory_hostname }}</EndDevice>
        <EndPort>{{ port_alias[16+index] }}</EndPort>
        <StartDevice>ARISTA{{ '%02d' % (index+1) }}T0</StartDevice>
        <StartPort>Ethernet1</StartPort>
      </DeviceLinkBase>
{% endfor %}
    </DeviceInterfaceLinks>
    <Devices>
      <Device i:type="LeafRouter">
        <Hostname>{{ inventory_hostname }}</Hostname>
        <HwSku>{{ hwsku }}</HwSku>
        <ManagementAddress xmlns:a="Microsoft.Search.Autopilot.NetMux">
          <a:IPPrefix>{{ ansible_host }}</a:IPPrefix>
        </ManagementAddress>
      </Device>
{% if  VM_topo  %}
{% for dev in neighbor_eosvm_mgmt.keys()|sort %}
{% if 'T1' in dev %}
{% set dev_type = 'LeafRouter' %}
{% elif 'T2' in dev %}
{% set dev_type = 'SpineRouter' %}
{% elif 'T0' in dev %}
{% set dev_type = 'ToRRouter' %}
{% else %}
{% set dev_type = 'Unknown' %}
{% endif %}
      <Device i:type="{{ dev_type }}">
         <Hostname>"{{ dev }}"</Hostname>
         <HwSku>Arista-VM</HwSku>
         <ManagementAddress xmlns:a="Microsoft.Search.Autopilot.NetMux">
           <a:IPPrefix>{{ neighbor_eosvm_mgmt[dev] }}</a:IPPrefix>
         </ManagementAddress>
       </Device>
{% endfor %}
{% endif %}
    </Devices>
  </PngDec>
{% include 'dev_metadata.j2' %}
  <Hostname>{{ inventory_hostname }}</Hostname>
  <HwSku>{{ hwsku }}</HwSku>
</DeviceMiniGraph>
