[
    {
        "op": "add",
        "path": "/ACL_RULE",
        "value": {
            "DYNAMIC_ACL_TABLE|RULE_3": {
                "PRIORITY": "898",
                "PACKET_ACTION": "DROP",
                "IN_PORTS": "{{ blocked_port_1 }}"
            },
            "DYNAMIC_ACL_TABLE|RULE_4": {
                "PRIORITY": "897",
                "PACKET_ACTION": "DROP",
                "IN_PORTS": "{{ blocked_port_2 }}"
            },
            "DYNAMIC_ACL_TABLE|RULE_5": {
                "PRIORITY": "896",
                "PACKET_ACTION": "DROP",
                "IN_PORTS": "{{ blocked_port_3 }}"
            }
        }
    }
]
