[
    {
        "LABEL_ROUTE_TABLE:1000001": {
        },
        "OP": "DEL"
    },
    {
        "LABEL_ROUTE_TABLE:1000003": {
        },
        "OP": "DEL"
    },
    {
        "ROUTE_TABLE:192.168.0.1": {
        },
        "OP": "DEL"
    }
]
