{
    "ACL_RULE": {
        "STRESS_ACL| RULE_1": {
            "SRC_IP": "20.0.0.1/32",
            "PACKET_ACTION": "DROP",
            "PRIORITY": "1"
        },
        "STRESS_ACL| RULE_2": {
            "SRC_IP": "20.0.0.2/32",
            "PACKET_ACTION": "DROP",
            "PRIORITY": "2"
        },
        "STRESS_ACL| RULE_3": {
            "SRC_IP": "20.0.0.3/32",
            "PACKET_ACTION": "DROP",
            "PRIORITY": "3"
        },
        "STRESS_ACL| RULE_4": {
            "SRC_IP": "20.0.0.4/32",
            "PACKET_ACTION": "DROP",
            "PRIORITY": "4"
        },
        "STRESS_ACL| RULE_5": {
            "SRC_IP": "20.0.0.5/32",
            "PACKET_ACTION": "DROP",
            "PRIORITY": "5"
        },
        "STRESS_ACL| RULE_6": {
            "SRC_IP": "20.0.0.6/32",
            "PACKET_ACTION": "DROP",
            "PRIORITY": "6"
        },
        "STRESS_ACL| RULE_7": {
            "SRC_IP": "20.0.0.7/32",
            "PACKET_ACTION": "DROP",
            "PRIORITY": "7"
        },
        "STRESS_ACL| RULE_8": {
            "SRC_IP": "20.0.0.8/32",
            "PACKET_ACTION": "DROP",
            "PRIORITY": "8"
        },
        "STRESS_ACL| RULE_9": {
            "SRC_IP": "20.0.0.9/32",
            "PACKET_ACTION": "DROP",
            "PRIORITY": "9"
        },
        "STRESS_ACL| RULE_10": {
            "SRC_IP": "20.0.0.10/32",
            "PACKET_ACTION": "DROP",
            "PRIORITY": "10"
        }
    }
}
