{
    "ACL_RULE": {
        "{{ table_name }}|rule_1": {
            "priority": "1005",
            "VNI": "{{ vni }}",
            "INNER_SRC_IP": "{{ inner_src_ip }}",
            "PACKET_ACTION": "{{ action }}",
            "INNER_SRC_MAC": "{{ new_src_mac }}"
        }
    }
}
