{
    "ACL_RULE": {
        "{{ table_name }}|rule_1": {
            "priority": "1005",
            "TUNNEL_VNI": "{{ vni }}",
            "INNER_SRC_IP": "{{ inner_src_ip }}",
            "INNER_MAC_REWRITE_ACTION": "{{ new_src_mac }}"
        }
    },
    "ACL_RULE":
        "{{ table_name }}|rule_1|COUNTER": {
            "name": "rule_1"
        }
    }
}
