[
    {
        "op": "add",
        "path": "/ACL_TABLE/STRESS_ACL_TABLE",
        "value": {
            "policy_desc": "STRESS_ACL_TABLE",
            "type": "STRESS_ACL_TABLE_TYPE",
            "stage": "INGRESS",
            "ports": {{ bind_ports }}
        }
    }
]
