[
        {
                "DASH_ENI_TABLE:{{ eni }}" : {
                        "eni_id":"497f23d7-f0ac-4c99-a98f-59b470e8c7bd",
                        "mac_address":"{{ local_eni_mac }}",
                        "underlay_ip":"{{ local_pa_ip }}",
                        "admin_state":"{{ eni_admin_state }}",
                        "vnet":"{{ vnet1_name }}",
                        "qos":"qos100"
                },
                "OP": "SET"
        }
]
