[
    {
        "DASH_ACL_IN_TABLE:{{ eni }}:1": {
            "acl_group_id": "group1"
        },
        "OP": "{{ op }}"
    },
    {
        "DASH_ACL_OUT_TABLE:{{ eni }}:1": {
            "acl_group_id": "group1"
        },
        "OP": "{{ op }}"
    }
]
