[
        {
                "DASH_APPLIANCE_TABLE:123" : {
                        "sip":"{{ loopback_ip }}",
                        "vm_vni":"{{ vm_vni }}",
                        "local_region_id":"{{ local_region_id }}",
			"trusted_vnis": "100"
                },
                "OP": "{{ op }}"
        }
]
