[
    {
        "DASH_ACL_GROUP_TABLE:{{ acl_group }}": {
            "ip_version": "{{ip_version}}",
            "guid": "a55b99cc-b5b4-4699-a6b2-35fe7c272132"
        },
        "OP": "{{op}}"
    }
]
