[
        {
                "DASH_APPLIANCE_TABLE:123" : {
                        "sip":"{{ loopback_ip }}",
                        "vm_vni":"{{ vm_vni }}"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTING_TYPE_TABLE:vnet_encap" : {
                        "name": "action1",
                        "action_type": "staticencap",
                        "encap_type": "vxlan"
                },
                "OP": "{{ op }}"
        },
{%- if routing_action_type is defined -%}
        {
                "DASH_ROUTING_TYPE_TABLE:{{ routing_type }}" : {
                        "name": "action1",
                        "action_type": "{{ routing_action_type }}"
                },
                "OP": "{{ op }}"
        },
{%- endif %}
{%- if vnet1_name is defined %}
        {
                "DASH_VNET_TABLE:{{ vnet1_name }}" : {
                        "vni":"{{ vnet1_vni }}",
                        "guid":"559c6ce8-26ab-4193-b946-ccc6e8f930b2"
                },
                "OP": "{{ op }}"
        },
{%- endif %}
{%- if vnet2_name is defined %}
        {
                "DASH_VNET_TABLE:{{ vnet2_name }}" : {
                        "vni":"{{ vnet2_vni }}",
                        "guid":"659c6ce8-26ab-4193-b946-ccc6e8f930b2"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_VNET_MAPPING_TABLE:{{ vnet2_name }}:{{ lookup_overlay_ip if lookup_overlay_ip is defined else remote_ca_ip }}" : {
                        "routing_type":"vnet_encap",
                        "underlay_ip":"{{ remote_pa_ip }}",
                        "mac_address":"{{ remote_eni_mac }}",
                        "use_dst_vni":"true"
                },
                "OP": "{{ op }}"
        },
{%- endif %}
        {
                "DASH_ROUTE_GROUP_TABLE:{{ outbound_routing_group }}" : {
                        "disabled":"false"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_QOS_TABLE:qos100" : {
                        "qos_id":"100",
                        "bw":"10000",
                        "cps":"1000",
                        "flows":"10"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ENI_TABLE:{{ eni }}" : {
                        "eni_id":"497f23d7-f0ac-4c99-a98f-59b470e8c7bd",
                        "group_id":"{{ outbound_routing_group }}",
                        "mac_address":"{{ local_eni_mac }}",
                        "underlay_ip":"{{ local_pa_ip }}",
                        "admin_state":"enabled",
                        "vnet":"{{ vnet1_name }}",
                        "qos":"qos100"
                },
                "OP": "{{ op }}"
        },
        {
                "DASH_ROUTE_TABLE:{{ outbound_routing_group }}:{{ remote_ca_prefix }}" : {
                        "action_type":"{{ routing_type }}"
{%- if lookup_overlay_ip is defined -%},
                        "overlay_ip": "{{ lookup_overlay_ip }}"
{%- endif %}
{%- if vnet2_name is defined -%},
                        "vnet":"{{ vnet2_name }}"
{%- endif %}
                },
                "OP": "{{ op }}"
        }
{%- if vnet2_name is defined -%},
        {
                "DASH_ROUTE_RULE_TABLE:{{ eni }}:{{ vnet2_vni }}:{{ remote_pa_ip }}" : {
                        "action_type":"decap",
			"priority":"1",
			"pa_validation":"true",
                        "vnet":"{{ vnet2_name }}"
                },
                "OP": "{{ op }}"
        }
{%- endif %}
]
