t0:
  # KVM do not support drop reason in testcase, and testcase would set drop reason in setup stage, can't do more test
  - drop_packets/test_configurable_drop_counters.py
  # Dualtor-io scripts only supported on dualtor
  - dualtor_io/test_grpc_server_failure.py
  - dualtor_io/test_heartbeat_failure.py
  - dualtor_io/test_link_drop.py
  - dualtor_io/test_link_failure.py
  - dualtor_io/test_normal_op.py
  - dualtor_io/test_tor_bgp_failure.py
  - dualtor_io/test_tor_failure.py
  # This script only supported on Broadcom and do not support master image
  - ecmp/test_ecmp_sai_value.py
  # This script only supported on Mellanox
  - restapi/test_restapi.py

t1:
  # KVM do not support drop reason in testcase, and testcase would set drop reason in setup stage, can't do more test
  - drop_packets/test_configurable_drop_counters.py
  # Dualtor scripts do not support on T1
  - dualtor/test_ipinip.py
  - dualtor/test_orchagent_active_tor_downstream.py
  - dualtor/test_orchagent_mac_move.py
  - dualtor/test_orchagent_slb.py
  - dualtor/test_orchagent_standby_tor_downstream.py
  - dualtor/test_standby_tor_upstream_mux_toggle.py
  - dualtor/test_switchover_failure.py
  - dualtor/test_tor_ecn.py
  - dualtor/test_tunnel_memory_leak.py
  # Dualtor-io scripts only supported on dualtor
  - dualtor_io/test_grpc_server_failure.py
  - dualtor_io/test_heartbeat_failure.py
  - dualtor_io/test_link_drop.py
  - dualtor_io/test_link_failure.py
  - dualtor_io/test_normal_op.py
  - dualtor_io/test_tor_bgp_failure.py
  - dualtor_io/test_tor_failure.py
  # This script only supported on Broadcom and do not support master image
  - ecmp/test_ecmp_sai_value.py
