steps:
- script: |
    username=$(id -un)
    sudo chown -R ${username}.${username} .
  displayName: 'Cleanup'

- script: |
    sudo apt-get -o DPkg::Lock::Timeout=180 update
    sudo apt-get -o DPkg::Lock::Timeout=180 install \
      ca-certificates \
      curl \
      gnupg \
      lsb-release -y
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor \
      -o /usr/share/keyrings/docker-archive-keyring.gpg
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] \
      https://download.docker.com/linux/ubuntu \
      $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
    sudo apt-get -o DPkg::Lock::Timeout=180 update
    sudo apt-get -o DPkg::Lock::Timeout=180 install docker-ce docker-ce-cli containerd.io -y
  displayName: 'Install Docker'

- checkout: self
  clean: true
  displayName: 'Checkout sonic-mgmt repo'

- script: |
    set -x

    docker pull sonicdev-microsoft.azurecr.io:443/docker-sonic-mgmt:latest
    docker rm -f sonic-mgmt-collect || true
    docker run --rm -dt --name sonic-mgmt-collect \
      -v $(System.DefaultWorkingDirectory):/var/src/sonic-mgmt \
      sonicdev-microsoft.azurecr.io:443/docker-sonic-mgmt:latest \
      /bin/bash
  displayName: 'Prepare sonic-mgmt docker container'

- script: |
    set -x

    if [ -n "${{ parameters.MGMT_BRANCH }}" ]; then
      git branch -D ${{ parameters.MGMT_BRANCH }} || true
      git checkout -b ${{ parameters.MGMT_BRANCH }} origin/${{ parameters.MGMT_BRANCH }}
    fi

    docker exec -t -w /var/src/sonic-mgmt/tests sonic-mgmt-collect \
      python3 -m pytest --inventory ../ansible/veos_vtb --host-pattern all \
      --testbed_file vtestbed.yaml --testbed vms-kvm-t0 \
      --ignore saitests --ignore ptftests --ignore acstests \
      --ignore scripts --ignore k8s --ignore sai_qualify --ignore common \
      --ignore-conditional-mark \
      --color=no --collect-only --continue-on-collection-errors
  displayName: 'Run pytest --collect-only'
