# Description:
# - This template manages the entire life cycle of the Elastictest test plan in test pipelines.
#
# Important!!!:
# - This template is referenced in multiple pipelines.
# - Any updates to this file must be tested on all dependent pipelines to ensure compatibility and prevent disruptions.

parameters:
  - name: TOPOLOGY
    type: string
    default: ""

  - name: POLL_INTERVAL
    type: number
    default: 10

  - name: POLL_TIMEOUT
    type: number
    default: 36000

  - name: MIN_WORKER
    type: string
    default: ""

  - name: MAX_WORKER
    type: string
    default: ""

  - name: LOCK_WAIT_TIMEOUT_SECONDS
    type: string
    default: "0"

  - name: NUM_ASIC
    default: 1

  - name: TEST_SET
    type: string
    default: ""

  - name: SETUP_CONTAINER_PARAMS
    type: string
    default: ""

  - name: SKIP_REMOVE_ADD_TOPO_FOR_NIGHTLY
    type: string
    default: "True"

  - name: ADD_TOPO_PARAMS
    type: string
    default: ""

  - name: DEPLOY_MG_EXTRA_PARAMS
    type: string
    default: ""

  - name: SKIP_RESTART_PTF
    type: boolean
    default: false

  - name: COMMON_EXTRA_PARAMS
    type: string
    default: ""

  - name: ASIC_TYPE
    type: string
    default: ""

  - name: VM_TYPE
    type: string
    default: "ceos"

  - name: TESTBED_NAME
    type: string
    default: ""

  - name: PTF_IMAGE_TAG
    type: string
    default: "latest"

  - name: PTF_MODIFIED
    type: boolean
    default: false

  - name: IMAGE_URL
    type: string
    default: ""

  - name: UPGRADE_IMAGE_PARAM
    type: string
    default: ""

  - name: HWSKU
    type: string
    default: ""

  - name: TEST_PLAN_TYPE
    type: string
    default: ""

  - name: PLATFORM
    type: string
    default: ""

  - name: SCRIPTS
    type: string
    default: ""

  - name: FEATURES
    type: string
    default: ""

  - name: SCRIPTS_EXCLUDE
    type: string
    default: ""

  - name: FEATURES_EXCLUDE
    type: string
    default: ""

  - name: SPECIFIC_PARAM
    type: string
    default: "[]"

  - name: AFFINITY
    type: string
    default: "[]"

  - name: BUILD_REASON
    type: string
    default: ""

  - name: REPO_NAME
    type: string
    default: ""

  - name: MGMT_BRANCH
    type: string
    default: ""

  - name: MGMT_COMMIT_HASH
    type: string
    default: ""

  - name: MGMT_URL
    type: string
    default: "https://raw.githubusercontent.com/sonic-net/sonic-mgmt"

  - name: STOP_ON_FAILURE
    type: string
    default: ""

  # Enable parallel run for test cases that support parallel run
  - name: ENABLE_PARALLEL_RUN
    type: string
    default: ""

  # Specify the file that contains the parallel mode for test cases that need to run in parallel when
  # ENABLE_PARALLEL_RUN is set to True. Default value is the test_parallel_modes/default.json file in this repo.
  # This field will be ignored if ENABLE_PARALLEL_RUN is set to False.
  - name: PARALLEL_MODES_FILE
    type: string
    default: ""

  # The number of retries when the script fails. Global retry if retry_cases_include and retry_cases_exclude are both empty, otherwise specific retry
  - name: RETRY_TIMES
    type: string
    default: ""

  # Retry cases to include, works when retry_times>0, support both feature and script level, such as "bgp,test_features.py"
  - name: RETRY_CASES_INCLUDE
    type: string
    default: ""

  # Retry cases to exclude, works when retry_times>0, support both feature and script level, such as "bgp,test_features.py"
  - name: RETRY_CASES_EXCLUDE
    type: string
    default: ""

  - name: REQUESTER
    type: string
    default: ""

  - name: MAX_RUN_TEST_MINUTES
    type: number
    default: 0

  - name: KVM_IMAGE_BRANCH
    type: string
    default: ""

  - name: KVM_IMAGE_BUILD_PIPELINE_ID
    type: string
    default: ""

  - name: EXPECTED_RESULT
    type: string
    default: ""

  - name: TEST_PLAN_NUM
    type: string
    default: ""

steps:
  - ${{ if not(contains(variables['BUILD.REPOSITORY.NAME'], 'sonic-mgmt')) }}:
      - script: |
          # If not sonic-mgmt/sonic-mgmt-int repo, need to download test_plan.py and pr_test_scripts.yaml
          set -ex
          curl "https://raw.githubusercontent.com/sonic-net/sonic-mgmt/master/.azure-pipelines/test_plan.py" -o ./.azure-pipelines/test_plan.py
        displayName: "Download Test Plan Script"
      - script: |
          # If not sonic-mgmt/sonic-mgmt-int repo, need to download pr_test_scripts.yaml
          set -ex

          # If public build image repo, download pr test scripts from public sonic-mgmt repo
          if [[ "$(BUILD.REPOSITORY.NAME)" = "sonic-net/sonic-buildimage" || "$(BUILD.REPOSITORY.NAME)" = "Azure/sonic-buildimage-msft" ]]; then
            curl "${{ parameters.MGMT_URL }}/${{ parameters.MGMT_BRANCH }}/.azure-pipelines/pr_test_scripts.yaml" -o ./.azure-pipelines/pr_test_scripts.yaml

          # Else, internal build image repo, download from internal sonic-mgmt repo
          else
            curl -u :$(MSSONIC-TOKEN) "${{ parameters.MGMT_URL }}&commitOrBranch=${{ parameters.MGMT_BRANCH }}&api-version=5.0-preview.1&path=.azure-pipelines%2Fpr_test_scripts.yaml" -o ./.azure-pipelines/pr_test_scripts.yaml
          fi
        displayName: "Download Pr Script"
  - ${{ else }}:
        - script: |
            # Else, sonic-mgmt repo, if not master branch, need to download test_plan.py
            set -ex
            CURRENT_BRANCH=${{ parameters.MGMT_BRANCH }}
            echo "Current branch: $CURRENT_BRANCH"
            if [[ "$CURRENT_BRANCH" != "master" ]]; then
              echo "Current mgmt branch is not master, need to download test_plan.py"
              curl "https://raw.githubusercontent.com/sonic-net/sonic-mgmt/master/.azure-pipelines/test_plan.py" -o ./.azure-pipelines/test_plan.py
            else
              echo "Current mgmt branch is master, no need to download test_plan.py"
            fi
          displayName: "Download Test Plan Script"

  - script: |
      # Check if azure cli is installed. If not, try to install it
      if ! command -v az; then
        echo "Azure CLI is not installed. Trying to install it..."

        echo "Get packages needed for the installation process"
        sudo apt-get -o DPkg::Lock::Timeout=600 update
        sudo apt-get -o DPkg::Lock::Timeout=600 -y install apt-transport-https ca-certificates curl gnupg lsb-release

        echo "Download and install the Microsoft signing key"
        sudo mkdir -p /etc/apt/keyrings
        curl -sLS https://packages.microsoft.com/keys/microsoft.asc |
          gpg --dearmor | sudo tee /etc/apt/keyrings/microsoft.gpg > /dev/null
        sudo chmod go+r /etc/apt/keyrings/microsoft.gpg

        echo "Add the Azure CLI software repository"
        AZ_DIST=$(lsb_release -cs)
        echo "Types: deb
      URIs: https://packages.microsoft.com/repos/azure-cli/
      Suites: ${AZ_DIST}
      Components: main
      Architectures: $(dpkg --print-architecture)
      Signed-by: /etc/apt/keyrings/microsoft.gpg" | sudo tee /etc/apt/sources.list.d/azure-cli.sources

        echo "Update repository information and install the azure-cli package"
        sudo apt-get -o DPkg::Lock::Timeout=600 update
        sudo apt-get -o DPkg::Lock::Timeout=600 -y install azure-cli
      else
        echo "Azure CLI is already installed"
      fi
    displayName: "Install Azure-CLI"

  - script: |
      set -e
      echo "Step: Trigger Test"


      pip install PyYAML

      rm -f new_test_plan_id.txt

      # Enable verbose debugging output for the creation call in test_plan.py
      set -x

      python ./.azure-pipelines/test_plan.py create \
      -t ${{ parameters.TOPOLOGY }} \
      -o new_test_plan_id.txt \
      --min-worker ${{ parameters.MIN_WORKER }} \
      --max-worker ${{ parameters.MAX_WORKER }} \
      --lock-wait-timeout-seconds ${{ parameters.LOCK_WAIT_TIMEOUT_SECONDS }} \
      --test-set ${{ parameters.TEST_SET }} \
      --kvm-build-id $(KVM_BUILD_ID) \
      --kvm-image-branch "${{ parameters.KVM_IMAGE_BRANCH }}" \
      --setup-container-params "${{ parameters.SETUP_CONTAINER_PARAMS }}" \
      --kvm-image-build-pipeline-id ${{ parameters.KVM_IMAGE_BUILD_PIPELINE_ID }} \
      --skip-remove-add-topo-for-nightly ${{ parameters.SKIP_REMOVE_ADD_TOPO_FOR_NIGHTLY }} \
      --add-topo-params "${{ parameters.ADD_TOPO_PARAMS }}" \
      --deploy-mg-extra-params="${{ parameters.DEPLOY_MG_EXTRA_PARAMS }}" \
      --skip-restart-ptf ${{ parameters.SKIP_RESTART_PTF }} \
      --common-extra-params="${{ parameters.COMMON_EXTRA_PARAMS }}" \
      --asic-type ${{ parameters.ASIC_TYPE }} \
      --vm-type ${{ parameters.VM_TYPE }} \
      --num-asic ${{ parameters.NUM_ASIC }} \
      --ptf_image_tag ${{ parameters.PTF_IMAGE_TAG }} \
      --ptf-modified ${{ parameters.PTF_MODIFIED }} \
      --image_url ${{ parameters.IMAGE_URL }} \
      --upgrade-image-param="${{ parameters.UPGRADE_IMAGE_PARAM }}" \
      --hwsku ${{ parameters.HWSKU }} \
      --test-plan-type ${{ parameters.TEST_PLAN_TYPE }} \
      --platform ${{ parameters.PLATFORM }} \
      --testbed-name "${{ parameters.TESTBED_NAME }}" \
      --scripts "${{ parameters.SCRIPTS }}" \
      --features "${{ parameters.FEATURES }}" \
      --scripts-exclude "${{ parameters.SCRIPTS_EXCLUDE }}" \
      --features-exclude "${{ parameters.FEATURES_EXCLUDE }}" \
      --specific-param='${{ parameters.SPECIFIC_PARAM }}' \
      --affinity='${{ parameters.AFFINITY }}' \
      --build-reason ${{ parameters.BUILD_REASON }} \
      --repo-name ${{ parameters.REPO_NAME }} \
      --mgmt-branch ${{ parameters.MGMT_BRANCH }} \
      --mgmt-commit-hash ${{ parameters.MGMT_COMMIT_HASH }} \
      --stop-on-failure ${{ parameters.STOP_ON_FAILURE }} \
      --enable-parallel-run ${{ parameters.ENABLE_PARALLEL_RUN }} \
      --parallel-modes-file ${{ parameters.PARALLEL_MODES_FILE }} \
      --retry-times ${{ parameters.RETRY_TIMES }} \
      --retry-cases-include ${{ parameters.RETRY_CASES_INCLUDE }} \
      --retry-cases-exclude ${{ parameters.RETRY_CASES_EXCLUDE }} \
      --requester "${{ parameters.REQUESTER }}" \
      --max-execute-seconds $((${{ parameters.MAX_RUN_TEST_MINUTES }} * 60)) \
      --test-plan-num ${{ parameters.TEST_PLAN_NUM }}

      # Disable verbose debugging output
      set +x

      TEST_PLAN_ID_LIST=( $(cat new_test_plan_id.txt) )
      echo "TEST_PLAN_ID_LIST: $TEST_PLAN_ID_LIST"

      for TEST_PLAN_ID in "${TEST_PLAN_ID_LIST[@]}"
      do
          echo "Created test plan $TEST_PLAN_ID"
          echo -e -n "\033[33mPlease visit Elastictest page \033[0m"
          echo -n "$(ELASTICTEST_FRONTEND_URL)/scheduler/testplan/$TEST_PLAN_ID "
          echo -e "\033[33mfor detailed test plan progress \033[0m"
      done
      TEST_PLAN_ID_LIST_STRING=$(printf "%s," "${TEST_PLAN_ID_LIST[@]}")
      TEST_PLAN_ID_LIST_STRING=${TEST_PLAN_ID_LIST_STRING%,}
      echo "TEST_PLAN_ID_LIST_STRING: $TEST_PLAN_ID_LIST_STRING"
      echo "##vso[task.setvariable variable=TEST_PLAN_ID_LIST_STRING]$TEST_PLAN_ID_LIST_STRING"

      echo -e "\033[33mSONiC PR system-level test is powered by SONiC Elastictest, for any issue, please send email to sonicelastictest@microsoft.com \033[0m"

    displayName: "Trigger Test"

  - script: |
      set -o
      echo "Step: Lock Testbed"

      IFS=',' read -ra TEST_PLAN_ID_LIST <<< "$TEST_PLAN_ID_LIST_STRING"
      failure_count=0

      echo "TEST_PLAN_ID_LIST: $TEST_PLAN_ID_LIST"

      for TEST_PLAN_ID in "${TEST_PLAN_ID_LIST[@]}"
      do
          echo -e -n "\033[33mPlease visit Elastictest page \033[0m"
          echo -n "$(ELASTICTEST_FRONTEND_URL)/scheduler/testplan/$TEST_PLAN_ID "
          echo -e "\033[33mfor detailed test plan progress \033[0m"
          # When "LOCK_TESTBED" finish, it changes into "PREPARE_TESTBED"
          echo "[test_plan.py] poll LOCK_TESTBED status"
          python ./.azure-pipelines/test_plan.py poll -i $TEST_PLAN_ID --expected-state LOCK_TESTBED
          RET=$?
          if [ $RET -ne 0 ]; then
              ((failure_count++))
              echo "Test plan $TEST_PLAN_ID failed in LOCK_TESTBED step, total failure count: $failure_count"
          fi
      done

      if [ "$failure_count" -eq ${#TEST_PLAN_ID_LIST[@]} ]; then
          echo "All testplan failed, cancel following steps"
          exit 3
      fi

      echo -e "\033[33mSONiC PR system-level test is powered by SONiC Elastictest, for any issue, please send email to sonicelastictest@microsoft.com \033[0m"

    displayName: "Lock Testbed"

  - script: |
      set -o
      echo "Step: Prepare Testbed"

      echo "Preparing the testbed(add-topo, deploy-mg) may take 15-30 minutes. Before the testbed is ready, the progress of the test plan keeps displayed as 0, please be patient"
      IFS=',' read -ra TEST_PLAN_ID_LIST <<< "$TEST_PLAN_ID_LIST_STRING"

      echo "TEST_PLAN_ID_LIST: $TEST_PLAN_ID_LIST"

      failure_count=0
      for TEST_PLAN_ID in "${TEST_PLAN_ID_LIST[@]}"
      do
          echo -e -n "\033[33mPlease visit Elastictest page \033[0m"
          echo -n "$(ELASTICTEST_FRONTEND_URL)/scheduler/testplan/$TEST_PLAN_ID "
          echo -e "\033[33mfor detailed test plan progress \033[0m"
          # When "PREPARE_TESTBED" finish, it changes into "EXECUTING"
          echo "[test_plan.py] poll PREPARE_TESTBED status"
          python ./.azure-pipelines/test_plan.py poll -i $TEST_PLAN_ID --expected-state PREPARE_TESTBED
          RET=$?
          if [ $RET -ne 0 ]; then
              ((failure_count++))
              echo "Test plan $TEST_PLAN_ID failed in PREPARE_TESTBED step, total failure count: $failure_count"
          fi
      done

      if [ "$failure_count" -eq "${#TEST_PLAN_ID_LIST[@]}" ]; then
          echo "All testplan failed, cancel following steps"
          exit 3
      fi

      echo -e "\033[33mSONiC PR system-level test is powered by SONiC Elastictest, for any issue, please send email to sonicelastictest@microsoft.com \033[0m"

    displayName: "Prepare Testbed"

  - script: |
      set -o
      echo "Step: Run Test"

      IFS=',' read -ra TEST_PLAN_ID_LIST <<< "$TEST_PLAN_ID_LIST_STRING"

      echo "TEST_PLAN_ID_LIST: $TEST_PLAN_ID_LIST"

      failure_count=0
      for TEST_PLAN_ID in "${TEST_PLAN_ID_LIST[@]}"
      do
          echo -e -n "\033[33mPlease visit Elastictest page \033[0m"
          echo -n "$(ELASTICTEST_FRONTEND_URL)/scheduler/testplan/$TEST_PLAN_ID "
          echo -e "\033[33mfor detailed test plan progress \033[0m"
          # When "EXECUTING" finish, it changes into "KVMDUMP", "FAILED", "CANCELLED" or "FINISHED"
          echo "[test_plan.py] poll EXECUTING status"
          python ./.azure-pipelines/test_plan.py poll -i $TEST_PLAN_ID --expected-state EXECUTING --expected-result ${{ parameters.EXPECTED_RESULT }}
          RET=$?
          if [ $RET -ne 0 ]; then
              ((failure_count++))
              echo "Test plan $TEST_PLAN_ID failed in Run_Test step, total failure count: $failure_count"
          fi
      done

      if [ "$failure_count" -eq "${#TEST_PLAN_ID_LIST[@]}" ]; then
          echo "All testplan failed, cancel following steps"
          exit 3
      fi

      echo -e "\033[33mSONiC PR system-level test is powered by SONiC Elastictest, for any issue, please send email to sonicelastictest@microsoft.com \033[0m"

    displayName: "Run test"
    timeoutInMinutes: ${{ parameters.MAX_RUN_TEST_MINUTES }}

  - script: |
      set -o
      echo "Try to cancel test plan $TEST_PLAN_ID, cancelling finished test plan has no effect."
      IFS=',' read -ra TEST_PLAN_ID_LIST <<< "$TEST_PLAN_ID_LIST_STRING"
      for TEST_PLAN_ID in "${TEST_PLAN_ID_LIST[@]}"
      do
          python ./.azure-pipelines/test_plan.py cancel -i $TEST_PLAN_ID
      done
    condition: always()
    displayName: "Finalize Running Test Plan"
