parameters:
  - name: AGENT_POOL
    type: string
    default: nightly
    values:
      - nightly
      - nightly2
      - nightly-svc
      - nightly-bjw
    displayName: "AGENT POOL"

  - name: TESTBED_NAME
    type: string
    default: ""
    displayName: "Testbed Name"

  - name: IMAGE_URL
    type: string
    default: ""
    displayName: "Image URL"

  - name: UPGRADE_IMAGE_PARAM
    type: string
    default: ""
    displayName: "Upgrade image parameter"

  - name: DEPLOY_MG_EXTRA_PARAMS
    type: string
    default: ""
    displayName: "Deploy minigraph parameter"

  - name: COMMON_EXTRA_PARAMS
    type: string
    default: ""
    displayName: "Common test param"

  - name: MGMT_BRANCH
    type: string
    default: ""

  # Custom run scripts, if both SCRIPTS and FEATURES are empty, all the test will be executed
  - name: SCRIPTS
    type: string
    default: ""
    displayName: "Scripts to be executed"

  - name: FEATURES
    type: string
    default: ""
    displayName: "Features to be executed"

  # Custom skip scripts
  - name: SCRIPTS_EXCLUDE
    type: string
    default: ""
    displayName: "Scripts to be excluded"


  - name: FEATURES_EXCLUDE
    type: string
    default: ""
    displayName: "Features to be excluded"

  # Test timeout
  - name: MAX_RUN_TEST_MINUTES
    type: number
    default: 1800

  - name: RETRY_TIMES
    type: string
    default: 0



steps:
  - template: ./run-test-elastictest-template.yml@sonic-mgmt
    parameters:
      TESTBED_NAME: ${{ parameters.TESTBED_NAME }}
      SCRIPTS: ${{ parameters.SCRIPTS }}
      FEATURES: ${{ parameters.FEATURES }}
      SCRIPTS_EXCLUDE: ${{ parameters.SCRIPTS_EXCLUDE }}
      FEATURES_EXCLUDE: "${{ parameters.FEATURES_EXCLUDE }}, ptftests, acstests, saitests, scripts, k8s, sai_qualify"
      COMMON_EXTRA_PARAMS: "${{ parameters.COMMON_EXTRA_PARAMS }} --deep_clean --sad_case_list=sad_bgp,sad_lag_member,sad_lag,sad_vlan_port,sad_inboot"
      MGMT_BRANCH: ${{ parameters.MGMT_BRANCH }}
      RETRY_TIMES: ${{ parameters.RETRY_TIMES }}
      MAX_RUN_TEST_MINUTES: ${{ parameters.MAX_RUN_TEST_MINUTES }}
      IMAGE_URL: ${{ parameters.IMAGE_URL }}
      UPGRADE_IMAGE_PARAM: ${{ parameters.UPGRADE_IMAGE_PARAM }}
      DEPLOY_MG_EXTRA_PARAMS: ${{ parameters.DEPLOY_MG_EXTRA_PARAMS }}
      REPO_NAME: "sonic-mgmt-int"
      STOP_ON_FAILURE: "False"
      TEST_PLAN_TYPE: "NIGHTLY"
      PLATFORM: "PHYSICAL"
      DUMP_KVM_IF_FAIL: "False"
      REQUESTER: "Nightly Test"
