[
  {% filter indent(width=2) %}
  {%- include 'templates/config_patch/l1/ocs_ports.json.j2' %}
  {%- include 'templates/config_patch/l1/ocs_xconnect.json.j2' %}
  {%- include 'templates/config_patch/common/mgmt_interface.json.j2' %}
  {%- include 'templates/config_patch/l1/device_metadata.json.j2' %}
  {%- endfilter %}

]
