<domain type='kvm' xmlns:qemu='http://libvirt.org/schemas/domain/qemu/1.0'>
  <name>{{ dut_name }}</name>
{% if hwsku  == 'msft_four_asic_vs' %}
  <memory unit='GB'>8</memory>
  <vcpu placement='static'>10</vcpu>
  <cpu mode='host-model'>
    <model fallback='forbid'/>
    <topology sockets='1' dies='1' cores='5' threads='2'/>
  </cpu>
{% elif hwsku == 'msft_multi_asic_vs' %}
  <memory unit='GB'>8</memory>
  <vcpu placement='static'>16</vcpu>
  <cpu mode='host-model'>
    <model fallback='forbid'/>
    <topology sockets='1' dies='1' cores='8' threads='2'/>
  </cpu>
{% elif hwsku == 'cisco-8101-p4-32x100-vs' %}
  <memory unit='GB'>8</memory>
  <currentMemory unit='GiB'>8</currentMemory>
  <vcpu placement='static'>6</vcpu>
  <cpu mode='host-model'>
    <model fallback='forbid'/>
    <topology sockets='1' dies='1' cores='3' threads='2'/>
  </cpu>
{% elif hwsku == 'Nokia-IXR7250E-36x400G' %}
  <memory unit='GB'>8</memory>
  <vcpu placement='static'>5</vcpu>
  <cpu mode='host-model'>
    <model fallback='forbid'/>
    <topology sockets='1' dies='1' cores='5' threads='1'/>
  </cpu>
{% elif hwsku == 'Nokia-IXR7250E-SUP-10' %}
  <memory unit='GB'>4</memory>
  <vcpu placement='static'>3</vcpu>
  <cpu mode='host-model'>
    <model fallback='forbid'/>
    <topology sockets='1' dies='1' cores='3' threads='1'/>
  </cpu>
{% elif asic_type == 'vpp' %}
  <memory unit='GiB'>8</memory>
  <currentMemory unit='GiB'>8</currentMemory>
  <vcpu placement='static'>6</vcpu>
  <cpu mode='host-model'>
    <model fallback='forbid'/>
    <topology sockets='1' dies='1' cores='6' threads='1'/>
  </cpu>
{% else %}
  <memory unit='GiB'>6</memory>
  <currentMemory unit='GiB'>6</currentMemory>
  <vcpu placement='static'>4</vcpu>
  <cpu mode='host-model'>
    <model fallback='forbid'/>
    <topology sockets='1' dies='1' cores='2' threads='2'/>
  </cpu>
{% endif %}
  <cpu mode='host-model' check='partial'/>
  <resource>
    <partition>/machine</partition>
  </resource>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <devices>
    <emulator>/usr/bin/qemu-system-x86_64</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache='writeback'/>
      <source file='{{ disk_image }}'/>
      <target bus='virtio' dev='vda'/>
    </disk>
    <serial type='tcp'>
      <source host='127.0.0.1' mode='bind' service='{{ serial_port }}'/>
      <target port='0'/>
      <protocol type='telnet'/>
    </serial>
    <interface type='ethernet'>
        <target dev='{{ dut_name }}-0' />
    {% if asic_type == 'vpp' %}
        <model type='virtio-net-pci' />
    {% else %}
        <model type='e1000' />
    {% endif %}
    </interface>
{% for i in range(port_alias|length) %}
    <interface type='ethernet' >
        <target dev='{{ dut_name }}-{{ i + 1 }}' />
    {% if asic_type == 'vpp' %}
        <model type='virtio-net-pci' />
    {% else %}
        <model type='e1000' />
    {% endif %}
        <mtu size='{{ fp_mtu_size }}' />
    </interface>
{% endfor %}
    <controller type='usb' index='0'/>
    <memballoon model='virtio'>
      <alias name='balloon0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x0'/>
    </memballoon>
    <watchdog model='i6300esb'/>
  </devices>
  <seclabel type='dynamic' model='apparmor' relabel='yes'/>
</domain>
