<domain type='kvm' xmlns:qemu='http://libvirt.org/schemas/domain/qemu/1.0'>
  <name>{{ dut_name }}</name>
{% if hwsku  == 'msft_four_asic_vs' %}
  <memory unit='GB'>8</memory>
  <vcpu placement='static'>10</vcpu>
{% elif hwsku  == 'soda-crystalnet' %}
  <memory unit='GB'>8</memory>
  <vcpu placement='static'>8</vcpu>
{% elif hwsku == 'msft_multi_asic_vs' %}
  <memory unit='GB'>8</memory>
  <vcpu placement='static'>16</vcpu>
{% else %}
  <memory unit='KiB'>3072000</memory>
  <currentMemory unit='KiB'>3072000</currentMemory>
  <vcpu placement='static'>4</vcpu>
{% endif %}
  <resource>
    <partition>/machine</partition>
  </resource>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <devices>
    <emulator>/usr/bin/qemu-system-x86_64</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache='writeback'/>
      <source file='{{ disk_image }}'/>
      <target bus='virtio' dev='vda'/>
    </disk>
    <serial type='tcp'>
      <source host='127.0.0.1' mode='bind' service='{{ serial_port }}'/>
      <target port='0'/>
      <protocol type='telnet'/>
    </serial>
    <interface type='ethernet'>
        <target dev='{{ dut_name }}-0' />
        <model type='e1000' />
    </interface>
{% for i in range(port_alias|length) %}
    <interface type='ethernet' >
        <target dev='{{ dut_name }}-{{ i + 1 }}' />
        <model type='e1000' />
        <mtu size='{{ fp_mtu_size }}' />
    </interface>
{% endfor %}
    <controller type='usb' index='0'/>
    <memballoon model='virtio'>
      <alias name='balloon0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x0'/>
    </memballoon>
    <watchdog model='i6300esb'/>
  </devices>
  <seclabel type='dynamic' model='apparmor' relabel='yes'/>
</domain>
